Repository sablier-labs/lockup: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, bun solhint {precompiles,script,src,tests}/**/*.sol --fix --noPrompt, forge fmt

refactor: remove caller constraint from`withdrawFees` (#13)
  bun.lockb
  remappings.txt
  src/SablierMerkleFactory.sol
  src/abstracts/SablierMerkleBase.sol
  src/interfaces/ISablierMerkleBase.sol
  src/interfaces/ISablierMerkleFactory.sol
  src/libraries/Errors.sol
  tests/Base.t.sol
  tests/fork/merkle-campaign/MerkleInstant.t.sol
  tests/fork/merkle-campaign/MerkleLL.t.sol
  tests/fork/merkle-campaign/MerkleLT.t.sol
  tests/integration/Integration.t.sol
  tests/integration/concrete/factory/collect-fees/collectFees.t.sol
  tests/integration/concrete/factory/collect-fees/collectFees.tree
  tests/integration/concrete/factory/create-merkle-instant/createMerkleInstant.t.sol
  tests/integration/concrete/factory/create-merkle-ll/createMerkleLL.t.sol
  tests/integration/concrete/factory/create-merkle-lt/createMerkleLT.t.sol
  tests/integration/concrete/factory/set-default-fee/setDefaultFee.t.sol
  tests/integration/concrete/factory/withdraw-fees/withdrawFees.t.sol
  tests/integration/concrete/factory/withdraw-fees/withdrawFees.tree
  tests/integration/concrete/instant/MerkleInstant.t.sol
  tests/integration/concrete/instant/claim/claim.t.sol
  tests/integration/concrete/instant/constructor.t.sol
  tests/integration/concrete/ll/MerkleLL.t.sol
  tests/integration/concrete/ll/claim/claim.t.sol
  tests/integration/concrete/ll/constructor.t.sol
  tests/integration/concrete/lt/MerkleLT.t.sol
  tests/integration/concrete/lt/claim/claim.t.sol
  tests/integration/concrete/lt/constructor.t.sol
  tests/integration/concrete/shared/claim/claim.t.sol
  tests/integration/concrete/shared/collect-fees/collectFees.t.sol
  tests/integration/concrete/shared/collect-fees/collectFees.tree
  tests/integration/concrete/shared/withdraw-fees/withdrawFees.t.sol
  tests/integration/concrete/shared/withdraw-fees/withdrawFees.tree
  tests/utils/Defaults.sol
  tests/utils/Modifiers.sol
Due: bun solhint {precompiles,script,src,tests}/**/*.sol --fix --noPrompt, forge fmt

build: update bun lockfile
  bun.lockb
Due: none

docs: adds assumption about token decimals
  SECURITY.md
Due: prettier --write

test: remove the missing return value token (#14)
  remappings.txt
  script/Base.s.sol
  script/CreateMerkleInstant.s.sol
  script/CreateMerkleLL.s.sol
  script/CreateMerkleLT.s.sol
  script/DeployDeterministicMerkleFactory.s.sol
  slither.config.json
  tests/Base.t.sol
  tests/mocks/erc20/ERC20MissingReturn.sol
  tests/utils/Assertions.sol
  tests/utils/Defaults.sol
Due: prettier --write, bun solhint {precompiles,script,src,tests}/**/*.sol --fix --noPrompt, forge fmt

style: add ascii art in the contracts (#15)
  src/SablierMerkleFactory.sol
  src/SablierMerkleInstant.sol
  src/SablierMerkleLL.sol
  src/SablierMerkleLT.sol
Due: bun solhint {precompiles,script,src,tests}/**/*.sol --fix --noPrompt, forge fmt

feat: include shape in merkle contracts (#18)
  bun.lockb
  script/CreateMerkleInstant.s.sol
  script/CreateMerkleLL.s.sol
  script/CreateMerkleLT.s.sol
  src/SablierMerkleFactory.sol
  src/SablierMerkleLL.sol
  src/SablierMerkleLT.sol
  src/abstracts/SablierMerkleBase.sol
  src/interfaces/ISablierMerkleBase.sol
  src/libraries/Errors.sol
  src/types/DataTypes.sol
  tests/Base.t.sol
  tests/fork/merkle-campaign/MerkleLL.t.sol
  tests/fork/merkle-campaign/MerkleLT.t.sol
  tests/integration/concrete/factory/create-merkle-instant/createMerkleInstant.t.sol
  tests/integration/concrete/factory/create-merkle-instant/createMerkleInstant.tree
  tests/integration/concrete/factory/create-merkle-ll/createMerkleLL.t.sol
  tests/integration/concrete/factory/create-merkle-ll/createMerkleLL.tree
  tests/integration/concrete/factory/create-merkle-lt/createMerkleLT.t.sol
  tests/integration/concrete/factory/create-merkle-lt/createMerkleLT.tree
  tests/integration/concrete/instant/constructor.t.sol
  tests/integration/concrete/ll/claim/claim.t.sol
  tests/integration/concrete/ll/constructor.t.sol
  tests/integration/concrete/lt/claim/claim.t.sol
  tests/integration/concrete/lt/constructor.t.sol
  tests/utils/Defaults.sol
  tests/utils/Modifiers.sol
Due: bun solhint {precompiles,script,src,tests}/**/*.sol --fix --noPrompt, forge fmt

Little refactors (#17)
  remappings.txt
  script/CreateMerkleLL.s.sol
  script/CreateMerkleLT.s.sol
  src/SablierMerkleFactory.sol
  src/SablierMerkleLL.sol
  src/SablierMerkleLT.sol
  src/abstracts/SablierMerkleBase.sol
  src/interfaces/ISablierMerkleBase.sol
  src/interfaces/ISablierMerkleFactory.sol
  src/interfaces/ISablierMerkleInstant.sol
  src/interfaces/ISablierMerkleLL.sol
  src/interfaces/ISablierMerkleLT.sol
  tests/Base.t.sol
  tests/fork/merkle-campaign/MerkleLL.t.sol
  tests/fork/merkle-campaign/MerkleLT.t.sol
  tests/integration/concrete/ll/constructor.t.sol
  tests/integration/concrete/lt/constructor.t.sol
  tests/utils/Assertions.sol
  tests/utils/Defaults.sol
Due: bun solhint {precompiles,script,src,tests}/**/*.sol --fix --noPrompt, forge fmt

Add murky dep (#19)
  bun.lockb
  package.json
  remappings.txt
  tests/fork/Fork.t.sol
  tests/utils/Defaults.sol
  tests/utils/Murky.sol
Due: prettier --write, bun solhint {precompiles,script,src,tests}/**/*.sol --fix --noPrompt, forge fmt

chore: update precompiles
  precompiles/Precompiles.sol
Due: bun solhint {precompiles,script,src,tests}/**/*.sol --fix --noPrompt, forge fmt

test: import Assertions from lockup (#20)
  tests/fork/merkle-campaign/MerkleLT.t.sol
  tests/integration/concrete/lt/claim/claim.t.sol
  tests/integration/concrete/lt/constructor.t.sol
  tests/utils/Assertions.sol
Due: bun solhint {precompiles,script,src,tests}/**/*.sol --fix --noPrompt, forge fmt

build: add etherscan field in foundry.toml
  foundry.toml
Due: none

build: keep only one etherscan apy key in foundry.toml (#21)
  .env.deployment.example
  foundry.toml
Due: none

test: add `Shared_Integration_Concrete_Test` (#334)
  tests/Base.t.sol
  tests/integration/Integration.t.sol
  tests/integration/concrete/Concrete.t.sol
  tests/integration/concrete/adjust-rate-per-second/adjustRatePerSecond.t.sol
  tests/integration/concrete/batch/batch.t.sol
  tests/integration/concrete/collect-protocol-revenue/collectProtocolRevenue.t.sol
  tests/integration/concrete/constructor.t.sol
  tests/integration/concrete/covered-debt-of/coveredDebtOf.t.sol
  tests/integration/concrete/create-and-deposit/createAndDeposit.t.sol
  tests/integration/concrete/create/create.t.sol
  tests/integration/concrete/depletion-time-of/depletionTimeOf.t.sol
  tests/integration/concrete/deposit-and-pause/depositAndPause.t.sol
  tests/integration/concrete/deposit-via-broker/depositViaBroker.t.sol
  tests/integration/concrete/deposit/deposit.t.sol
  tests/integration/concrete/getters/getters.t.sol
  tests/integration/concrete/ongoing-debt-of/ongoingDebtScaledOf.t.sol
  tests/integration/concrete/pause/pause.t.sol
  tests/integration/concrete/recover/recover.t.sol
  tests/integration/concrete/refund-and-pause/refundAndPause.t.sol
  tests/integration/concrete/refund-max/refundMax.t.sol
  tests/integration/concrete/refund/refund.t.sol
  tests/integration/concrete/refundable-amount-of/refundableAmountOf.t.sol
  tests/integration/concrete/restart-and-deposit/restartAndDeposit.t.sol
  tests/integration/concrete/restart/restart.t.sol
  tests/integration/concrete/set-nft-descriptor/setNFTDescriptor.t.sol
  tests/integration/concrete/set-protocol-fee/setProtocolFee.t.sol
  tests/integration/concrete/status-of/statusOf.t.sol
  tests/integration/concrete/token-uri/tokenURI.t.sol
  tests/integration/concrete/total-debt-of/totalDebtOf.t.sol
  tests/integration/concrete/transfer-from/transferFrom.t.sol
  tests/integration/concrete/uncovered-debt-of/uncoveredDebtOf.t.sol
  tests/integration/concrete/void/void.t.sol
  tests/integration/concrete/withdraw-max/withdrawMax.t.sol
  tests/integration/concrete/withdraw/withdraw.t.sol
  tests/integration/concrete/withdrawable-amount-of/withdrawableAmountOf.t.sol
  tests/integration/fuzz/depletionTimeOf.t.sol
  tests/utils/Modifiers.sol
Due: bun solhint {precompiles,script,src,tests}/**/*.sol --fix --noPrompt, forge fmt

test: fix benchmark imports
  benchmark/Flow.Gas.t.sol
Due: bun solhint {precompiles,script,src,tests}/**/*.sol --fix --noPrompt, forge fmt

fix: include the flow path and version of the deployment
  script/DeploymentLogger.s.sol
Due: bun solhint {precompiles,script,src,tests}/**/*.sol --fix --noPrompt, forge fmt

build: add missing chains (#343)
  foundry.toml
  script/DeploymentLogger.s.sol
Due: bun solhint {precompiles,script,src,tests}/**/*.sol --fix --noPrompt, forge fmt

build: add more endpoints
  foundry.toml
  script/DeploymentLogger.s.sol
Due: bun solhint {precompiles,script,src,tests}/**/*.sol --fix --noPrompt, forge fmt

chore: remove private from package.json
  package.json
Due: prettier --write

build: add dep using commit hash (#23)
  bun.lockb
  package.json
Due: prettier --write

test: run fork test against mainnet deployment (#345)
  tests/Base.t.sol
  tests/fork/Fork.t.sol
  tests/integration/concrete/set-nft-descriptor/setNFTDescriptor.t.sol
  tests/integration/concrete/token-uri/tokenURI.t.sol
Due: bun solhint {precompiles,script,src,tests}/**/*.sol --fix --noPrompt, forge fmt

test: check diff for admin balance in fork tests (#24)
  .github/workflows/ci-deep.yml
  .github/workflows/ci-fork.yml
  tests/fork/merkle-campaign/MerkleInstant.t.sol
  tests/fork/merkle-campaign/MerkleLL.t.sol
  tests/fork/merkle-campaign/MerkleLT.t.sol
Due: prettier --write, bun solhint {precompiles,script,src,tests}/**/*.sol --fix --noPrompt, forge fmt

docs: update explanations in README (#346)
  README.md
Due: prettier --write

docs: use cdot
  README.md
Due: prettier --write

perf: store shape and campaign name in storage as bytes32 (#26)
  src/SablierMerkleLL.sol
  src/SablierMerkleLT.sol
  src/abstracts/SablierMerkleBase.sol
  src/types/DataTypes.sol
  tests/utils/Defaults.sol
Due: bun solhint {precompiles,script,src,tests}/**/*.sol --fix --noPrompt, forge fmt

chore: update precompiles
  bun.lockb
  package.json
  precompiles/Precompiles.sol
Due: prettier --write, bun solhint {precompiles,script,src,tests}/**/*.sol --fix --noPrompt, forge fmt

feat: add eth fees in flow functions (#348)
  src/SablierFlow.sol
  src/abstracts/Batch.sol
  src/abstracts/SablierFlowBase.sol
  src/interfaces/IBatch.sol
  src/interfaces/ISablierFlow.sol
  src/interfaces/ISablierFlowBase.sol
  src/libraries/Errors.sol
  tests/Base.t.sol
  tests/fork/Flow.t.sol
  tests/fork/Fork.t.sol
  tests/integration/concrete/collect-fees/collectFees.t.sol
  tests/integration/concrete/collect-fees/collectFees.tree
  tests/integration/concrete/payable/payable.t.sol
  tests/integration/concrete/payable/payable.tree
  tests/mocks/Receive.sol
  tests/utils/Constants.sol
  tests/utils/Modifiers.sol
Due: bun solhint {precompiles,script,src,tests}/**/*.sol --fix --noPrompt, forge fmt

ci: run workflow on push to staging
  .github/workflows/ci.yml
Due: prettier --write

build: bump package to v1.1.0
  package.json
Due: prettier --write

test: payable in batch (#349)
  tests/integration/concrete/payable/payable.t.sol
  tests/integration/concrete/payable/payable.tree
Due: bun solhint {precompiles,script,src,tests}/**/*.sol --fix --noPrompt, forge fmt

fix: use percantages in schedule (#28)
  precompiles/Precompiles.sol
  script/CreateMerkleLL.s.sol
  src/SablierMerkleLL.sol
  src/types/DataTypes.sol
  tests/fork/merkle-campaign/MerkleLL.t.sol
  tests/integration/concrete/ll/claim/claim.t.sol
  tests/integration/concrete/ll/claim/claim.tree
  tests/integration/concrete/ll/constructor.t.sol
  tests/utils/Defaults.sol
  tests/utils/Modifiers.sol
Due: bun solhint {precompiles,script,src,tests}/**/*.sol --fix --noPrompt, forge fmt

test: refactor batch tests (#355)
  tests/integration/concrete/batch/batch.t.sol
Due: bun solhint {precompiles,script,src,tests}/**/*.sol --fix --noPrompt, forge fmt

test(fork): avoid recipient to be the protocol admin
  tests/fork/merkle-campaign/MerkleInstant.t.sol
  tests/fork/merkle-campaign/MerkleLL.t.sol
  tests/fork/merkle-campaign/MerkleLT.t.sol
Due: bun solhint {precompiles,script,src,tests}/**/*.sol --fix --noPrompt, forge fmt

ci: run cron jobs on Wed and Sat
  .github/workflows/ci-deep.yml
Due: prettier --write

test: fix typo (#34)
  tests/integration/concrete/ll/constructor.t.sol
Due: bun solhint {precompiles,script,src,tests}/**/*.sol --fix --noPrompt, forge fmt

refactor: batch function (#358)
  remappings.txt
  src/abstracts/Batch.sol
  src/interfaces/IBatch.sol
  tests/fork/Fork.t.sol
  tests/integration/concrete/batch/batch.t.sol
Due: bun solhint {precompiles,script,src,tests}/**/*.sol --fix --noPrompt, forge fmt

docs: native tokens instead of ETH
  src/interfaces/ISablierFlowBase.sol
Due: bun solhint {precompiles,script,src,tests}/**/*.sol --fix --noPrompt, forge fmt

docs: polish event natspec
  src/interfaces/ISablierFlow.sol
  src/interfaces/ISablierFlowBase.sol
Due: bun solhint {precompiles,script,src,tests}/**/*.sol --fix --noPrompt, forge fmt

docs: include a warning note for statusOf (#363)
  src/interfaces/ISablierFlow.sol
Due: bun solhint {precompiles,script,src,tests}/**/*.sol --fix --noPrompt, forge fmt

Address audit findings 5, 12, and 13 (#38)
  src/SablierMerkleLL.sol
  src/SablierMerkleLT.sol
  src/interfaces/ISablierMerkleBase.sol
  src/interfaces/ISablierMerkleFactory.sol
  src/interfaces/ISablierMerkleLL.sol
  src/types/DataTypes.sol
  tests/integration/concrete/ll/claim/claim.t.sol
  tests/integration/concrete/lt/claim/claim.t.sol
Due: bun solhint {precompiles,script,src,tests}/**/*.sol --fix --noPrompt, forge fmt

Path conditions:
  prettier --write: any of: *.{json,md,yml}
  bun solhint {precompiles,script,src,tests}/**/*.sol --fix --noPrompt: any of: *.sol
  forge fmt: any of: *.sol
