Repository sablier-labs/airdrops: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, bun solhint {precompiles,script,src,tests}/**/*.sol --fix --noPrompt, forge fmt

revert some changes
  script/Base.s.sol
  src/abstracts/SablierMerkleBase.sol
  tests/integration/concrete/campaign/instant/constructor.t.sol
  tests/integration/concrete/campaign/ll/constructor.t.sol
  tests/integration/concrete/campaign/lt/constructor.t.sol
  tests/integration/concrete/campaign/vca/constructor.t.sol
Due: bun solhint {precompiles,script,src,tests}/**/*.sol --fix --noPrompt, forge fmt

script: add initialMinimumFee in Base script test: add BaseScript_Test test: revert changes in create script
  script/Base.s.sol
  script/CreateMerkleInstant.s.sol
  script/CreateMerkleLL.s.sol
  script/CreateMerkleLT.s.sol
  script/CreateMerkleVCA.s.sol
  script/DeployDeterministicMerkleFactories.s.sol
  script/DeployMerkleFactories.s.sol
  tests/utils/BaseScript.t.sol
Due: bun solhint {precompiles,script,src,tests}/**/*.sol --fix --noPrompt, forge fmt

refactor test name
  tests/integration/concrete/factory/shared/set-oracle/setOracle.t.sol
  tests/integration/concrete/factory/shared/set-oracle/setOracle.tree
Due: bun solhint {precompiles,script,src,tests}/**/*.sol --fix --noPrompt, forge fmt

move campaignType back to minimumFeeInWei.t.sol
  tests/integration/Integration.t.sol
  tests/integration/concrete/campaign/instant/MerkleInstant.t.sol
  tests/integration/concrete/campaign/ll/MerkleLL.t.sol
  tests/integration/concrete/campaign/lt/MerkleLT.t.sol
  tests/integration/concrete/campaign/shared/minimum-fee-in-wei/minimumFeeInWei.t.sol
  tests/integration/concrete/campaign/vca/MerkleVCA.t.sol
Due: bun solhint {precompiles,script,src,tests}/**/*.sol --fix --noPrompt, forge fmt

andrei's suggestion about resetCustomFee.t.sol
  tests/integration/concrete/factory/shared/reset-custom-fee/resetCustomFee.t.sol
  tests/integration/concrete/factory/shared/reset-custom-fee/resetCustomFee.tree
Due: bun solhint {precompiles,script,src,tests}/**/*.sol --fix --noPrompt, forge fmt

use assertNotEq in resetCustomFee
  tests/integration/concrete/factory/shared/reset-custom-fee/resetCustomFee.t.sol
Due: bun solhint {precompiles,script,src,tests}/**/*.sol --fix --noPrompt, forge fmt

use assertNotEq in setCustomFee
  tests/integration/concrete/factory/shared/reset-custom-fee/resetCustomFee.t.sol
  tests/integration/concrete/factory/shared/set-custom-fee/setCustomFee.t.sol
Due: bun solhint {precompiles,script,src,tests}/**/*.sol --fix --noPrompt, forge fmt

test: revert multichain fork tests removal
  script/Base.sol
  script/CreateMerkleInstant.s.sol
  script/CreateMerkleLL.s.sol
  script/CreateMerkleLT.s.sol
  script/CreateMerkleVCA.s.sol
  script/DeployDeterministicMerkleFactories.s.sol
  script/DeployMerkleFactories.s.sol
  tests/fork/chainlink-oracle/ChainlinkOracle.t.sol
  tests/utils/BaseScript.t.sol
  tests/utils/ChainlinkOracleMock.sol
Due: bun solhint {precompiles,script,src,tests}/**/*.sol --fix --noPrompt, forge fmt

test: say chainlink oracle instead of price feed
  tests/fork/chainlink-oracle/ChainlinkOracle.t.sol
Due: bun solhint {precompiles,script,src,tests}/**/*.sol --fix --noPrompt, forge fmt

tests: polish chainlink oracle tests
  tests/fork/chainlink-oracle/ChainlinkOracle.t.sol
Due: bun solhint {precompiles,script,src,tests}/**/*.sol --fix --noPrompt, forge fmt

test: dry-fy fork tests
  tests/Base.t.sol
  tests/fork/merkle-campaign/Merkle.t.sol
  tests/fork/merkle-campaign/MerkleInstant.t.sol
  tests/fork/merkle-campaign/MerkleLL.t.sol
  tests/fork/merkle-campaign/MerkleLT.t.sol
  tests/fork/merkle-campaign/MerkleVCA.t.sol
  tests/integration/Integration.t.sol
  tests/integration/concrete/campaign/instant/MerkleInstant.t.sol
  tests/integration/concrete/campaign/ll/MerkleLL.t.sol
  tests/integration/concrete/campaign/lt/MerkleLT.t.sol
  tests/integration/concrete/campaign/vca/MerkleVCA.t.sol
Due: bun solhint {precompiles,script,src,tests}/**/*.sol --fix --noPrompt, forge fmt

test(fork): run fork tests without forking the chain in non-production environment
  tests/fork/Fork.t.sol
Due: bun solhint {precompiles,script,src,tests}/**/*.sol --fix --noPrompt, forge fmt

rename campaignOwner to campaignCreator in Users struct
  tests/Base.t.sol
  tests/integration/Integration.t.sol
  tests/integration/concrete/campaign/instant/constructor.t.sol
  tests/integration/concrete/campaign/ll/claim/claim.t.sol
  tests/integration/concrete/campaign/ll/constructor.t.sol
  tests/integration/concrete/campaign/lt/claim/claim.t.sol
  tests/integration/concrete/campaign/lt/constructor.t.sol
  tests/integration/concrete/campaign/shared/clawback/clawback.t.sol
  tests/integration/concrete/campaign/shared/lower-minimum-fee/lowerMinimumFee.t.sol
  tests/integration/concrete/campaign/vca/constructor.t.sol
  tests/integration/concrete/factory/instant/create-merkle-instant/createMerkleInstant.t.sol
  tests/integration/concrete/factory/ll/create-merkle-ll/createMerkleLL.t.sol
  tests/integration/concrete/factory/lt/create-merkle-lt/createMerkleLT.t.sol
  tests/integration/concrete/factory/shared/get-fee/getFee.t.sol
  tests/integration/concrete/factory/shared/reset-custom-fee/resetCustomFee.t.sol
  tests/integration/concrete/factory/shared/set-custom-fee/setCustomFee.t.sol
  tests/integration/concrete/factory/vca/create-merkle-vca/createMerkleVCA.t.sol
  tests/utils/Modifiers.sol
  tests/utils/Types.sol
Due: bun solhint {precompiles,script,src,tests}/**/*.sol --fix --noPrompt, forge fmt

build: add more endpoints
  foundry.toml
Due: none

build: add more endpoints (#83)
  foundry.toml
Due: none

add claim test
  foundry.toml
  tests/Base.t.sol
  tests/integration/concrete/campaign/ll/claim/claim.t.sol
  tests/integration/concrete/campaign/lt/claim/claim.t.sol
  tests/integration/fuzz/factory/MerkleLL.t.sol
  tests/integration/fuzz/factory/createMerkleLL.t.sol
Due: bun solhint {precompiles,script,src,tests}/**/*.sol --fix --noPrompt, forge fmt

complete fuzz tests for MerkleLL and MerkleInstant
  foundry.toml
  tests/integration/fuzz/Fuzz.t.sol
  tests/integration/fuzz/MerkleInstant.t.sol
  tests/integration/fuzz/MerkleLL.t.sol
  tests/integration/fuzz/factory/MerkleLL.t.sol
  tests/integration/fuzz/factory/createMerkleInstant.t.sol
  tests/integration/fuzz/factory/createMerkleLT.t.sol
  tests/integration/fuzz/factory/createMerkleVCA.t.sol
  tests/integration/fuzz/factory/setCustomFee.t.sol
  tests/integration/fuzz/factory/setMinimumFee.t.sol
  tests/utils/Assertions.sol
Due: bun solhint {precompiles,script,src,tests}/**/*.sol --fix --noPrompt, forge fmt

test(fuzz): merklLT
  tests/Base.t.sol
  tests/fork/merkle-campaign/MerkleLT.t.sol
  tests/integration/fuzz/MerkleInstant.t.sol
  tests/integration/fuzz/MerkleLT.t.sol
  tests/utils/Fuzzers.sol
Due: bun solhint {precompiles,script,src,tests}/**/*.sol --fix --noPrompt, forge fmt

dryify claim test
  tests/integration/fuzz/Fuzz.t.sol
  tests/integration/fuzz/MerkleInstant.t.sol
  tests/integration/fuzz/MerkleLL.t.sol
  tests/integration/fuzz/MerkleLT.t.sol
  tests/utils/Fuzzers.sol
Due: bun solhint {precompiles,script,src,tests}/**/*.sol --fix --noPrompt, forge fmt

test: dry-fy fork tests
  tests/Base.t.sol
  tests/fork/merkle-campaign/MerkleBase.t.sol
  tests/fork/merkle-campaign/MerkleInstant.t.sol
  tests/fork/merkle-campaign/MerkleLL.t.sol
  tests/fork/merkle-campaign/MerkleLT.t.sol
  tests/fork/merkle-campaign/MerkleVCA.t.sol
  tests/integration/Integration.t.sol
  tests/integration/concrete/campaign/instant/MerkleInstant.t.sol
  tests/integration/concrete/campaign/ll/MerkleLL.t.sol
  tests/integration/concrete/campaign/lt/MerkleLT.t.sol
  tests/integration/concrete/campaign/vca/MerkleVCA.t.sol
Due: bun solhint {precompiles,script,src,tests}/**/*.sol --fix --noPrompt, forge fmt

test: dry-fy fork tests (#82)
  tests/Base.t.sol
  tests/fork/merkle-campaign/MerkleBase.t.sol
  tests/fork/merkle-campaign/MerkleInstant.t.sol
  tests/fork/merkle-campaign/MerkleLL.t.sol
  tests/fork/merkle-campaign/MerkleLT.t.sol
  tests/fork/merkle-campaign/MerkleVCA.t.sol
  tests/integration/Integration.t.sol
  tests/integration/concrete/campaign/instant/MerkleInstant.t.sol
  tests/integration/concrete/campaign/ll/MerkleLL.t.sol
  tests/integration/concrete/campaign/lt/MerkleLT.t.sol
  tests/integration/concrete/campaign/vca/MerkleVCA.t.sol
Due: bun solhint {precompiles,script,src,tests}/**/*.sol --fix --noPrompt, forge fmt

test: add fuzz tests for merkle contracts
  foundry.toml
  tests/Base.t.sol
  tests/fork/merkle-campaign/MerkleInstant.t.sol
  tests/fork/merkle-campaign/MerkleLL.t.sol
  tests/fork/merkle-campaign/MerkleLT.t.sol
  tests/fork/merkle-campaign/MerkleVCA.t.sol
  tests/integration/Integration.t.sol
  tests/integration/concrete/campaign/instant/MerkleInstant.t.sol
  tests/integration/concrete/campaign/instant/constructor.t.sol
  tests/integration/concrete/campaign/ll/MerkleLL.t.sol
  tests/integration/concrete/campaign/ll/claim/claim.t.sol
  tests/integration/concrete/campaign/ll/constructor.t.sol
  tests/integration/concrete/campaign/lt/MerkleLT.t.sol
  tests/integration/concrete/campaign/lt/claim/claim.t.sol
  tests/integration/concrete/campaign/lt/constructor.t.sol
  tests/integration/concrete/campaign/shared/clawback/clawback.t.sol
  tests/integration/concrete/campaign/shared/has-expired/hasExpired.t.sol
  tests/integration/concrete/campaign/shared/has-expired/hasExpired.tree
  tests/integration/concrete/campaign/shared/lower-minimum-fee/lowerMinimumFee.t.sol
  tests/integration/concrete/campaign/shared/minimum-fee-in-wei/minimumFeeInWei.t.sol
  tests/integration/concrete/campaign/vca/MerkleVCA.t.sol
  tests/integration/concrete/campaign/vca/constructor.t.sol
  tests/integration/concrete/factory/instant/create-merkle-instant/createMerkleInstant.t.sol
  tests/integration/concrete/factory/ll/create-merkle-ll/createMerkleLL.t.sol
  tests/integration/concrete/factory/lt/create-merkle-lt/createMerkleLT.t.sol
  tests/integration/concrete/factory/shared/get-fee/getFee.t.sol
  tests/integration/concrete/factory/shared/reset-custom-fee/resetCustomFee.t.sol
  tests/integration/concrete/factory/shared/set-custom-fee/setCustomFee.t.sol
  tests/integration/concrete/factory/shared/set-minimum-fee/setMinimumFee.t.sol
  tests/integration/concrete/factory/vca/create-merkle-vca/createMerkleVCA.t.sol
  tests/integration/fuzz/Fuzz.t.sol
  tests/integration/fuzz/MerkleInstant.t.sol
  tests/integration/fuzz/MerkleLL.t.sol
  tests/integration/fuzz/MerkleLT.t.sol
  tests/integration/fuzz/MerkleVCA.t.sol
  tests/utils/Assertions.sol
  tests/utils/Fuzzers.sol
  tests/utils/Modifiers.sol
  tests/utils/Types.sol
Due: bun solhint {precompiles,script,src,tests}/**/*.sol --fix --noPrompt, forge fmt

build: add 50 fuzz runs in lite profile
  foundry.toml
  tests/Base.t.sol
  tests/integration/Integration.t.sol
  tests/integration/concrete/campaign/instant/MerkleInstant.t.sol
  tests/integration/concrete/campaign/ll/MerkleLL.t.sol
  tests/integration/concrete/campaign/lt/MerkleLT.t.sol
  tests/integration/fuzz/MerkleInstant.t.sol
  tests/integration/fuzz/MerkleLL.t.sol
  tests/integration/fuzz/MerkleLT.t.sol
  tests/integration/fuzz/MerkleVCA.t.sol
Due: bun solhint {precompiles,script,src,tests}/**/*.sol --fix --noPrompt, forge fmt

docs: refactor SECURITY doc
  SECURITY.md
Due: prettier --write

docs: smol polish
  SECURITY.md
Due: prettier --write

docs: refactor SECURITY doc (#87)
  SECURITY.md
Due: prettier --write

build: use solc 0.8.29
  .github/workflows/multibuild.yml
  foundry.toml
Due: prettier --write

build: use solc 0.8.29 (#88)
  .github/workflows/multibuild.yml
  foundry.toml
Due: prettier --write

ci: rename multibuild workflow
  .github/workflows/ci-multibuild.yml
Due: prettier --write

ci: run ci on each commit in staging
  .github/workflows/ci.yml
Due: prettier --write

Rename campaign owner to campaign creator
  README.md
  tests/Base.t.sol
  tests/fork/merkle-campaign/MerkleBase.t.sol
  tests/fork/merkle-campaign/MerkleInstant.t.sol
  tests/fork/merkle-campaign/MerkleLL.t.sol
  tests/fork/merkle-campaign/MerkleLT.t.sol
  tests/fork/merkle-campaign/MerkleVCA.t.sol
  tests/integration/concrete/campaign/ll/MerkleLL.t.sol
  tests/integration/concrete/campaign/ll/claim/claim.t.sol
  tests/integration/concrete/campaign/lt/MerkleLT.t.sol
  tests/integration/concrete/campaign/lt/claim/claim.t.sol
  tests/integration/concrete/campaign/shared/clawback/clawback.t.sol
  tests/integration/concrete/campaign/shared/clawback/clawback.tree
  tests/integration/concrete/factory/vca/create-merkle-vca/createMerkleVCA.t.sol
  tests/utils/Modifiers.sol
Due: prettier --write, bun solhint {precompiles,script,src,tests}/**/*.sol --fix --noPrompt, forge fmt

test: move PRBMathUtils into Fuzzers test: fix incorrect modifier in VCA tests test(fuzz): rename function names test(fuzz): rename enabled to enableCustomFee test: polish wordings
  tests/Base.t.sol
  tests/integration/concrete/factory/shared/reset-custom-fee/resetCustomFee.t.sol
  tests/integration/concrete/factory/vca/create-merkle-vca/createMerkleVCA.t.sol
  tests/integration/fuzz/Fuzz.t.sol
  tests/integration/fuzz/MerkleInstant.t.sol
  tests/integration/fuzz/MerkleLL.t.sol
  tests/integration/fuzz/MerkleLT.t.sol
  tests/integration/fuzz/MerkleVCA.t.sol
  tests/utils/Fuzzers.sol
  tests/utils/Modifiers.sol
Due: bun solhint {precompiles,script,src,tests}/**/*.sol --fix --noPrompt, forge fmt

test(fuzz): change upper bound for start time in Merkle LT
  tests/integration/fuzz/MerkleLT.t.sol
Due: bun solhint {precompiles,script,src,tests}/**/*.sol --fix --noPrompt, forge fmt

test(fuzz): claim airdrop by a philanthropist instead of users.recipient
  tests/integration/fuzz/Fuzz.t.sol
Due: bun solhint {precompiles,script,src,tests}/**/*.sol --fix --noPrompt, forge fmt

test: dry-fy fuzz tests
  tests/integration/fuzz/Fuzz.t.sol
  tests/integration/fuzz/MerkleInstant.t.sol
  tests/integration/fuzz/MerkleLL.t.sol
  tests/integration/fuzz/MerkleLT.t.sol
  tests/integration/fuzz/MerkleVCA.t.sol
Due: bun solhint {precompiles,script,src,tests}/**/*.sol --fix --noPrompt, forge fmt

test(fuzz): move testSetCustomFee into testFuzz
  tests/integration/fuzz/Fuzz.t.sol
  tests/integration/fuzz/MerkleInstant.t.sol
  tests/integration/fuzz/MerkleLL.t.sol
  tests/integration/fuzz/MerkleLT.t.sol
  tests/integration/fuzz/MerkleVCA.t.sol
Due: bun solhint {precompiles,script,src,tests}/**/*.sol --fix --noPrompt, forge fmt

docs: improve natspecs docs: add assumption about token with multiple entry points
  SECURITY.md
  src/SablierMerkleVCA.sol
  src/abstracts/SablierMerkleFactoryBase.sol
  src/interfaces/ISablierMerkleBase.sol
  src/types/DataTypes.sol
Due: prettier --write, bun solhint {precompiles,script,src,tests}/**/*.sol --fix --noPrompt, forge fmt

feat: implement setNativeToken
  src/abstracts/SablierMerkleFactoryBase.sol
  src/interfaces/ISablierMerkleFactoryBase.sol
  src/libraries/Errors.sol
Due: bun solhint {precompiles,script,src,tests}/**/*.sol --fix --noPrompt, forge fmt

test: dryify merkle tree related functions
  tests/Base.t.sol
  tests/fork/merkle-campaign/MerkleBase.t.sol
  tests/integration/fuzz/Fuzz.t.sol
  tests/integration/fuzz/MerkleInstant.t.sol
  tests/integration/fuzz/MerkleLL.t.sol
  tests/integration/fuzz/MerkleLT.t.sol
  tests/integration/fuzz/MerkleVCA.t.sol
  tests/utils/MerkleBuilder.sol
Due: bun solhint {precompiles,script,src,tests}/**/*.sol --fix --noPrompt, forge fmt

Path conditions:
  prettier --write: any of: *.{json,md,svg,yml}
  bun solhint {precompiles,script,src,tests}/**/*.sol --fix --noPrompt: any of: *.sol
  forge fmt: any of: *.sol
