Repository sablier-labs/lockup: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, bun solhint {precompiles,script,src,tests}/**/*.sol --fix --noPrompt, forge fmt

docs: add NatSpec for the token
  src/interfaces/ISablierLockup.sol
Due: bun solhint {precompiles,script,src,tests}/**/*.sol --fix --noPrompt, forge fmt

chore: rename custom error
  src/abstracts/SablierLockupBase.sol
  src/interfaces/ISablierLockupBase.sol
  src/libraries/Errors.sol
  tests/integration/concrete/lockup-base/set-native-token/setNativeToken.t.sol
Due: bun solhint {precompiles,script,src,tests}/**/*.sol --fix --noPrompt, forge fmt

typo
  src/interfaces/ISablierLockupBase.sol
Due: bun solhint {precompiles,script,src,tests}/**/*.sol --fix --noPrompt, forge fmt

build: 500 optimizer runs
  foundry.toml
Due: none

feat: add Noop contract
  src/mocks/Noop.sol
Due: bun solhint {precompiles,script,src,tests}/**/*.sol --fix --noPrompt, forge fmt

docs: polish comments
  src/abstracts/SablierLockupBase.sol
  src/interfaces/ISablierLockupBase.sol
  src/libraries/Errors.sol
  tests/integration/concrete/lockup-base/set-native-token/setNativeToken.t.sol
Due: bun solhint {precompiles,script,src,tests}/**/*.sol --fix --noPrompt, forge fmt

Audit fixes (#1209)
  SECURITY.md
  foundry.toml
  package.json
  src/SablierLockup.sol
  src/abstracts/SablierLockupBase.sol
  src/interfaces/ISablierLockup.sol
  src/interfaces/ISablierLockupBase.sol
  src/libraries/Errors.sol
  src/libraries/Helpers.sol
  tests/integration/concrete/lockup-base/create-with-timestamps/createWithTimestamps.t.sol
  tests/integration/concrete/lockup-base/create-with-timestamps/createWithTimestamps.tree
  tests/integration/concrete/lockup-base/set-native-token/setNativeToken.t.sol
  tests/integration/concrete/lockup-base/set-native-token/setNativeToken.tree
  tests/integration/concrete/lockup-dynamic/create-with-timestamps-ld/createWithTimestampsLD.t.sol
  tests/integration/concrete/lockup-linear/create-with-timestamps-ll/createWithTimestampsLL.t.sol
  tests/integration/concrete/lockup-tranched/create-with-timestamps-lt/createWithTimestampsLT.t.sol
  tests/utils/Modifiers.sol
Due: prettier --write, bun solhint {precompiles,script,src,tests}/**/*.sol --fix --noPrompt, forge fmt

Audit fixes (#1209)
  SECURITY.md
  bun.lockb
  foundry.toml
  package.json
  src/SablierLockup.sol
  src/abstracts/SablierLockupBase.sol
  src/interfaces/ISablierLockup.sol
  src/interfaces/ISablierLockupBase.sol
  src/libraries/Errors.sol
  src/libraries/Helpers.sol
  tests/integration/concrete/lockup-base/create-with-timestamps/createWithTimestamps.t.sol
  tests/integration/concrete/lockup-base/create-with-timestamps/createWithTimestamps.tree
  tests/integration/concrete/lockup-base/set-native-token/setNativeToken.t.sol
  tests/integration/concrete/lockup-base/set-native-token/setNativeToken.tree
  tests/integration/concrete/lockup-dynamic/create-with-timestamps-ld/createWithTimestampsLD.t.sol
  tests/integration/concrete/lockup-linear/create-with-timestamps-ll/createWithTimestampsLL.t.sol
  tests/integration/concrete/lockup-tranched/create-with-timestamps-lt/createWithTimestampsLT.t.sol
  tests/utils/Modifiers.sol
Due: prettier --write, bun solhint {precompiles,script,src,tests}/**/*.sol --fix --noPrompt, forge fmt

fix: audit recommendations (#93)
  SECURITY.md
  package.json
  src/SablierMerkleFactoryInstant.sol
  src/SablierMerkleFactoryLL.sol
  src/SablierMerkleFactoryLT.sol
  src/SablierMerkleFactoryVCA.sol
  src/SablierMerkleLT.sol
  src/SablierMerkleVCA.sol
  src/abstracts/SablierMerkleBase.sol
  src/abstracts/SablierMerkleFactoryBase.sol
  src/interfaces/ISablierMerkleBase.sol
  src/interfaces/ISablierMerkleFactoryBase.sol
  src/libraries/Errors.sol
  src/types/DataTypes.sol
  tests/Base.t.sol
  tests/integration/concrete/campaign/shared/minimum-fee-in-wei/minimumFeeInWei.t.sol
  tests/integration/concrete/campaign/shared/minimum-fee-in-wei/minimumFeeInWei.tree
  tests/integration/concrete/factory/instant/MerkleFactoryInstant.t.sol
  tests/integration/concrete/factory/instant/create-merkle-instant/createMerkleInstant.t.sol
  tests/integration/concrete/factory/instant/create-merkle-instant/createMerkleInstant.tree
  tests/integration/concrete/factory/ll/MerkleFactoryLL.t.sol
  tests/integration/concrete/factory/ll/create-merkle-ll/createMerkleLL.t.sol
  tests/integration/concrete/factory/ll/create-merkle-ll/createMerkleLL.tree
  tests/integration/concrete/factory/lt/MerkleFactoryLT.t.sol
  tests/integration/concrete/factory/lt/create-merkle-lt/createMerkleLT.t.sol
  tests/integration/concrete/factory/lt/create-merkle-lt/createMerkleLT.tree
  tests/integration/concrete/factory/shared/set-native-token/setNativeToken.t.sol
  tests/integration/concrete/factory/shared/set-native-token/setNativeToken.tree
  tests/integration/concrete/factory/shared/set-oracle/setOracle.t.sol
  tests/integration/concrete/factory/vca/MerkleFactoryVCA.t.sol
  tests/integration/concrete/factory/vca/create-merkle-vca/createMerkleVCA.t.sol
  tests/integration/concrete/factory/vca/create-merkle-vca/createMerkleVCA.tree
  tests/utils/ChainlinkMocks.sol
  tests/utils/ChainlinkOracleMock.sol
  tests/utils/Modifiers.sol
Due: prettier --write, bun solhint {precompiles,script,src,tests}/**/*.sol --fix --noPrompt, forge fmt

Audit fixes (#405)
  SECURITY.md
  bun.lockb
  package.json
  src/SablierFlow.sol
  src/abstracts/SablierFlowBase.sol
  src/interfaces/ISablierFlow.sol
  src/interfaces/ISablierFlowBase.sol
  src/libraries/Errors.sol
  src/libraries/Helpers.sol
  tests/integration/concrete/create/create.t.sol
  tests/integration/concrete/create/create.tree
  tests/integration/concrete/set-native-token/setNativeToken.t.sol
  tests/integration/concrete/set-native-token/setNativeToken.tree
  tests/integration/fuzz/TransferFrom.t.sol
  tests/integration/fuzz/transferTokens.t.sol
  tests/utils/Modifiers.sol
Due: prettier --write, bun solhint {precompiles,script,src,tests}/**/*.sol --fix --noPrompt, forge fmt

docs: add guide for hardhat chore: add ultra endpoint
  HARDHAT_GUIDE.md
  hardhat.config.ts
Due: prettier --write

docs: update contributing guide
  .vscode/settings.json
  CONTRIBUTING.md
  package.json
Due: prettier --write

feat: add setMsgSender testing utils (#14)
  src/tests/BaseTest.sol
  tests/Unit.t.sol
  tests/concrete/transfer-admin/transferAdmin.t.sol
  tests/fuzz/transfer-admin/transferAdmin.t.sol
Due: bun solhint {precompiles,script,src,tests}/**/*.sol --fix --noPrompt, forge fmt

build: bump evm utils
  bun.lockb
  package.json
  tests/Base.t.sol
  tests/fork/Fork.t.sol
  tests/fork/Lockup.t.sol
  tests/integration/Integration.t.sol
  tests/integration/concrete/batch/batch.t.sol
  tests/integration/concrete/lockup-base/allow-to-hook/allowToHook.t.sol
  tests/integration/concrete/lockup-base/burn/burn.t.sol
  tests/integration/concrete/lockup-base/cancel/cancel.t.sol
  tests/integration/concrete/lockup-base/collect-fees/collectFees.t.sol
  tests/integration/concrete/lockup-base/create-with-timestamps/createWithTimestamps.t.sol
  tests/integration/concrete/lockup-base/getters/getters.t.sol
  tests/integration/concrete/lockup-base/recover/recover.t.sol
  tests/integration/concrete/lockup-base/renounce-multiple/renounceMultiple.t.sol
  tests/integration/concrete/lockup-base/set-native-token/setNativeToken.t.sol
  tests/integration/concrete/lockup-base/set-nft-descriptor/setNFTDescriptor.t.sol
  tests/integration/concrete/lockup-base/transfer-from/transferFrom.t.sol
  tests/integration/concrete/lockup-base/withdraw-hooks/withdrawHooks.t.sol
  tests/integration/concrete/lockup-base/withdraw-max-and-transfer/withdrawMaxAndTransfer.t.sol
  tests/integration/concrete/lockup-base/withdraw-multiple/withdrawMultiple.t.sol
  tests/integration/concrete/lockup-base/withdraw/withdraw.t.sol
  tests/integration/concrete/lockup-dynamic/create-with-timestamps-ld/createWithTimestampsLD.t.sol
  tests/integration/concrete/lockup-tranched/create-with-timestamps-lt/createWithTimestampsLT.t.sol
  tests/integration/fuzz/lockup-base/withdraw.t.sol
  tests/integration/fuzz/lockup-dynamic/createWithTimestampsLD.t.sol
  tests/integration/fuzz/lockup-dynamic/withdraw.t.sol
  tests/integration/fuzz/lockup-linear/createWithTimestampsLL.t.sol
  tests/integration/fuzz/lockup-tranched/createWithTimestampsLT.t.sol
  tests/integration/fuzz/lockup-tranched/withdraw.t.sol
  tests/invariant/handlers/BaseHandler.sol
  tests/invariant/handlers/LockupAdminHandler.sol
  tests/invariant/handlers/LockupHandler.sol
  tests/utils/EstimateMaxCount.sol
  tests/utils/Modifiers.sol
Due: prettier --write, bun solhint {precompiles,script,src,tests}/**/*.sol --fix --noPrompt, forge fmt

build: bump evm utild (#410)
  bun.lockb
  package.json
  tests/Base.t.sol
  tests/fork/Flow.t.sol
  tests/fork/Fork.t.sol
  tests/integration/Integration.t.sol
  tests/integration/concrete/Concrete.t.sol
  tests/integration/concrete/collect-fees/collectFees.t.sol
  tests/integration/concrete/create/create.t.sol
  tests/integration/concrete/payable/payable.t.sol
  tests/integration/concrete/recover/recover.t.sol
  tests/integration/concrete/set-native-token/setNativeToken.t.sol
  tests/integration/concrete/set-nft-descriptor/setNFTDescriptor.t.sol
  tests/integration/concrete/transfer-from/transferFrom.t.sol
  tests/integration/concrete/void/void.t.sol
  tests/integration/concrete/withdraw/withdraw.t.sol
  tests/integration/fuzz/Fuzz.t.sol
  tests/integration/fuzz/deposit.t.sol
  tests/integration/fuzz/transferTokens.t.sol
  tests/integration/fuzz/void.t.sol
  tests/integration/fuzz/withdraw.t.sol
  tests/integration/fuzz/withdrawMax.t.sol
  tests/invariant/handlers/FlowAdminHandler.sol
  tests/invariant/handlers/FlowCreateHandler.sol
  tests/invariant/handlers/FlowHandler.sol
  tests/utils/Modifiers.sol
Due: prettier --write, bun solhint {precompiles,script,src,tests}/**/*.sol --fix --noPrompt, forge fmt

build: bump evm utils (#1225)
  package.json
  tests/Base.t.sol
  tests/fork/Fork.t.sol
  tests/fork/Lockup.t.sol
  tests/integration/Integration.t.sol
  tests/integration/concrete/batch/batch.t.sol
  tests/integration/concrete/lockup-base/allow-to-hook/allowToHook.t.sol
  tests/integration/concrete/lockup-base/burn/burn.t.sol
  tests/integration/concrete/lockup-base/cancel/cancel.t.sol
  tests/integration/concrete/lockup-base/collect-fees/collectFees.t.sol
  tests/integration/concrete/lockup-base/create-with-timestamps/createWithTimestamps.t.sol
  tests/integration/concrete/lockup-base/getters/getters.t.sol
  tests/integration/concrete/lockup-base/recover/recover.t.sol
  tests/integration/concrete/lockup-base/renounce-multiple/renounceMultiple.t.sol
  tests/integration/concrete/lockup-base/set-native-token/setNativeToken.t.sol
  tests/integration/concrete/lockup-base/set-nft-descriptor/setNFTDescriptor.t.sol
  tests/integration/concrete/lockup-base/transfer-from/transferFrom.t.sol
  tests/integration/concrete/lockup-base/withdraw-hooks/withdrawHooks.t.sol
  tests/integration/concrete/lockup-base/withdraw-max-and-transfer/withdrawMaxAndTransfer.t.sol
  tests/integration/concrete/lockup-base/withdraw-multiple/withdrawMultiple.t.sol
  tests/integration/concrete/lockup-base/withdraw/withdraw.t.sol
  tests/integration/concrete/lockup-dynamic/create-with-timestamps-ld/createWithTimestampsLD.t.sol
  tests/integration/concrete/lockup-tranched/create-with-timestamps-lt/createWithTimestampsLT.t.sol
  tests/integration/fuzz/lockup-base/withdraw.t.sol
  tests/integration/fuzz/lockup-dynamic/createWithTimestampsLD.t.sol
  tests/integration/fuzz/lockup-dynamic/withdraw.t.sol
  tests/integration/fuzz/lockup-linear/createWithTimestampsLL.t.sol
  tests/integration/fuzz/lockup-tranched/createWithTimestampsLT.t.sol
  tests/integration/fuzz/lockup-tranched/withdraw.t.sol
  tests/invariant/handlers/BaseHandler.sol
  tests/invariant/handlers/LockupAdminHandler.sol
  tests/invariant/handlers/LockupHandler.sol
  tests/utils/EstimateMaxCount.sol
  tests/utils/Modifiers.sol
Due: prettier --write, bun solhint {precompiles,script,src,tests}/**/*.sol --fix --noPrompt, forge fmt

build: bump evm utils (#1225)
  bun.lockb
  package.json
  tests/Base.t.sol
  tests/fork/Fork.t.sol
  tests/fork/Lockup.t.sol
  tests/integration/Integration.t.sol
  tests/integration/concrete/batch/batch.t.sol
  tests/integration/concrete/lockup-base/allow-to-hook/allowToHook.t.sol
  tests/integration/concrete/lockup-base/burn/burn.t.sol
  tests/integration/concrete/lockup-base/cancel/cancel.t.sol
  tests/integration/concrete/lockup-base/collect-fees/collectFees.t.sol
  tests/integration/concrete/lockup-base/create-with-timestamps/createWithTimestamps.t.sol
  tests/integration/concrete/lockup-base/getters/getters.t.sol
  tests/integration/concrete/lockup-base/recover/recover.t.sol
  tests/integration/concrete/lockup-base/renounce-multiple/renounceMultiple.t.sol
  tests/integration/concrete/lockup-base/set-native-token/setNativeToken.t.sol
  tests/integration/concrete/lockup-base/set-nft-descriptor/setNFTDescriptor.t.sol
  tests/integration/concrete/lockup-base/transfer-from/transferFrom.t.sol
  tests/integration/concrete/lockup-base/withdraw-hooks/withdrawHooks.t.sol
  tests/integration/concrete/lockup-base/withdraw-max-and-transfer/withdrawMaxAndTransfer.t.sol
  tests/integration/concrete/lockup-base/withdraw-multiple/withdrawMultiple.t.sol
  tests/integration/concrete/lockup-base/withdraw/withdraw.t.sol
  tests/integration/concrete/lockup-dynamic/create-with-timestamps-ld/createWithTimestampsLD.t.sol
  tests/integration/concrete/lockup-tranched/create-with-timestamps-lt/createWithTimestampsLT.t.sol
  tests/integration/fuzz/lockup-base/withdraw.t.sol
  tests/integration/fuzz/lockup-dynamic/createWithTimestampsLD.t.sol
  tests/integration/fuzz/lockup-dynamic/withdraw.t.sol
  tests/integration/fuzz/lockup-linear/createWithTimestampsLL.t.sol
  tests/integration/fuzz/lockup-tranched/createWithTimestampsLT.t.sol
  tests/integration/fuzz/lockup-tranched/withdraw.t.sol
  tests/invariant/handlers/BaseHandler.sol
  tests/invariant/handlers/LockupAdminHandler.sol
  tests/invariant/handlers/LockupHandler.sol
  tests/utils/EstimateMaxCount.sol
  tests/utils/Modifiers.sol
Due: prettier --write, bun solhint {precompiles,script,src,tests}/**/*.sol --fix --noPrompt, forge fmt

test(chore): don't use named args for setMsgSender
  tests/Base.t.sol
  tests/fork/Fork.t.sol
  tests/fork/Lockup.t.sol
  tests/integration/Integration.t.sol
  tests/integration/concrete/batch/batch.t.sol
  tests/integration/concrete/lockup-base/allow-to-hook/allowToHook.t.sol
  tests/integration/concrete/lockup-base/burn/burn.t.sol
  tests/integration/concrete/lockup-base/cancel/cancel.t.sol
  tests/integration/concrete/lockup-base/collect-fees/collectFees.t.sol
  tests/integration/concrete/lockup-base/getters/getters.t.sol
  tests/integration/concrete/lockup-base/recover/recover.t.sol
  tests/integration/concrete/lockup-base/renounce-multiple/renounceMultiple.t.sol
  tests/integration/concrete/lockup-base/set-native-token/setNativeToken.t.sol
  tests/integration/concrete/lockup-base/set-nft-descriptor/setNFTDescriptor.t.sol
  tests/integration/concrete/lockup-base/transfer-from/transferFrom.t.sol
  tests/integration/concrete/lockup-base/withdraw-hooks/withdrawHooks.t.sol
  tests/integration/concrete/lockup-base/withdraw-max-and-transfer/withdrawMaxAndTransfer.t.sol
  tests/integration/concrete/lockup-base/withdraw-multiple/withdrawMultiple.t.sol
  tests/integration/concrete/lockup-base/withdraw/withdraw.t.sol
  tests/integration/concrete/lockup-dynamic/create-with-timestamps-ld/createWithTimestampsLD.t.sol
  tests/integration/concrete/lockup-tranched/create-with-timestamps-lt/createWithTimestampsLT.t.sol
  tests/integration/fuzz/lockup-base/withdraw.t.sol
  tests/integration/fuzz/lockup-dynamic/createWithTimestampsLD.t.sol
  tests/integration/fuzz/lockup-dynamic/withdraw.t.sol
  tests/integration/fuzz/lockup-tranched/createWithTimestampsLT.t.sol
  tests/integration/fuzz/lockup-tranched/withdraw.t.sol
  tests/utils/Modifiers.sol
Due: bun solhint {precompiles,script,src,tests}/**/*.sol --fix --noPrompt, forge fmt

test(chore): don't use named args for setMsgSender
  tests/fork/Flow.t.sol
  tests/fork/Fork.t.sol
  tests/integration/concrete/Concrete.t.sol
  tests/integration/concrete/collect-fees/collectFees.t.sol
  tests/integration/concrete/payable/payable.t.sol
  tests/integration/concrete/recover/recover.t.sol
  tests/integration/concrete/set-native-token/setNativeToken.t.sol
  tests/integration/concrete/set-nft-descriptor/setNFTDescriptor.t.sol
  tests/integration/concrete/transfer-from/transferFrom.t.sol
  tests/integration/concrete/void/void.t.sol
  tests/integration/concrete/withdraw/withdraw.t.sol
  tests/integration/fuzz/Fuzz.t.sol
  tests/integration/fuzz/void.t.sol
  tests/integration/fuzz/withdraw.t.sol
  tests/integration/fuzz/withdrawMax.t.sol
  tests/invariant/handlers/FlowCreateHandler.sol
  tests/utils/Modifiers.sol
Due: bun solhint {precompiles,script,src,tests}/**/*.sol --fix --noPrompt, forge fmt

docs: improve writing in NatSpec
  DIAGRAMS.md
  src/SablierFlow.sol
  src/abstracts/SablierFlowBase.sol
  src/interfaces/ISablierFlow.sol
  src/libraries/Errors.sol
  src/types/DataTypes.sol
  tests/integration/concrete/adjust-rate-per-second/adjustRatePerSecond.t.sol
  tests/integration/concrete/adjust-rate-per-second/adjustRatePerSecond.tree
  tests/integration/concrete/create/create.t.sol
  tests/integration/concrete/pause/pause.t.sol
  tests/integration/fuzz/create.t.sol
  tests/integration/fuzz/pause.t.sol
Due: prettier --write, bun solhint {precompiles,script,src,tests}/**/*.sol --fix --noPrompt, forge fmt

test: polish comments
  bun.lockb
  src/interfaces/ISablierFlow.sol
  src/libraries/Errors.sol
  tests/invariant/Flow.t.sol
Due: bun solhint {precompiles,script,src,tests}/**/*.sol --fix --noPrompt, forge fmt

docs: include MetadataUpdate in create natspecs
  src/interfaces/ISablierFlow.sol
Due: bun solhint {precompiles,script,src,tests}/**/*.sol --fix --noPrompt, forge fmt

docs: polish modifier comments
  src/SablierFlow.sol
  src/abstracts/SablierFlowBase.sol
Due: bun solhint {precompiles,script,src,tests}/**/*.sol --fix --noPrompt, forge fmt

ci: enable Prettier formatting for YML workflows
  .prettierignore
  .prettierrc.yml
Due: prettier --write

ci: enable Prettier formatting for YML workflows
  .github/workflows/ci-deep.yml
  .github/workflows/ci-fork.yml
  .prettierignore
  .prettierrc.yml
Due: prettier --write

ci: enable Prettier formatting for YML workflows
  .github/workflows/ci-deep.yml
  .github/workflows/ci-fork.yml
  .github/workflows/ci.yml
  .prettierignore
  .prettierrc.yml
Due: prettier --write

refactor: schedule into immutable vars (#125)
  foundry.toml
  script/CreateMerkleLL.s.sol
  src/SablierMerkleLL.sol
  src/SablierMerkleVCA.sol
  src/abstracts/SablierMerkleBase.sol
  src/interfaces/ISablierMerkleLL.sol
  src/types/DataTypes.sol
  tests/Base.t.sol
  tests/fork/merkle-campaign/MerkleLL.t.sol
  tests/fork/merkle-campaign/MerkleLT.t.sol
  tests/integration/concrete/campaign/ll/claim/claim.t.sol
  tests/integration/concrete/campaign/ll/claim/claim.tree
  tests/integration/concrete/campaign/ll/constructor.t.sol
  tests/integration/concrete/campaign/lt/claim/claim.t.sol
  tests/integration/concrete/campaign/lt/constructor.t.sol
  tests/integration/concrete/campaign/vca/calculate-claim-amount/calculateClaimAmount.t.sol
  tests/integration/concrete/campaign/vca/calculate-forgone-amount/calculateForgoneAmount.t.sol
  tests/integration/concrete/campaign/vca/claim/claim.t.sol
  tests/integration/concrete/campaign/vca/constructor.t.sol
  tests/integration/concrete/factory/lt/create-merkle-lt/createMerkleLT.t.sol
  tests/integration/concrete/factory/vca/create-merkle-vca/createMerkleVCA.t.sol
  tests/integration/fuzz/MerkleLL.t.sol
  tests/utils/Assertions.sol
  tests/utils/Constants.sol
  tests/utils/Fuzzers.sol
  tests/utils/Modifiers.sol
Due: bun solhint {precompiles,script,src,tests}/**/*.sol --fix --noPrompt, forge fmt

refactor: rename mapping to aggregateAmount
  package.json
  src/SablierLockup.sol
  src/abstracts/SablierLockupBase.sol
  src/interfaces/ISablierLockupBase.sol
  tests/fork/Lockup.t.sol
  tests/integration/concrete/lockup-base/cancel/cancel.t.sol
  tests/integration/concrete/lockup-base/recover/recover.t.sol
  tests/integration/concrete/lockup-base/withdraw/withdraw.t.sol
  tests/integration/concrete/lockup-dynamic/create-with-timestamps-ld/createWithTimestampsLD.t.sol
  tests/integration/concrete/lockup-linear/create-with-timestamps-ll/createWithTimestampsLL.t.sol
  tests/integration/concrete/lockup-tranched/create-with-timestamps-lt/createWithTimestampsLT.t.sol
  tests/integration/fuzz/lockup-base/cancel.t.sol
  tests/integration/fuzz/lockup-base/withdraw.t.sol
  tests/integration/fuzz/lockup-dynamic/createWithTimestampsLD.t.sol
  tests/integration/fuzz/lockup-dynamic/withdraw.t.sol
  tests/integration/fuzz/lockup-linear/createWithTimestampsLL.t.sol
  tests/integration/fuzz/lockup-tranched/createWithTimestampsLT.t.sol
  tests/integration/fuzz/lockup-tranched/withdraw.t.sol
  tests/invariant/Invariant.t.sol
  tests/invariant/handlers/LockupAdminHandler.sol
Due: prettier --write, bun solhint {precompiles,script,src,tests}/**/*.sol --fix --noPrompt, forge fmt

chore: update comments
  tests/fork/Lockup.t.sol
  tests/integration/concrete/lockup-base/cancel/cancel.t.sol
  tests/integration/concrete/lockup-base/cancel/cancel.tree
  tests/integration/concrete/lockup-base/withdraw/withdraw.t.sol
  tests/integration/concrete/lockup-base/withdraw/withdraw.tree
  tests/integration/concrete/lockup-dynamic/create-with-timestamps-ld/createWithTimestampsLD.tree
  tests/integration/concrete/lockup-linear/create-with-timestamps-ll/createWithTimestampsLL.tree
  tests/integration/concrete/lockup-tranched/create-with-timestamps-lt/createWithTimestampsLT.tree
  tests/integration/fuzz/lockup-base/cancel.t.sol
  tests/integration/fuzz/lockup-base/withdraw.t.sol
  tests/integration/fuzz/lockup-dynamic/createWithTimestampsLD.t.sol
  tests/integration/fuzz/lockup-dynamic/withdraw.t.sol
  tests/integration/fuzz/lockup-linear/createWithTimestampsLL.t.sol
  tests/integration/fuzz/lockup-tranched/createWithTimestampsLT.t.sol
  tests/integration/fuzz/lockup-tranched/withdraw.t.sol
  tests/invariant/Invariant.t.sol
Due: bun solhint {precompiles,script,src,tests}/**/*.sol --fix --noPrompt, forge fmt

Path conditions:
  prettier --write: any of: *.{json,md,yml}
  bun solhint {precompiles,script,src,tests}/**/*.sol --fix --noPrompt: any of: *.sol
  forge fmt: any of: *.sol
