Repository sablier-labs/airdrops: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, bun solhint {precompiles,script,src,tests}/**/*.sol --fix --noPrompt, forge fmt

refactor: use tokens when referring to ERC20
  LICENSE.md
  SECURITY.md
  script/CreateMerkleInstant.s.sol
  script/CreateMerkleLL.s.sol
  script/CreateMerkleLT.s.sol
  src/SablierMerkleFactory.sol
  src/SablierMerkleInstant.sol
  src/SablierMerkleLL.sol
  src/SablierMerkleLT.sol
  src/abstracts/SablierMerkleBase.sol
  src/interfaces/ISablierMerkleBase.sol
  src/interfaces/ISablierMerkleFactory.sol
  src/types/DataTypes.sol
  tests/Base.t.sol
  tests/fork/Fork.t.sol
  tests/fork/assets/USDC.t.sol
  tests/fork/assets/USDT.t.sol
  tests/fork/merkle-campaign/MerkleInstant.t.sol
  tests/fork/merkle-campaign/MerkleLL.t.sol
  tests/fork/merkle-campaign/MerkleLT.t.sol
  tests/integration/Integration.t.sol
  tests/integration/concrete/factory/create-merkle-instant/createMerkleInstant.t.sol
  tests/integration/concrete/factory/create-merkle-ll/createMerkleLL.t.sol
  tests/integration/concrete/factory/create-merkle-lt/createMerkleLT.t.sol
  tests/integration/concrete/instant/constructor.t.sol
  tests/integration/concrete/ll/claim/claim.t.sol
  tests/integration/concrete/ll/constructor.t.sol
  tests/integration/concrete/lt/claim/claim.t.sol
  tests/integration/concrete/lt/constructor.t.sol
  tests/utils/Defaults.sol
Due: prettier --write, bun solhint {precompiles,script,src,tests}/**/*.sol --fix --noPrompt, forge fmt

chore: update precompiles
  precompiles/Precompiles.sol
  shell/prepare-artifacts.sh
Due: bun solhint {precompiles,script,src,tests}/**/*.sol --fix --noPrompt, forge fmt

ci: remove push trigger from staging branch
  .github/workflows/ci.yml
Due: prettier --write

ci: remove redundant invariant
  .github/workflows/ci-deep.yml
  .github/workflows/ci.yml
Due: prettier --write

test: fix fork test for MerkleLL test: add unlockAmounts assertions in claim test: make START_AMOUNT non-zero in defaults
  tests/fork/merkle-campaign/MerkleLL.t.sol
  tests/integration/concrete/ll/claim/claim.t.sol
  tests/utils/Defaults.sol
Due: bun solhint {precompiles,script,src,tests}/**/*.sol --fix --noPrompt, forge fmt

docs: update license ens
  LICENSE.md
Due: prettier --write

build: bump dependencies
  bun.lockb
  package.json
Due: prettier --write

refactor: misc improvements
  .gitignore
  .lintstagedrc.yml
  .prettierignore
  .prettierrc.yml
  .vscode/settings.json
  LICENSE.md
  README.md
  bun.lockb
  foundry.toml
  package.json
  remappings.txt
  script/CreateMerkleInstant.s.sol
  script/CreateMerkleLL.s.sol
  script/CreateMerkleLT.s.sol
  slither.config.json
  src/SablierMerkleFactory.sol
  src/SablierMerkleLL.sol
  src/abstracts/SablierMerkleBase.sol
  src/interfaces/ISablierMerkleFactory.sol
  src/interfaces/ISablierMerkleLL.sol
  tests/Base.t.sol
  tests/integration/concrete/factory/reset-sablier-fee-by-user/resetSablierFeeByUser.t.sol
  tests/integration/concrete/factory/reset-sablier-fee-by-user/resetSablierFeeByUser.tree
  tests/mocks/ReceiveEth.sol
  tests/utils/BaseScript.t.sol
  tests/utils/Defaults.sol
  tests/utils/Modifiers.sol
Due: prettier --write, bun solhint {precompiles,script,src,tests}/**/*.sol --fix --noPrompt, forge fmt

docs: add comments to create scripts
  script/CreateMerkleInstant.s.sol
  script/CreateMerkleLL.s.sol
  script/CreateMerkleLT.s.sol
Due: bun solhint {precompiles,script,src,tests}/**/*.sol --fix --noPrompt, forge fmt

docs: changelog
  CHANGELOG.md
Due: prettier --write

docs: update changelog
  CHANGELOG.md
Due: prettier --write

refactor: make withdrawFees function publicly callable
  src/SablierMerkleFactory.sol
  src/abstracts/SablierMerkleBase.sol
  src/interfaces/ISablierMerkleBase.sol
  src/interfaces/ISablierMerkleFactory.sol
  src/libraries/Errors.sol
  tests/fork/merkle-campaign/MerkleInstant.t.sol
  tests/fork/merkle-campaign/MerkleLL.t.sol
  tests/fork/merkle-campaign/MerkleLT.t.sol
  tests/integration/concrete/factory/withdraw-fees/withdrawFees.t.sol
  tests/integration/concrete/factory/withdraw-fees/withdrawFees.tree
  tests/integration/concrete/shared/withdraw-fees/withdrawFees.t.sol
  tests/integration/concrete/shared/withdraw-fees/withdrawFees.tree
  tests/utils/Modifiers.sol
Due: bun solhint {precompiles,script,src,tests}/**/*.sol --fix --noPrompt, forge fmt

build: update remappings
  bun.lockb
  remappings.txt
Due: none

refactor: rename withdrawFees to collectFees
  src/SablierMerkleFactory.sol
  src/abstracts/SablierMerkleBase.sol
  src/interfaces/ISablierMerkleBase.sol
  src/interfaces/ISablierMerkleFactory.sol
  tests/Base.t.sol
  tests/fork/merkle-campaign/MerkleInstant.t.sol
  tests/fork/merkle-campaign/MerkleLL.t.sol
  tests/fork/merkle-campaign/MerkleLT.t.sol
  tests/integration/Integration.t.sol
  tests/integration/concrete/factory/collect-fees/collectFees.t.sol
  tests/integration/concrete/factory/collect-fees/collectFees.tree
  tests/integration/concrete/factory/create-merkle-instant/createMerkleInstant.t.sol
  tests/integration/concrete/factory/create-merkle-ll/createMerkleLL.t.sol
  tests/integration/concrete/factory/create-merkle-lt/createMerkleLT.t.sol
  tests/integration/concrete/factory/set-default-fee/setDefaultFee.t.sol
  tests/integration/concrete/instant/MerkleInstant.t.sol
  tests/integration/concrete/instant/claim/claim.t.sol
  tests/integration/concrete/instant/constructor.t.sol
  tests/integration/concrete/ll/MerkleLL.t.sol
  tests/integration/concrete/ll/claim/claim.t.sol
  tests/integration/concrete/ll/constructor.t.sol
  tests/integration/concrete/lt/MerkleLT.t.sol
  tests/integration/concrete/lt/claim/claim.t.sol
  tests/integration/concrete/lt/constructor.t.sol
  tests/integration/concrete/shared/claim/claim.t.sol
  tests/integration/concrete/shared/collect-fees/collectFees.t.sol
  tests/integration/concrete/shared/collect-fees/collectFees.tree
  tests/utils/Defaults.sol
Due: bun solhint {precompiles,script,src,tests}/**/*.sol --fix --noPrompt, forge fmt

test: remove the missing return value token
  remappings.txt
  script/Base.s.sol
  script/CreateMerkleInstant.s.sol
  script/CreateMerkleLL.s.sol
  script/CreateMerkleLT.s.sol
  script/DeployDeterministicMerkleFactory.s.sol
  slither.config.json
  tests/Base.t.sol
  tests/mocks/erc20/ERC20MissingReturn.sol
  tests/utils/Assertions.sol
  tests/utils/Defaults.sol
Due: prettier --write, bun solhint {precompiles,script,src,tests}/**/*.sol --fix --noPrompt, forge fmt

style: add ascii art in the contracts
  src/SablierMerkleFactory.sol
  src/SablierMerkleInstant.sol
  src/SablierMerkleLL.sol
  src/SablierMerkleLT.sol
Due: bun solhint {precompiles,script,src,tests}/**/*.sol --fix --noPrompt, forge fmt

feat: include shape name in merkle contracts
  bun.lockb
  src/SablierMerkleFactory.sol
  src/SablierMerkleLL.sol
  src/SablierMerkleLT.sol
  src/abstracts/SablierMerkleBase.sol
  src/interfaces/ISablierMerkleBase.sol
  src/types/DataTypes.sol
  tests/Base.t.sol
  tests/fork/merkle-campaign/MerkleLL.t.sol
  tests/fork/merkle-campaign/MerkleLT.t.sol
  tests/integration/concrete/factory/create-merkle-ll/createMerkleLL.t.sol
  tests/integration/concrete/factory/create-merkle-ll/createMerkleLL.tree
  tests/integration/concrete/factory/create-merkle-lt/createMerkleLT.t.sol
  tests/integration/concrete/factory/create-merkle-lt/createMerkleLT.tree
  tests/integration/concrete/ll/claim/claim.t.sol
  tests/integration/concrete/ll/constructor.t.sol
  tests/integration/concrete/lt/claim/claim.t.sol
  tests/integration/concrete/lt/constructor.t.sol
  tests/utils/Defaults.sol
  tests/utils/Modifiers.sol
Due: bun solhint {precompiles,script,src,tests}/**/*.sol --fix --noPrompt, forge fmt

fix: use string to store shape name
  src/SablierMerkleLL.sol
  src/SablierMerkleLT.sol
  src/abstracts/SablierMerkleBase.sol
  tests/integration/concrete/factory/create-merkle-ll/createMerkleLL.t.sol
  tests/integration/concrete/factory/create-merkle-lt/createMerkleLT.t.sol
Due: bun solhint {precompiles,script,src,tests}/**/*.sol --fix --noPrompt, forge fmt

test: rename NAME to CAMPAIGN_NAME
  tests/integration/concrete/instant/constructor.t.sol
  tests/integration/concrete/ll/constructor.t.sol
  tests/integration/concrete/lt/constructor.t.sol
  tests/utils/Defaults.sol
Due: bun solhint {precompiles,script,src,tests}/**/*.sol --fix --noPrompt, forge fmt

test: just say shape
  bun.lockb
  src/SablierMerkleLL.sol
  src/SablierMerkleLT.sol
  src/abstracts/SablierMerkleBase.sol
  src/interfaces/ISablierMerkleBase.sol
  src/types/DataTypes.sol
  tests/integration/concrete/factory/create-merkle-ll/createMerkleLL.t.sol
  tests/integration/concrete/factory/create-merkle-ll/createMerkleLL.tree
  tests/integration/concrete/factory/create-merkle-lt/createMerkleLT.t.sol
  tests/integration/concrete/factory/create-merkle-lt/createMerkleLT.tree
  tests/integration/concrete/ll/constructor.t.sol
  tests/integration/concrete/lt/constructor.t.sol
  tests/utils/Defaults.sol
  tests/utils/Modifiers.sol
Due: bun solhint {precompiles,script,src,tests}/**/*.sol --fix --noPrompt, forge fmt

docs: polish comments
  src/types/DataTypes.sol
Due: bun solhint {precompiles,script,src,tests}/**/*.sol --fix --noPrompt, forge fmt

feat: add _truncateString helper function
  script/CreateMerkleInstant.s.sol
  script/CreateMerkleLL.s.sol
  script/CreateMerkleLT.s.sol
  src/abstracts/SablierMerkleBase.sol
  src/interfaces/ISablierMerkleBase.sol
  src/types/DataTypes.sol
  tests/integration/concrete/factory/create-merkle-instant/createMerkleInstant.t.sol
  tests/integration/concrete/factory/create-merkle-instant/createMerkleInstant.tree
  tests/integration/concrete/factory/create-merkle-ll/createMerkleLL.t.sol
  tests/integration/concrete/factory/create-merkle-ll/createMerkleLL.tree
  tests/integration/concrete/factory/create-merkle-lt/createMerkleLT.t.sol
  tests/integration/concrete/factory/create-merkle-lt/createMerkleLT.tree
  tests/integration/concrete/instant/constructor.t.sol
  tests/integration/concrete/ll/constructor.t.sol
  tests/integration/concrete/lt/constructor.t.sol
  tests/utils/Defaults.sol
  tests/utils/Modifiers.sol
Due: bun solhint {precompiles,script,src,tests}/**/*.sol --fix --noPrompt, forge fmt

chore: remove redundant code
  src/abstracts/SablierMerkleBase.sol
  src/libraries/Errors.sol
  tests/integration/concrete/instant/constructor.t.sol
  tests/integration/concrete/ll/constructor.t.sol
  tests/integration/concrete/lt/constructor.t.sol
Due: bun solhint {precompiles,script,src,tests}/**/*.sol --fix --noPrompt, forge fmt

refactor: add STREAM_ prefix
  remappings.txt
  script/CreateMerkleLL.s.sol
  script/CreateMerkleLT.s.sol
  src/SablierMerkleFactory.sol
  src/SablierMerkleLL.sol
  src/SablierMerkleLT.sol
  src/abstracts/SablierMerkleBase.sol
  src/interfaces/ISablierMerkleBase.sol
  src/interfaces/ISablierMerkleFactory.sol
  src/interfaces/ISablierMerkleInstant.sol
  src/interfaces/ISablierMerkleLL.sol
  src/interfaces/ISablierMerkleLT.sol
  tests/Base.t.sol
  tests/fork/merkle-campaign/MerkleLL.t.sol
  tests/fork/merkle-campaign/MerkleLT.t.sol
  tests/integration/concrete/ll/constructor.t.sol
  tests/integration/concrete/lt/constructor.t.sol
  tests/utils/Assertions.sol
  tests/utils/Defaults.sol
Due: bun solhint {precompiles,script,src,tests}/**/*.sol --fix --noPrompt, forge fmt

chore: removes redundant remapping perf: marks _schedule as private
  remappings.txt
  src/SablierMerkleLL.sol
Due: bun solhint {precompiles,script,src,tests}/**/*.sol --fix --noPrompt, forge fmt

temp commit
  tests/utils/Defaults.sol
Due: bun solhint {precompiles,script,src,tests}/**/*.sol --fix --noPrompt, forge fmt

test: polish code
  src/SablierMerkleLL.sol
  src/SablierMerkleLT.sol
  tests/integration/concrete/ll/constructor.t.sol
  tests/integration/concrete/lt/constructor.t.sol
  tests/utils/Defaults.sol
Due: bun solhint {precompiles,script,src,tests}/**/*.sol --fix --noPrompt, forge fmt

build: install murky as dep
  bun.lockb
  package.json
  remappings.txt
  tests/fork/Fork.t.sol
  tests/utils/Defaults.sol
  tests/utils/Murky.sol
Due: prettier --write, bun solhint {precompiles,script,src,tests}/**/*.sol --fix --noPrompt, forge fmt

build: update bun.lock
  bun.lockb
Due: none

test: remove unneeded Constants utils contract
  tests/Base.t.sol
  tests/fork/merkle-campaign/MerkleInstant.t.sol
  tests/fork/merkle-campaign/MerkleLL.t.sol
  tests/fork/merkle-campaign/MerkleLT.t.sol
  tests/integration/Integration.t.sol
  tests/integration/concrete/factory/collect-fees/collectFees.t.sol
  tests/integration/concrete/factory/create-merkle-instant/createMerkleInstant.t.sol
  tests/integration/concrete/factory/create-merkle-ll/createMerkleLL.t.sol
  tests/integration/concrete/factory/create-merkle-lt/createMerkleLT.t.sol
  tests/integration/concrete/factory/set-default-fee/setDefaultFee.t.sol
  tests/integration/concrete/instant/claim/claim.t.sol
  tests/integration/concrete/instant/constructor.t.sol
  tests/integration/concrete/ll/claim/claim.t.sol
  tests/integration/concrete/ll/constructor.t.sol
  tests/integration/concrete/lt/claim/claim.t.sol
  tests/integration/concrete/lt/constructor.t.sol
  tests/integration/concrete/shared/claim/claim.t.sol
  tests/integration/concrete/shared/collect-fees/collectFees.t.sol
  tests/utils/Assertions.sol
  tests/utils/Constants.sol
  tests/utils/Defaults.sol
Due: bun solhint {precompiles,script,src,tests}/**/*.sol --fix --noPrompt, forge fmt

test: import Assertions from lockup test: remove duplicated assertEq functions in Assertions
  tests/fork/merkle-campaign/MerkleLT.t.sol
  tests/integration/concrete/lt/claim/claim.t.sol
  tests/integration/concrete/lt/constructor.t.sol
  tests/utils/Assertions.sol
Due: bun solhint {precompiles,script,src,tests}/**/*.sol --fix --noPrompt, forge fmt

build: keep only one etherscan apy key in foundry.toml
  .env.deployment.example
  foundry.toml
Due: none

build: add dep using commit hash
  bun.lockb
  package.json
Due: prettier --write

test: check diff for admin balance in fork tests ci: fix slack notify
  .github/workflows/ci-deep.yml
  .github/workflows/ci-fork.yml
  tests/fork/merkle-campaign/MerkleInstant.t.sol
  tests/fork/merkle-campaign/MerkleLL.t.sol
  tests/fork/merkle-campaign/MerkleLT.t.sol
Due: prettier --write, bun solhint {precompiles,script,src,tests}/**/*.sol --fix --noPrompt, forge fmt

test: assertion check
  tests/fork/merkle-campaign/MerkleInstant.t.sol
  tests/fork/merkle-campaign/MerkleLL.t.sol
  tests/fork/merkle-campaign/MerkleLT.t.sol
Due: bun solhint {precompiles,script,src,tests}/**/*.sol --fix --noPrompt, forge fmt

perf: store shape and campaign name in storage as bytes32
  src/SablierMerkleLL.sol
  src/SablierMerkleLT.sol
  src/abstracts/SablierMerkleBase.sol
  src/types/DataTypes.sol
  tests/utils/Defaults.sol
Due: bun solhint {precompiles,script,src,tests}/**/*.sol --fix --noPrompt, forge fmt

test: add comments over shape and campaign names
  tests/utils/Defaults.sol
Due: bun solhint {precompiles,script,src,tests}/**/*.sol --fix --noPrompt, forge fmt

doc: add @dev natspec over internal variables
  src/abstracts/SablierMerkleBase.sol
Due: bun solhint {precompiles,script,src,tests}/**/*.sol --fix --noPrompt, forge fmt

fix: use percantages in schedule
  precompiles/Precompiles.sol
  script/CreateMerkleLL.s.sol
  src/SablierMerkleLL.sol
  src/types/DataTypes.sol
  tests/fork/merkle-campaign/MerkleLL.t.sol
  tests/integration/concrete/ll/claim/claim.t.sol
  tests/integration/concrete/ll/constructor.t.sol
  tests/utils/Defaults.sol
Due: bun solhint {precompiles,script,src,tests}/**/*.sol --fix --noPrompt, forge fmt

Path conditions:
  prettier --write: any of: *.{json,md,svg,yml}
  bun solhint {precompiles,script,src,tests}/**/*.sol --fix --noPrompt: any of: *.sol
  forge fmt: any of: *.sol
