Repository sablier-labs/airdrops: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, bun solhint {precompiles,script,src,tests}/**/*.sol --fix --noPrompt, forge fmt

build: set optimizer runs to 1M (#73)
  foundry.toml
Due: none

feat: implement chainlink oracle
  bun.lockb
  package.json
  remappings.txt
  src/abstracts/SablierMerkleFactoryBase.sol
  src/interfaces/ISablierMerkleFactoryBase.sol
Due: prettier --write, bun solhint {precompiles,script,src,tests}/**/*.sol --fix --noPrompt, forge fmt

feat: implement chainlink oracle
  bun.lockb
  package.json
  remappings.txt
  script/CreateMerkleInstant.s.sol
  script/CreateMerkleLL.s.sol
  script/CreateMerkleLT.s.sol
  script/CreateMerkleVCA.s.sol
  script/DeployDeterministicMerkleFactories.s.sol
  script/DeployMerkleFactories.s.sol
  src/SablierMerkleFactoryInstant.sol
  src/SablierMerkleFactoryLL.sol
  src/SablierMerkleFactoryLT.sol
  src/SablierMerkleFactoryVCA.sol
  src/SablierMerkleInstant.sol
  src/SablierMerkleLL.sol
  src/SablierMerkleLT.sol
  src/SablierMerkleVCA.sol
  src/abstracts/SablierMerkleBase.sol
  src/abstracts/SablierMerkleFactoryBase.sol
  src/abstracts/SablierMerkleLockup.sol
  src/interfaces/ISablierMerkleBase.sol
  src/interfaces/ISablierMerkleFactoryBase.sol
  src/interfaces/ISablierMerkleFactoryInstant.sol
  src/interfaces/ISablierMerkleFactoryLL.sol
  src/interfaces/ISablierMerkleFactoryLT.sol
  src/interfaces/ISablierMerkleFactoryVCA.sol
  tests/Base.t.sol
  tests/mocks/ChainlinkPriceFeed.sol
  tests/utils/DeployOptimized.sol
Due: prettier --write, bun solhint {precompiles,script,src,tests}/**/*.sol --fix --noPrompt, forge fmt

refactor: integrate evm-utils and bump lockup version
  bun.lockb
  package.json
  remappings.txt
  script/Base.s.sol
  script/CreateMerkleInstant.s.sol
  script/CreateMerkleLL.s.sol
  script/CreateMerkleLT.s.sol
  script/CreateMerkleVCA.s.sol
  script/DeployDeterministicMerkleFactories.s.sol
  script/DeployMerkleFactories.s.sol
  src/SablierMerkleLL.sol
  src/SablierMerkleLT.sol
  src/abstracts/SablierMerkleBase.sol
  src/abstracts/SablierMerkleFactoryBase.sol
  src/interfaces/ISablierMerkleBase.sol
  src/interfaces/ISablierMerkleFactoryBase.sol
  src/libraries/Errors.sol
  tests/Base.t.sol
  tests/integration/Integration.t.sol
  tests/integration/concrete/campaign/shared/clawback/clawback.t.sol
  tests/integration/concrete/campaign/shared/collect-fees/collectFees.t.sol
  tests/integration/concrete/factory/shared/collect-fees/collectFees.t.sol
  tests/integration/concrete/factory/shared/reset-custom-fee/resetCustomFee.t.sol
  tests/integration/concrete/factory/shared/set-custom-fee/setCustomFee.t.sol
  tests/integration/concrete/factory/shared/set-minimum-fee/setMinimumFee.t.sol
  tests/mocks/ReceiveEth.sol
  tests/mocks/erc20/ERC20Mock.sol
  tests/utils/BaseScript.t.sol
  tests/utils/Constants.sol
  tests/utils/DeployOptimized.sol
  tests/utils/Modifiers.sol
  tests/utils/Utils.sol
Due: prettier --write, bun solhint {precompiles,script,src,tests}/**/*.sol --fix --noPrompt, forge fmt

test: change JULY_1_2024 to FEB_1_2025
  tests/Base.t.sol
  tests/integration/Integration.t.sol
  tests/utils/Constants.sol
  tests/utils/DeployOptimized.sol
Due: bun solhint {precompiles,script,src,tests}/**/*.sol --fix --noPrompt, forge fmt

refactor: return minimum fee when no price feed is not configured
  .github/workflows/ci.yml
  foundry.toml
  script/DeployDeterministicMerkleFactories.s.sol
  script/DeployMerkleFactories.s.sol
  src/SablierMerkleFactoryInstant.sol
  src/SablierMerkleFactoryLL.sol
  src/SablierMerkleFactoryLT.sol
  src/SablierMerkleFactoryVCA.sol
  src/abstracts/SablierMerkleBase.sol
  src/abstracts/SablierMerkleFactoryBase.sol
  src/interfaces/ISablierMerkleFactoryBase.sol
  src/tests/ChainlinkPriceFeedAddresses.sol
  src/tests/ChainlinkPriceFeedMock.sol
  tests/Base.t.sol
  tests/fork/merkle-campaign/MerkleInstant.t.sol
  tests/fork/merkle-campaign/MerkleLL.t.sol
  tests/fork/merkle-campaign/MerkleLT.t.sol
  tests/fork/merkle-campaign/MerkleVCA.t.sol
  tests/fork/price-feed/ChainlinkPriceFeeds.t.sol
  tests/fork/price-feed/get_token_prices.py
  tests/integration/concrete/campaign/instant/constructor.t.sol
  tests/integration/concrete/campaign/ll/constructor.t.sol
  tests/integration/concrete/campaign/lt/constructor.t.sol
  tests/integration/concrete/campaign/vca/constructor.t.sol
  tests/integration/concrete/factory/instant/create-merkle-instant/createMerkleInstant.t.sol
  tests/integration/concrete/factory/ll/create-merkle-ll/createMerkleLL.t.sol
  tests/integration/concrete/factory/lt/create-merkle-lt/createMerkleLT.t.sol
  tests/integration/concrete/factory/vca/create-merkle-vca/createMerkleVCA.t.sol
  tests/utils/Constants.sol
Due: prettier --write, bun solhint {precompiles,script,src,tests}/**/*.sol --fix --noPrompt, forge fmt

refactor: integrate evm-utils and bump lockup version (#74)
  bun.lockb
  package.json
  remappings.txt
  script/Base.s.sol
  script/CreateMerkleInstant.s.sol
  script/CreateMerkleLL.s.sol
  script/CreateMerkleLT.s.sol
  script/CreateMerkleVCA.s.sol
  script/DeployDeterministicMerkleFactories.s.sol
  script/DeployMerkleFactories.s.sol
  src/SablierMerkleLL.sol
  src/SablierMerkleLT.sol
  src/abstracts/SablierMerkleBase.sol
  src/abstracts/SablierMerkleFactoryBase.sol
  src/interfaces/ISablierMerkleBase.sol
  src/interfaces/ISablierMerkleFactoryBase.sol
  src/libraries/Errors.sol
  tests/Base.t.sol
  tests/integration/Integration.t.sol
  tests/integration/concrete/campaign/shared/clawback/clawback.t.sol
  tests/integration/concrete/campaign/shared/collect-fees/collectFees.t.sol
  tests/integration/concrete/factory/shared/collect-fees/collectFees.t.sol
  tests/integration/concrete/factory/shared/reset-custom-fee/resetCustomFee.t.sol
  tests/integration/concrete/factory/shared/set-custom-fee/setCustomFee.t.sol
  tests/integration/concrete/factory/shared/set-minimum-fee/setMinimumFee.t.sol
  tests/mocks/ReceiveEth.sol
  tests/mocks/erc20/ERC20Mock.sol
  tests/utils/BaseScript.t.sol
  tests/utils/Constants.sol
  tests/utils/DeployOptimized.sol
  tests/utils/Modifiers.sol
  tests/utils/Utils.sol
Due: prettier --write, bun solhint {precompiles,script,src,tests}/**/*.sol --fix --noPrompt, forge fmt

test: rename price feed testing contract
  foundry.toml
  tests/Base.t.sol
  tests/integration/concrete/campaign/instant/constructor.t.sol
  tests/integration/concrete/campaign/ll/constructor.t.sol
  tests/integration/concrete/factory/instant/constructor.t.sol
  tests/integration/concrete/factory/ll/constructor.t.sol
  tests/integration/concrete/factory/lt/constructor.t.sol
  tests/integration/concrete/factory/shared/set-chainlink-price-feed/setChainlinkPriceFeed.t.sol
  tests/integration/concrete/factory/vca/constructor.t.sol
Due: bun solhint {precompiles,script,src,tests}/**/*.sol --fix --noPrompt, forge fmt

feat: implement setMinimumFeeToZero function
  foundry.toml
  src/abstracts/SablierMerkleBase.sol
  src/interfaces/ISablierMerkleBase.sol
  src/libraries/Errors.sol
  tests/integration/concrete/campaign/instant/MerkleInstant.t.sol
  tests/integration/concrete/campaign/instant/constructor.t.sol
  tests/integration/concrete/campaign/ll/MerkleLL.t.sol
  tests/integration/concrete/campaign/ll/constructor.t.sol
  tests/integration/concrete/campaign/lt/MerkleLT.t.sol
  tests/integration/concrete/campaign/lt/constructor.t.sol
  tests/integration/concrete/campaign/shared/set-minimum-fee-to-zero/setMinimumFeeToZero.t.sol
  tests/integration/concrete/campaign/shared/set-minimum-fee-to-zero/setMinimumFeeToZero.tree
  tests/integration/concrete/campaign/vca/MerkleVCA.t.sol
  tests/integration/concrete/campaign/vca/constructor.t.sol
  tests/integration/concrete/factory/instant/create-merkle-instant/createMerkleInstant.t.sol
  tests/integration/concrete/factory/ll/create-merkle-ll/createMerkleLL.t.sol
  tests/integration/concrete/factory/lt/create-merkle-lt/createMerkleLT.t.sol
  tests/integration/concrete/factory/vca/create-merkle-vca/createMerkleVCA.t.sol
Due: bun solhint {precompiles,script,src,tests}/**/*.sol --fix --noPrompt, forge fmt

feat: check if the chainlink price feed return zero price
  src/abstracts/SablierMerkleBase.sol
  src/abstracts/SablierMerkleFactoryBase.sol
  src/interfaces/ISablierMerkleFactoryBase.sol
  src/libraries/Errors.sol
  src/tests/ChainlinkPriceFeedMock.sol
  tests/integration/concrete/factory/shared/set-chainlink-price-feed/setChainlinkPriceFeed.t.sol
  tests/integration/concrete/factory/shared/set-chainlink-price-feed/setChainlinkPriceFeed.tree
Due: bun solhint {precompiles,script,src,tests}/**/*.sol --fix --noPrompt, forge fmt

build: use public rpc for all chain expect mainnet and sepolia
  foundry.toml
  src/tests/ChainlinkPriceFeedAddresses.sol
  tests/fork/price-feed/ChainlinkPriceFeed.t.sol
  tests/fork/price-feed/get_token_prices.py
Due: bun solhint {precompiles,script,src,tests}/**/*.sol --fix --noPrompt, forge fmt

ci: remove python step
  .github/workflows/ci.yml
Due: prettier --write

build: remove zksync rpc
  foundry.toml
Due: none

remove unneeded function
  src/tests/ChainlinkPriceFeedAddresses.sol
Due: bun solhint {precompiles,script,src,tests}/**/*.sol --fix --noPrompt, forge fmt

refactor: rename event
  src/abstracts/SablierMerkleBase.sol
  src/interfaces/ISablierMerkleBase.sol
  tests/integration/concrete/campaign/shared/set-minimum-fee-to-zero/setMinimumFeeToZero.t.sol
  tests/integration/concrete/campaign/shared/set-minimum-fee-to-zero/setMinimumFeeToZero.tree
Due: bun solhint {precompiles,script,src,tests}/**/*.sol --fix --noPrompt, forge fmt

test: add calculate minimum fee in wei tests
  tests/fork/price-feed/ChainlinkPriceFeed.t.sol
  tests/integration/concrete/campaign/instant/MerkleInstant.t.sol
  tests/integration/concrete/campaign/ll/MerkleLL.t.sol
  tests/integration/concrete/campaign/lt/MerkleLT.t.sol
  tests/integration/concrete/campaign/shared/calculate-minimum-fee-in-wei/calculateMinimumFeeInWei.t.sol
  tests/integration/concrete/campaign/shared/calculate-minimum-fee-in-wei/calculateMinimumFeeInWei.tree
  tests/integration/concrete/campaign/vca/MerkleVCA.t.sol
  tests/utils/Modifiers.sol
Due: bun solhint {precompiles,script,src,tests}/**/*.sol --fix --noPrompt, forge fmt

feat: add maximum fee in factory
  src/abstracts/SablierMerkleFactoryBase.sol
  src/interfaces/ISablierMerkleFactoryBase.sol
  src/libraries/Errors.sol
  tests/integration/concrete/factory/shared/set-chainlink-price-feed/setChainlinkPriceFeed.t.sol
  tests/integration/concrete/factory/shared/set-custom-fee/setCustomFee.t.sol
  tests/integration/concrete/factory/shared/set-custom-fee/setCustomFee.tree
  tests/integration/concrete/factory/shared/set-minimum-fee/setMinimumFee.t.sol
  tests/integration/concrete/factory/shared/set-minimum-fee/setMinimumFee.tree
  tests/utils/Constants.sol
  tests/utils/Modifiers.sol
Due: bun solhint {precompiles,script,src,tests}/**/*.sol --fix --noPrompt, forge fmt

test: fix failing tests
  tests/integration/concrete/factory/instant/create-merkle-instant/createMerkleInstant.t.sol
  tests/integration/concrete/factory/ll/create-merkle-ll/createMerkleLL.t.sol
  tests/integration/concrete/factory/lt/create-merkle-lt/createMerkleLT.t.sol
  tests/integration/concrete/factory/shared/reset-custom-fee/resetCustomFee.t.sol
Due: bun solhint {precompiles,script,src,tests}/**/*.sol --fix --noPrompt, forge fmt

various fixes and polishes
  script/DeployDeterministicMerkleFactories.s.sol
  script/DeployMerkleFactories.s.sol
  src/abstracts/SablierMerkleBase.sol
  src/libraries/Errors.sol
  src/tests/InitialMinimumFee.sol
Due: bun solhint {precompiles,script,src,tests}/**/*.sol --fix --noPrompt, forge fmt

remove additional space
  .editorconfig
  src/abstracts/SablierMerkleFactoryBase.sol
Due: bun solhint {precompiles,script,src,tests}/**/*.sol --fix --noPrompt, forge fmt

refactor: rename price feed to oracle
  script/CreateMerkleInstant.s.sol
  script/CreateMerkleLL.s.sol
  script/CreateMerkleLT.s.sol
  script/CreateMerkleVCA.s.sol
  script/DeployDeterministicMerkleFactories.s.sol
  script/DeployMerkleFactories.s.sol
  src/SablierMerkleFactoryInstant.sol
  src/SablierMerkleFactoryLL.sol
  src/SablierMerkleFactoryLT.sol
  src/SablierMerkleFactoryVCA.sol
  src/abstracts/SablierMerkleBase.sol
  src/abstracts/SablierMerkleFactoryBase.sol
  src/interfaces/ISablierMerkleBase.sol
  src/interfaces/ISablierMerkleFactoryBase.sol
  src/libraries/Errors.sol
  tests/Base.t.sol
  tests/fork/price-feed/ChainlinkPriceFeed.t.sol
  tests/integration/concrete/campaign/instant/constructor.t.sol
  tests/integration/concrete/campaign/ll/constructor.t.sol
  tests/integration/concrete/campaign/shared/calculate-minimum-fee-in-wei/calculateMinimumFeeInWei.t.sol
  tests/integration/concrete/campaign/shared/calculate-minimum-fee-in-wei/calculateMinimumFeeInWei.tree
  tests/integration/concrete/factory/instant/MerkleFactoryInstant.t.sol
  tests/integration/concrete/factory/instant/constructor.t.sol
  tests/integration/concrete/factory/ll/MerkleFactoryLL.t.sol
  tests/integration/concrete/factory/ll/constructor.t.sol
  tests/integration/concrete/factory/lt/MerkleFactoryLT.t.sol
  tests/integration/concrete/factory/lt/constructor.t.sol
  tests/integration/concrete/factory/shared/set-chainlink-price-feed/setChainlinkPriceFeed.tree
  tests/integration/concrete/factory/shared/set-custom-fee/setCustomFee.t.sol
  tests/integration/concrete/factory/shared/set-minimum-fee/setMinimumFee.t.sol
  tests/integration/concrete/factory/shared/set-oracle/setOracle.t.sol
  tests/integration/concrete/factory/shared/set-oracle/setOracle.tree
  tests/integration/concrete/factory/vca/MerkleFactoryVCA.t.sol
  tests/integration/concrete/factory/vca/constructor.t.sol
  tests/utils/DeployOptimized.sol
Due: bun solhint {precompiles,script,src,tests}/**/*.sol --fix --noPrompt, forge fmt

fix bulloak check
  src/tests/ChainlinkPriceFeedMock.sol
  tests/integration/concrete/campaign/shared/calculate-minimum-fee-in-wei/calculateMinimumFeeInWei.t.sol
  tests/integration/concrete/factory/shared/set-oracle/setOracle.t.sol
  tests/utils/Modifiers.sol
Due: bun solhint {precompiles,script,src,tests}/**/*.sol --fix --noPrompt, forge fmt

refactor: change setMinimumFeeToZero to lowerMinimumFee
  src/abstracts/SablierMerkleBase.sol
  src/interfaces/ISablierMerkleBase.sol
  src/libraries/Errors.sol
  tests/integration/concrete/campaign/instant/MerkleInstant.t.sol
  tests/integration/concrete/campaign/ll/MerkleLL.t.sol
  tests/integration/concrete/campaign/lt/MerkleLT.t.sol
  tests/integration/concrete/campaign/shared/calculate-minimum-fee-in-wei/calculateMinimumFeeInWei.t.sol
  tests/integration/concrete/campaign/shared/lower-minimum-fee/lowerMinimumFee.t.sol
  tests/integration/concrete/campaign/shared/lower-minimum-fee/lowerMinimumFee.tree
  tests/integration/concrete/campaign/shared/set-minimum-fee-to-zero/setMinimumFeeToZero.t.sol
  tests/integration/concrete/campaign/shared/set-minimum-fee-to-zero/setMinimumFeeToZero.tree
  tests/integration/concrete/campaign/vca/MerkleVCA.t.sol
  tests/utils/Modifiers.sol
Due: bun solhint {precompiles,script,src,tests}/**/*.sol --fix --noPrompt, forge fmt

feat: add oracle address in the create events
  src/SablierMerkleFactoryInstant.sol
  src/SablierMerkleFactoryLL.sol
  src/SablierMerkleFactoryLT.sol
  src/SablierMerkleFactoryVCA.sol
  src/interfaces/ISablierMerkleFactoryInstant.sol
  src/interfaces/ISablierMerkleFactoryLL.sol
  src/interfaces/ISablierMerkleFactoryLT.sol
  src/interfaces/ISablierMerkleFactoryVCA.sol
  tests/fork/merkle-campaign/MerkleInstant.t.sol
  tests/fork/merkle-campaign/MerkleLL.t.sol
  tests/fork/merkle-campaign/MerkleLT.t.sol
  tests/fork/merkle-campaign/MerkleVCA.t.sol
  tests/integration/concrete/factory/instant/create-merkle-instant/createMerkleInstant.t.sol
  tests/integration/concrete/factory/ll/create-merkle-ll/createMerkleLL.t.sol
  tests/integration/concrete/factory/lt/create-merkle-lt/createMerkleLT.t.sol
  tests/integration/concrete/factory/vca/create-merkle-vca/createMerkleVCA.t.sol
Due: bun solhint {precompiles,script,src,tests}/**/*.sol --fix --noPrompt, forge fmt

chore: remove unneeded ignored file and add deployments.md
  .gitignore
Due: none

perf: cover cases when oracle decimals are not 8
  script/ChainlinkPriceFeedAddresses.sol
  script/DeployDeterministicMerkleFactories.s.sol
  script/DeployMerkleFactories.s.sol
  src/abstracts/SablierMerkleBase.sol
  src/tests/InitialMinimumFee.sol
  tests/Base.t.sol
  tests/fork/price-feed/ChainlinkPriceFeed.t.sol
  tests/integration/concrete/factory/shared/set-oracle/setOracle.t.sol
  tests/utils/ChainlinkPriceFeedMock.sol
Due: bun solhint {precompiles,script,src,tests}/**/*.sol --fix --noPrompt, forge fmt

remove redundant import
  tests/integration/concrete/factory/shared/set-oracle/setOracle.t.sol
Due: bun solhint {precompiles,script,src,tests}/**/*.sol --fix --noPrompt, forge fmt

shub feedback
  script/ChainlinkPriceFeedAddresses.sol
  script/CreateMerkleInstant.s.sol
  script/CreateMerkleLL.s.sol
  script/CreateMerkleLT.s.sol
  script/CreateMerkleVCA.s.sol
  script/DeployDeterministicMerkleFactories.s.sol
  script/DeployMerkleFactories.s.sol
  src/abstracts/SablierMerkleBase.sol
  src/abstracts/SablierMerkleFactoryBase.sol
  src/interfaces/ISablierMerkleBase.sol
  src/interfaces/ISablierMerkleFactoryBase.sol
  src/libraries/Errors.sol
  tests/integration/concrete/campaign/shared/lower-minimum-fee/lowerMinimumFee.t.sol
  tests/integration/concrete/factory/shared/reset-custom-fee/resetCustomFee.t.sol
  tests/integration/concrete/factory/shared/reset-custom-fee/resetCustomFee.tree
  tests/integration/concrete/factory/shared/set-custom-fee/setCustomFee.t.sol
  tests/integration/concrete/factory/shared/set-minimum-fee/setMinimumFee.t.sol
  tests/utils/Constants.sol
Due: bun solhint {precompiles,script,src,tests}/**/*.sol --fix --noPrompt, forge fmt

polish comments
  src/abstracts/SablierMerkleBase.sol
  src/interfaces/ISablierMerkleBase.sol
  src/interfaces/ISablierMerkleFactoryBase.sol
  src/libraries/Errors.sol
Due: bun solhint {precompiles,script,src,tests}/**/*.sol --fix --noPrompt, forge fmt

refactor: rename function
  src/abstracts/SablierMerkleBase.sol
  src/interfaces/ISablierMerkleBase.sol
  tests/fork/price-feed/ChainlinkPriceFeed.t.sol
  tests/integration/concrete/campaign/instant/MerkleInstant.t.sol
  tests/integration/concrete/campaign/ll/MerkleLL.t.sol
  tests/integration/concrete/campaign/lt/MerkleLT.t.sol
  tests/integration/concrete/campaign/shared/minimum-fee-in-wei/minimumFeeInWei.t.sol
  tests/integration/concrete/campaign/shared/minimum-fee-in-wei/minimumFeeInWei.tree
  tests/integration/concrete/campaign/vca/MerkleVCA.t.sol
Due: bun solhint {precompiles,script,src,tests}/**/*.sol --fix --noPrompt, forge fmt

polish docs
  src/abstracts/SablierMerkleBase.sol
  src/interfaces/ISablierMerkleBase.sol
Due: bun solhint {precompiles,script,src,tests}/**/*.sol --fix --noPrompt, forge fmt

bump lockup
  bun.lockb
  package.json
Due: prettier --write

feat: transfer tokens directly if claimed after vesting end time (#77)
  .solhint.json
  bun.lockb
  package.json
  src/SablierMerkleLL.sol
  src/SablierMerkleLT.sol
  src/interfaces/ISablierMerkleBase.sol
  src/interfaces/ISablierMerkleLockup.sol
  tests/Base.t.sol
  tests/fork/merkle-campaign/MerkleLL.t.sol
  tests/fork/merkle-campaign/MerkleLT.t.sol
  tests/integration/Integration.t.sol
  tests/integration/concrete/campaign/ll/claim/claim.t.sol
  tests/integration/concrete/campaign/ll/claim/claim.tree
  tests/integration/concrete/campaign/ll/constructor.t.sol
  tests/integration/concrete/campaign/lt/claim/claim.t.sol
  tests/integration/concrete/campaign/lt/claim/claim.tree
  tests/integration/concrete/campaign/lt/constructor.t.sol
  tests/utils/Constants.sol
  tests/utils/Modifiers.sol
Due: prettier --write, bun solhint {precompiles,script,src,tests}/**/*.sol --fix --noPrompt, forge fmt

short circuit for 2 if conditions
  src/abstracts/SablierMerkleBase.sol
Due: bun solhint {precompiles,script,src,tests}/**/*.sol --fix --noPrompt, forge fmt

script: refactor scripts
  script/Base.s.sol
  script/ChainlinkPriceFeedAddresses.sol
  script/CreateMerkleInstant.s.sol
  script/CreateMerkleLL.s.sol
  script/CreateMerkleLT.s.sol
  script/CreateMerkleVCA.s.sol
  script/DeployDeterministicMerkleFactories.s.sol
  script/DeployMerkleFactories.s.sol
  tests/fork/price-feed/ChainlinkPriceFeed.t.sol
Due: bun solhint {precompiles,script,src,tests}/**/*.sol --fix --noPrompt, forge fmt

tests: refactor chainlink PR tests
  tests/Base.t.sol
  tests/fork/merkle-campaign/MerkleInstant.t.sol
  tests/fork/merkle-campaign/MerkleLL.t.sol
  tests/fork/merkle-campaign/MerkleLT.t.sol
  tests/fork/merkle-campaign/MerkleVCA.t.sol
  tests/fork/price-feed/ChainlinkPriceFeed.t.sol
  tests/integration/Integration.t.sol
  tests/integration/concrete/campaign/instant/MerkleInstant.t.sol
  tests/integration/concrete/campaign/instant/constructor.t.sol
  tests/integration/concrete/campaign/ll/MerkleLL.t.sol
  tests/integration/concrete/campaign/ll/constructor.t.sol
  tests/integration/concrete/campaign/lt/MerkleLT.t.sol
  tests/integration/concrete/campaign/lt/constructor.t.sol
  tests/integration/concrete/campaign/shared/lower-minimum-fee/lowerMinimumFee.t.sol
  tests/integration/concrete/campaign/shared/lower-minimum-fee/lowerMinimumFee.tree
  tests/integration/concrete/campaign/shared/minimum-fee-in-wei/minimumFeeInWei.t.sol
  tests/integration/concrete/campaign/shared/minimum-fee-in-wei/minimumFeeInWei.tree
  tests/integration/concrete/campaign/vca/MerkleVCA.t.sol
  tests/integration/concrete/campaign/vca/constructor.t.sol
  tests/integration/concrete/factory/instant/constructor.t.sol
  tests/integration/concrete/factory/instant/create-merkle-instant/createMerkleInstant.t.sol
  tests/integration/concrete/factory/ll/constructor.t.sol
  tests/integration/concrete/factory/ll/create-merkle-ll/createMerkleLL.t.sol
  tests/integration/concrete/factory/lt/constructor.t.sol
  tests/integration/concrete/factory/lt/create-merkle-lt/createMerkleLT.t.sol
  tests/integration/concrete/factory/shared/reset-custom-fee/resetCustomFee.t.sol
  tests/integration/concrete/factory/shared/reset-custom-fee/resetCustomFee.tree
  tests/integration/concrete/factory/shared/set-custom-fee/setCustomFee.t.sol
  tests/integration/concrete/factory/shared/set-custom-fee/setCustomFee.tree
  tests/integration/concrete/factory/shared/set-minimum-fee/setMinimumFee.t.sol
  tests/integration/concrete/factory/shared/set-minimum-fee/setMinimumFee.tree
  tests/integration/concrete/factory/shared/set-oracle/setOracle.t.sol
  tests/integration/concrete/factory/shared/set-oracle/setOracle.tree
  tests/integration/concrete/factory/vca/constructor.t.sol
  tests/integration/concrete/factory/vca/create-merkle-vca/createMerkleVCA.t.sol
  tests/utils/ChainlinkOracleMock.sol
  tests/utils/ChainlinkPriceFeedMock.sol
  tests/utils/Constants.sol
  tests/utils/Modifiers.sol
Due: bun solhint {precompiles,script,src,tests}/**/*.sol --fix --noPrompt, forge fmt

fix: overflow bug
  src/abstracts/SablierMerkleBase.sol
Due: bun solhint {precompiles,script,src,tests}/**/*.sol --fix --noPrompt, forge fmt

Path conditions:
  prettier --write: any of: *.{json,md,svg,yml}
  bun solhint {precompiles,script,src,tests}/**/*.sol --fix --noPrompt: any of: *.sol
  forge fmt: any of: *.sol
