Repository sablier-labs/lockup: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, bun solhint {precompiles,script,src,tests}/**/*.sol --fix --noPrompt, forge fmt

.lintstagedrc.yml:

"*.{json,md,yml}": "prettier --write"
"*.sol":
  - "bun solhint {precompiles,script,src,tests}/**/*.sol --fix --noPrompt"
  - "forge fmt"

docs: update license
  LICENSE.md
Due: prettier --write

test(fork): run fork tests without forking the chain in non-production environment
  tests/fork/Fork.t.sol
Due: bun solhint {precompiles,script,src,tests}/**/*.sol --fix --noPrompt, forge fmt

docs: update license date
  LICENSE.md
Due: prettier --write

build: add more endpoints
  foundry.toml
Due: none

build: add more endpoints (#1200)
  foundry.toml
Due: none

docs: improve writing in NatSpec
  src/SablierLockup.sol
  src/abstracts/SablierLockupBase.sol
  src/interfaces/ISablierLockup.sol
  src/interfaces/ISablierLockupBase.sol
  src/libraries/Helpers.sol
  src/libraries/StreamingMath.sol
  src/types/DataTypes.sol
  tests/integration/concrete/lockup-base/cancel/cancel.t.sol
  tests/integration/concrete/lockup-base/withdraw/withdraw.t.sol
  tests/integration/fuzz/lockup-base/cancel.t.sol
  tests/integration/fuzz/lockup-base/withdraw.t.sol
  tests/integration/fuzz/lockup-dynamic/createWithTimestampsLD.t.sol
  tests/integration/fuzz/lockup-dynamic/withdraw.t.sol
  tests/integration/fuzz/lockup-linear/createWithTimestampsLL.t.sol
  tests/integration/fuzz/lockup-tranched/createWithTimestampsLT.t.sol
  tests/integration/fuzz/lockup-tranched/withdraw.t.sol
  tests/invariant/Invariant.t.sol
  tests/invariant/handlers/LockupAdminHandler.sol
Due: bun solhint {precompiles,script,src,tests}/**/*.sol --fix --noPrompt, forge fmt

docs: improve writing in NatSpec
  src/abstracts/SablierLockupBase.sol
  src/interfaces/ISablierLockupBase.sol
  tests/integration/concrete/batch/batch.t.sol
Due: bun solhint {precompiles,script,src,tests}/**/*.sol --fix --noPrompt, forge fmt

test: run fork tests without forking the chain during development (#399)
  tests/fork/Flow.t.sol
  tests/fork/Fork.t.sol
  tests/fork/tokens/DAI.t.sol
  tests/fork/tokens/EURS.t.sol
  tests/fork/tokens/SHIBA.t.sol
  tests/fork/tokens/USDC.t.sol
  tests/fork/tokens/USDT.t.sol
Due: bun solhint {precompiles,script,src,tests}/**/*.sol --fix --noPrompt, forge fmt

feat: add nft descriptor addresses (#400)
  foundry.toml
  script/DeployDeterministicFlow.s.sol
  script/DeployDeterministicProtocol.s.sol
  script/DeployFlow.s.sol
  script/DeployProtocol.s.sol
  script/NFTDescriptorAddresses.sol
Due: bun solhint {precompiles,script,src,tests}/**/*.sol --fix --noPrompt, forge fmt

chore:update consistent comments for assertions
  tests/fork/Lockup.t.sol
  tests/fork/LockupDynamic.t.sol
  tests/fork/LockupLinear.t.sol
  tests/fork/LockupTranched.t.sol
  tests/integration/concrete/batch-lockup/create-with-durations-ld/createWithDurationsLD.t.sol
  tests/integration/concrete/batch-lockup/create-with-durations-ll/createWithDurationsLL.t.sol
  tests/integration/concrete/batch-lockup/create-with-durations-lt/createWithDurationsLT.t.sol
  tests/integration/concrete/batch-lockup/create-with-timestamps-ld/createWithTimestampsLD.t.sol
  tests/integration/concrete/batch-lockup/create-with-timestamps-ll/createWithTimestamps.t.sol
  tests/integration/concrete/batch-lockup/create-with-timestamps-lt/createWithTimestampsLT.t.sol
  tests/integration/concrete/lockup-base/create-with-timestamps/createWithTimestamps.t.sol
  tests/integration/concrete/lockup-base/withdraw-max-and-transfer/withdrawMaxAndTransfer.t.sol
  tests/integration/concrete/lockup-base/withdraw-max/withdrawMax.t.sol
  tests/integration/concrete/lockup-base/withdraw-multiple/withdrawMultiple.t.sol
  tests/integration/concrete/lockup-base/withdraw/withdraw.t.sol
  tests/integration/concrete/lockup-dynamic/create-with-durations-ld/createWithDurationsLD.t.sol
  tests/integration/concrete/lockup-linear/create-with-durations-ll/createWithDurationsLL.t.sol
  tests/integration/concrete/lockup-tranched/create-with-durations-lt/createWithDurationsLT.t.sol
  tests/integration/fuzz/lockup-base/cancel.t.sol
  tests/integration/fuzz/lockup-base/withdraw.t.sol
  tests/integration/fuzz/lockup-base/withdrawMax.t.sol
  tests/integration/fuzz/lockup-base/withdrawMaxAndTransfer.t.sol
  tests/integration/fuzz/lockup-dynamic/createWithDurationsLD.t.sol
  tests/integration/fuzz/lockup-dynamic/createWithTimestampsLD.t.sol
  tests/integration/fuzz/lockup-dynamic/streamedAmountOf.t.sol
  tests/integration/fuzz/lockup-dynamic/withdraw.t.sol
  tests/integration/fuzz/lockup-linear/createWithDurationsLL.t.sol
  tests/integration/fuzz/lockup-linear/createWithTimestampsLL.t.sol
  tests/integration/fuzz/lockup-linear/streamedAmountOf.t.sol
  tests/integration/fuzz/lockup-tranched/createWithDurationsLT.t.sol
  tests/integration/fuzz/lockup-tranched/createWithTimestampsLT.t.sol
  tests/integration/fuzz/lockup-tranched/streamedAmountOf.t.sol
  tests/integration/fuzz/lockup-tranched/withdraw.t.sol
Due: bun solhint {precompiles,script,src,tests}/**/*.sol --fix --noPrompt, forge fmt

docs: refactor SECURITY doc
  SECURITY.md
Due: prettier --write

docs: smol polish
  SECURITY.md
Due: prettier --write

docs: refactor SECURITY doc (#1206)
  SECURITY.md
Due: prettier --write

docs: refactor SECURITY doc (#401)
  SECURITY.md
Due: prettier --write

build: use solc 0.8.29
  .github/workflows/multibuild.yml
  foundry.toml
Due: prettier --write

build: use solc 0.8.29 (#88)
  foundry.toml
Due: none

build: use solc 0.8.29 (#1207)
  .github/workflows/multibuild.yml
  foundry.toml
Due: prettier --write

build: use solc 0.8.29 (#1207)
  foundry.toml
Due: none

build: use solc 0.8.29 (#403)
  .github/workflows/multibuild.yml
  foundry.toml
Due: prettier --write

ci: rename multibuild workflow file
  .github/workflows/ci-multibuild.yml
  .github/workflows/multibuild.yml
Due: prettier --write

ci: rename multibuild workflow file
  .github/workflows/ci-multibuild.yml
Due: prettier --write

ci: add workflow_dispatch to slither
  .github/workflows/ci-slither.yml
Due: prettier --write

docs: polish comments
  .solhint.json
  src/interfaces/ISablierLockup.sol
  src/libraries/Helpers.sol
Due: prettier --write, bun solhint {precompiles,script,src,tests}/**/*.sol --fix --noPrompt, forge fmt

test(invariant): remove redundant invariant
  .solhint.json
  tests/invariant/Invariant.t.sol
  tests/utils/Assertions.sol
Due: prettier --write, bun solhint {precompiles,script,src,tests}/**/*.sol --fix --noPrompt, forge fmt

Move modifier logic into private function (#11)
  foundry.toml
  src/Adminable.sol
  src/NoDelegateCall.sol
Due: bun solhint {precompiles,script,src,tests}/**/*.sol --fix --noPrompt, forge fmt

docs: improve writing in NatSpec (#1210)
  .solhint.json
  src/SablierLockup.sol
  src/abstracts/SablierLockupBase.sol
  src/interfaces/ISablierLockup.sol
  src/interfaces/ISablierLockupBase.sol
  src/libraries/Helpers.sol
  src/libraries/StreamingMath.sol
  src/types/DataTypes.sol
  tests/integration/concrete/batch/batch.t.sol
  tests/integration/concrete/lockup-base/cancel/cancel.t.sol
  tests/integration/concrete/lockup-base/withdraw/withdraw.t.sol
  tests/integration/fuzz/lockup-base/cancel.t.sol
  tests/integration/fuzz/lockup-base/withdraw.t.sol
  tests/integration/fuzz/lockup-dynamic/createWithTimestampsLD.t.sol
  tests/integration/fuzz/lockup-dynamic/withdraw.t.sol
  tests/integration/fuzz/lockup-linear/createWithTimestampsLL.t.sol
  tests/integration/fuzz/lockup-tranched/createWithTimestampsLT.t.sol
  tests/integration/fuzz/lockup-tranched/withdraw.t.sol
  tests/invariant/Invariant.t.sol
  tests/invariant/handlers/LockupAdminHandler.sol
  tests/utils/Assertions.sol
Due: prettier --write, bun solhint {precompiles,script,src,tests}/**/*.sol --fix --noPrompt, forge fmt

docs: improve writing in NatSpec (#1210)
  .solhint.json
  src/SablierLockup.sol
  src/abstracts/SablierLockupBase.sol
  src/interfaces/ISablierLockup.sol
  src/interfaces/ISablierLockupBase.sol
  src/libraries/Helpers.sol
  src/libraries/StreamingMath.sol
  src/types/DataTypes.sol
  tests/integration/concrete/batch/batch.t.sol
  tests/integration/concrete/lockup-base/cancel/cancel.t.sol
  tests/integration/concrete/lockup-base/withdraw/withdraw.t.sol
  tests/integration/fuzz/lockup-base/cancel.t.sol
  tests/integration/fuzz/lockup-base/withdraw.t.sol
  tests/integration/fuzz/lockup-dynamic/createWithTimestampsLD.t.sol
  tests/integration/fuzz/lockup-dynamic/withdraw.t.sol
  tests/integration/fuzz/lockup-linear/createWithTimestampsLL.t.sol
  tests/integration/fuzz/lockup-tranched/createWithTimestampsLT.t.sol
  tests/integration/fuzz/lockup-tranched/withdraw.t.sol
  tests/invariant/Invariant.t.sol
  tests/invariant/handlers/LockupAdminHandler.sol
Due: prettier --write, bun solhint {precompiles,script,src,tests}/**/*.sol --fix --noPrompt, forge fmt

chore: remove unused custom error
  SECURITY.md
  src/libraries/Errors.sol
Due: prettier --write, bun solhint {precompiles,script,src,tests}/**/*.sol --fix --noPrompt, forge fmt

build: bump evm utils
  SECURITY.md
  bun.lockb
  foundry.toml
  package.json
  src/SablierLockup.sol
  src/abstracts/SablierLockupBase.sol
  src/interfaces/ISablierLockupBase.sol
  src/libraries/Errors.sol
  src/libraries/Helpers.sol
  tests/integration/concrete/lockup-base/create-with-timestamps/createWithTimestamps.t.sol
  tests/integration/concrete/lockup-base/create-with-timestamps/createWithTimestamps.tree
  tests/integration/concrete/lockup-base/set-native-token/setNativeToken.t.sol
  tests/integration/concrete/lockup-base/set-native-token/setNativeToken.tree
  tests/integration/concrete/lockup-dynamic/create-with-timestamps-ld/createWithTimestampsLD.t.sol
  tests/integration/concrete/lockup-linear/create-with-timestamps-ll/createWithTimestampsLL.t.sol
  tests/integration/concrete/lockup-tranched/create-with-timestamps-lt/createWithTimestampsLT.t.sol
  tests/utils/Modifiers.sol
Due: prettier --write, bun solhint {precompiles,script,src,tests}/**/*.sol --fix --noPrompt, forge fmt
