Repository sablier-labs/airdrops: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --cache --cache-location ./node_modules/.cache/prettier/.prettier-cache --write, bun solhint {scripts/solidity,src,tests}/**/*.sol --fix --noPrompt, forge fmt

build: bump devkit
  bun.lock
  justfile
Due: none

chore: just scripts (#166)
  .env.example
  .github/workflows/ci-deep.yml
  .github/workflows/ci-fork.yml
  .github/workflows/ci-slither.yml
  .github/workflows/ci.yml
  .husky/pre-commit
  .prettierrc.js
  .prettierrc.yml
  bun.lock
  justfile
  package.json
Due: prettier --cache --cache-location ./node_modules/.cache/prettier/.prettier-cache --write

build: bump packages
  bun.lock
  package.json
  scripts/solidity/Base.sol
  tests/Base.t.sol
  tests/utils/Constants.sol
Due: prettier --cache --cache-location ./node_modules/.cache/prettier/.prettier-cache --write, bun solhint {scripts/solidity,src,tests}/**/*.sol --fix --noPrompt, forge fmt

chore: remove redundant code
  justfile
  scripts/solidity/Base.sol
  scripts/solidity/CreateMerkleInstant.s.sol
  scripts/solidity/CreateMerkleLL.s.sol
  scripts/solidity/CreateMerkleLT.s.sol
  scripts/solidity/CreateMerkleVCA.s.sol
  scripts/solidity/DeployDeterministicFactories.s.sol
  scripts/solidity/DeployFactories.s.sol
  tests/fork/chainlink-oracle/ChainlinkOracle.t.sol
  tests/utils/BaseScript.t.sol
Due: bun solhint {scripts/solidity,src,tests}/**/*.sol --fix --noPrompt, forge fmt

docs: update contributing file
  CONTRIBUTING.md
Due: prettier --cache --cache-location ./node_modules/.cache/prettier/.prettier-cache --write

docs: polish natpsec
  src/abstracts/SablierMerkleBase.sol
Due: bun solhint {scripts/solidity,src,tests}/**/*.sol --fix --noPrompt, forge fmt

feat: add comptroller in merkle base
  src/SablierFactoryMerkleInstant.sol
  src/SablierFactoryMerkleLL.sol
  src/SablierFactoryMerkleLT.sol
  src/SablierFactoryMerkleVCA.sol
  src/SablierMerkleInstant.sol
  src/SablierMerkleLL.sol
  src/SablierMerkleLT.sol
  src/SablierMerkleVCA.sol
  src/abstracts/SablierMerkleBase.sol
  src/abstracts/SablierMerkleLockup.sol
  src/interfaces/ISablierFactoryMerkleInstant.sol
  src/interfaces/ISablierFactoryMerkleLL.sol
  src/interfaces/ISablierFactoryMerkleLT.sol
  src/interfaces/ISablierFactoryMerkleVCA.sol
  src/interfaces/ISablierMerkleBase.sol
  tests/Base.t.sol
  tests/fork/merkle-campaign/MerkleInstant.t.sol
  tests/fork/merkle-campaign/MerkleLL.t.sol
  tests/fork/merkle-campaign/MerkleLT.t.sol
  tests/fork/merkle-campaign/MerkleVCA.t.sol
  tests/integration/concrete/campaign/instant/constructor.t.sol
  tests/integration/concrete/campaign/ll/constructor.t.sol
  tests/integration/concrete/campaign/lt/constructor.t.sol
  tests/integration/concrete/campaign/vca/constructor.t.sol
  tests/integration/concrete/factory/instant/FactoryMerkleInstant.t.sol
  tests/integration/concrete/factory/instant/create-merkle-instant/createMerkleInstant.t.sol
  tests/integration/concrete/factory/ll/FactoryMerkleLL.t.sol
  tests/integration/concrete/factory/ll/create-merkle-ll/createMerkleLL.t.sol
  tests/integration/concrete/factory/lt/FactoryMerkleLT.t.sol
  tests/integration/concrete/factory/lt/create-merkle-lt/createMerkleLT.t.sol
  tests/integration/concrete/factory/vca/FactoryMerkleVCA.t.sol
  tests/integration/concrete/factory/vca/create-merkle-vca/createMerkleVCA.t.sol
  tests/integration/fuzz/MerkleInstant.t.sol
  tests/integration/fuzz/MerkleLL.t.sol
  tests/integration/fuzz/MerkleLT.t.sol
  tests/integration/fuzz/MerkleVCA.t.sol
Due: bun solhint {scripts/solidity,src,tests}/**/*.sol --fix --noPrompt, forge fmt

docs: polish natspec grammar
  src/interfaces/ISablierMerkleLL.sol
  src/interfaces/ISablierMerkleLT.sol
Due: bun solhint {scripts/solidity,src,tests}/**/*.sol --fix --noPrompt, forge fmt

refactor: remove factory from campaigns
  src/abstracts/SablierMerkleBase.sol
  src/interfaces/ISablierMerkleBase.sol
  tests/integration/concrete/campaign/instant/constructor.t.sol
  tests/integration/concrete/campaign/ll/constructor.t.sol
  tests/integration/concrete/campaign/lt/constructor.t.sol
  tests/integration/concrete/campaign/vca/constructor.t.sol
  tests/integration/concrete/factory/instant/create-merkle-instant/createMerkleInstant.t.sol
  tests/integration/concrete/factory/ll/create-merkle-ll/createMerkleLL.t.sol
  tests/integration/concrete/factory/lt/create-merkle-lt/createMerkleLT.t.sol
  tests/integration/concrete/factory/vca/create-merkle-vca/createMerkleVCA.t.sol
Due: bun solhint {scripts/solidity,src,tests}/**/*.sol --fix --noPrompt, forge fmt

docs: nitpick
  src/interfaces/ISablierMerkleInstant.sol
  src/interfaces/ISablierMerkleLL.sol
  src/interfaces/ISablierMerkleLT.sol
  src/interfaces/ISablierMerkleVCA.sol
Due: bun solhint {scripts/solidity,src,tests}/**/*.sol --fix --noPrompt, forge fmt

chore: bump date
  LICENSE.md
Due: prettier --cache --cache-location ./node_modules/.cache/prettier/.prettier-cache --write

chore: bump license
  LICENSE.md
Due: prettier --cache --cache-location ./node_modules/.cache/prettier/.prettier-cache --write

bump deps
  bun.lock
  package.json
Due: prettier --cache --cache-location ./node_modules/.cache/prettier/.prettier-cache --write

refactor: claim events (#163)
  LICENSE.md
  bun.lock
  package.json
  src/SablierMerkleInstant.sol
  src/SablierMerkleLL.sol
  src/SablierMerkleLT.sol
  src/SablierMerkleVCA.sol
  src/interfaces/ISablierMerkleInstant.sol
  src/interfaces/ISablierMerkleLL.sol
  src/interfaces/ISablierMerkleLT.sol
  src/interfaces/ISablierMerkleLockup.sol
  src/interfaces/ISablierMerkleVCA.sol
  tests/fork/merkle-campaign/MerkleLL.t.sol
  tests/fork/merkle-campaign/MerkleLT.t.sol
  tests/fork/merkle-campaign/MerkleVCA.t.sol
  tests/integration/concrete/campaign/instant/claim-to/claimTo.t.sol
  tests/integration/concrete/campaign/instant/claim-via-sign/claimViaSig.t.sol
  tests/integration/concrete/campaign/instant/claim/claim.t.sol
  tests/integration/concrete/campaign/ll/claim-to/claimTo.t.sol
  tests/integration/concrete/campaign/ll/claim-via-sign/claimViaSig.t.sol
  tests/integration/concrete/campaign/ll/claim/claim.t.sol
  tests/integration/concrete/campaign/lt/claim-to/claimTo.t.sol
  tests/integration/concrete/campaign/lt/claim-via-sign/claimViaSig.t.sol
  tests/integration/concrete/campaign/lt/claim/claim.t.sol
  tests/integration/concrete/campaign/vca/claim-to/claimTo.t.sol
  tests/integration/concrete/campaign/vca/claim-via-sign/claimViaSig.t.sol
  tests/integration/concrete/campaign/vca/claim/claim.t.sol
  tests/integration/fuzz/MerkleInstant.t.sol
  tests/integration/fuzz/MerkleLL.t.sol
  tests/integration/fuzz/MerkleLT.t.sol
  tests/integration/fuzz/MerkleVCA.t.sol
Due: prettier --cache --cache-location ./node_modules/.cache/prettier/.prettier-cache --write, bun solhint {scripts/solidity,src,tests}/**/*.sol --fix --noPrompt, forge fmt

build: bump lockup
  bun.lock
  package.json
Due: prettier --cache --cache-location ./node_modules/.cache/prettier/.prettier-cache --write

chore: repomix config
  .gitignore
  .prettierignore
  .vscode/settings.json
  repomix.config.jsonc
Due: prettier --cache --cache-location ./node_modules/.cache/prettier/.prettier-cache --write

chore: remove smt
  .lintstagedrc.js
  foundry.toml
Due: none

chore: rename bnb to bsc ci: remove smt workflow
  .github/workflows/run-smtchecker.yml
  bun.lock
  foundry.toml
  package.json
  scripts/solidity/CreateMerkleInstant.s.sol
  scripts/solidity/CreateMerkleLL.s.sol
  scripts/solidity/CreateMerkleLT.s.sol
  scripts/solidity/CreateMerkleVCA.s.sol
  scripts/solidity/DeployDeterministicFactories.s.sol
  scripts/solidity/DeployFactories.s.sol
Due: prettier --cache --cache-location ./node_modules/.cache/prettier/.prettier-cache --write, bun solhint {scripts/solidity,src,tests}/**/*.sol --fix --noPrompt, forge fmt

chore: remove smt (#170)
  .github/workflows/run-smtchecker.yml
  .lintstagedrc.js
  bun.lock
  foundry.toml
  package.json
  scripts/solidity/CreateMerkleInstant.s.sol
  scripts/solidity/CreateMerkleLL.s.sol
  scripts/solidity/CreateMerkleLT.s.sol
  scripts/solidity/CreateMerkleVCA.s.sol
  scripts/solidity/DeployDeterministicFactories.s.sol
  scripts/solidity/DeployFactories.s.sol
Due: prettier --cache --cache-location ./node_modules/.cache/prettier/.prettier-cache --write, bun solhint {scripts/solidity,src,tests}/**/*.sol --fix --noPrompt, forge fmt

build: bump evm-utils
  bun.lock
  package.json
Due: prettier --cache --cache-location ./node_modules/.cache/prettier/.prettier-cache --write

refactor: fee query functions (#172)
  LICENSE-BUSL.md
  LICENSE.md
  bun.lock
  package.json
  src/SablierFactoryMerkleInstant.sol
  src/SablierFactoryMerkleLL.sol
  src/SablierFactoryMerkleLT.sol
  src/SablierFactoryMerkleVCA.sol
  src/abstracts/SablierFactoryMerkleBase.sol
  src/abstracts/SablierMerkleBase.sol
  src/interfaces/ISablierFactoryMerkleBase.sol
  src/interfaces/ISablierMerkleBase.sol
  tests/fork/merkle-campaign/MerkleBase.t.sol
  tests/integration/concrete/campaign/instant/MerkleInstant.t.sol
  tests/integration/concrete/campaign/ll/MerkleLL.t.sol
  tests/integration/concrete/campaign/lt/MerkleLT.t.sol
  tests/integration/concrete/campaign/shared/calculate-min-fee-wei/calculateMinFeeWei.t.sol
  tests/integration/concrete/campaign/shared/calculate-min-fee-wei/calculateMinFeeWei.tree
  tests/integration/concrete/campaign/shared/lower-min-fee-usd/lowerMinFeeUSD.t.sol
  tests/integration/concrete/campaign/vca/MerkleVCA.t.sol
  tests/integration/concrete/factory/instant/create-merkle-instant/createMerkleInstant.t.sol
  tests/integration/concrete/factory/ll/create-merkle-ll/createMerkleLL.t.sol
  tests/integration/concrete/factory/lt/create-merkle-lt/createMerkleLT.t.sol
  tests/integration/concrete/factory/shared/set-native-token/setNativeToken.t.sol
  tests/integration/concrete/factory/vca/create-merkle-vca/createMerkleVCA.t.sol
  tests/integration/fuzz/Fuzz.t.sol
  tests/integration/fuzz/MerkleInstant.t.sol
  tests/integration/fuzz/MerkleLL.t.sol
  tests/integration/fuzz/MerkleLT.t.sol
  tests/integration/fuzz/MerkleVCA.t.sol
  tests/utils/Constants.sol
Due: prettier --cache --cache-location ./node_modules/.cache/prettier/.prettier-cache --write, bun solhint {scripts/solidity,src,tests}/**/*.sol --fix --noPrompt, forge fmt

refactor: remove claim from VCA
  src/SablierMerkleVCA.sol
  src/interfaces/ISablierMerkleVCA.sol
  tests/fork/merkle-campaign/MerkleVCA.t.sol
  tests/integration/concrete/campaign/shared/clawback/clawback.t.sol
  tests/integration/concrete/campaign/shared/has-claimed/hasClaimed.t.sol
  tests/integration/concrete/campaign/vca/claim-to/claimTo.t.sol
  tests/integration/concrete/campaign/vca/claim-to/claimTo.tree
  tests/integration/concrete/campaign/vca/claim/claim.t.sol
  tests/integration/concrete/campaign/vca/claim/claim.tree
  tests/integration/concrete/factory/vca/FactoryMerkleVCA.t.sol
  tests/integration/fuzz/Fuzz.t.sol
Due: bun solhint {scripts/solidity,src,tests}/**/*.sol --fix --noPrompt, forge fmt

test: dryify claimTo tests in VCA docs: polish comments
  src/interfaces/ISablierMerkleVCA.sol
  tests/fork/merkle-campaign/MerkleLL.t.sol
  tests/fork/merkle-campaign/MerkleLT.t.sol
  tests/integration/Integration.t.sol
  tests/integration/concrete/campaign/ll/claim-to/claimTo.t.sol
  tests/integration/concrete/campaign/ll/claim-to/claimTo.tree
  tests/integration/concrete/campaign/ll/claim/claim.t.sol
  tests/integration/concrete/campaign/ll/claim/claim.tree
  tests/integration/concrete/campaign/lt/claim-to/claimTo.t.sol
  tests/integration/concrete/campaign/lt/claim-to/claimTo.tree
  tests/integration/concrete/campaign/lt/claim/claim.t.sol
  tests/integration/concrete/campaign/lt/claim/claim.tree
  tests/integration/concrete/campaign/shared/claim-to/claimTo.tree
  tests/integration/concrete/campaign/shared/claim-via-sig/claimViaSig.tree
  tests/integration/concrete/campaign/shared/claim/claim.t.sol
  tests/integration/concrete/campaign/shared/claim/claim.tree
  tests/integration/concrete/campaign/vca/claim-to/claimTo.t.sol
  tests/integration/concrete/campaign/vca/claim-to/claimTo.tree
  tests/integration/fuzz/Fuzz.t.sol
  tests/integration/fuzz/MerkleInstant.t.sol
  tests/integration/fuzz/MerkleLL.t.sol
  tests/integration/fuzz/MerkleVCA.t.sol
Due: bun solhint {scripts/solidity,src,tests}/**/*.sol --fix --noPrompt, forge fmt

refactor: remove `claim` from VCA (#173)
  src/SablierMerkleVCA.sol
  src/interfaces/ISablierMerkleVCA.sol
  tests/fork/merkle-campaign/MerkleLL.t.sol
  tests/fork/merkle-campaign/MerkleLT.t.sol
  tests/fork/merkle-campaign/MerkleVCA.t.sol
  tests/integration/Integration.t.sol
  tests/integration/concrete/campaign/ll/claim-to/claimTo.t.sol
  tests/integration/concrete/campaign/ll/claim-to/claimTo.tree
  tests/integration/concrete/campaign/ll/claim/claim.t.sol
  tests/integration/concrete/campaign/ll/claim/claim.tree
  tests/integration/concrete/campaign/lt/claim-to/claimTo.t.sol
  tests/integration/concrete/campaign/lt/claim-to/claimTo.tree
  tests/integration/concrete/campaign/lt/claim/claim.t.sol
  tests/integration/concrete/campaign/lt/claim/claim.tree
  tests/integration/concrete/campaign/shared/claim-to/claimTo.tree
  tests/integration/concrete/campaign/shared/claim-via-sig/claimViaSig.tree
  tests/integration/concrete/campaign/shared/claim/claim.t.sol
  tests/integration/concrete/campaign/shared/claim/claim.tree
  tests/integration/concrete/campaign/shared/clawback/clawback.t.sol
  tests/integration/concrete/campaign/shared/has-claimed/hasClaimed.t.sol
  tests/integration/concrete/campaign/vca/claim-to/claimTo.t.sol
  tests/integration/concrete/campaign/vca/claim-to/claimTo.tree
  tests/integration/concrete/campaign/vca/claim/claim.t.sol
  tests/integration/concrete/campaign/vca/claim/claim.tree
  tests/integration/concrete/factory/vca/FactoryMerkleVCA.t.sol
  tests/integration/fuzz/Fuzz.t.sol
  tests/integration/fuzz/MerkleInstant.t.sol
  tests/integration/fuzz/MerkleLL.t.sol
  tests/integration/fuzz/MerkleVCA.t.sol
Due: bun solhint {scripts/solidity,src,tests}/**/*.sol --fix --noPrompt, forge fmt

feat: add dynamic domain separator
  src/abstracts/SablierMerkleBase.sol
  src/interfaces/ISablierMerkleBase.sol
  tests/Base.t.sol
  tests/integration/Integration.t.sol
  tests/integration/concrete/campaign/instant/MerkleInstant.t.sol
  tests/integration/concrete/campaign/instant/constructor.t.sol
  tests/integration/concrete/campaign/ll/MerkleLL.t.sol
  tests/integration/concrete/campaign/ll/constructor.t.sol
  tests/integration/concrete/campaign/lt/MerkleLT.t.sol
  tests/integration/concrete/campaign/lt/constructor.t.sol
  tests/integration/concrete/campaign/shared/claim-via-sig/claimViaSig.t.sol
  tests/integration/concrete/campaign/shared/domain-separator/domainSeparator.t.sol
  tests/integration/concrete/campaign/shared/domain-separator/domainSeparator.tree
  tests/integration/concrete/campaign/vca/MerkleVCA.t.sol
  tests/integration/concrete/campaign/vca/constructor.t.sol
  tests/utils/Utilities.sol
Due: bun solhint {scripts/solidity,src,tests}/**/*.sol --fix --noPrompt, forge fmt

feat: add validity start time for claim signature
  bun.lock
  src/SablierMerkleInstant.sol
  src/SablierMerkleLL.sol
  src/SablierMerkleLT.sol
  src/SablierMerkleVCA.sol
  src/abstracts/SablierMerkleBase.sol
  src/interfaces/ISablierMerkleInstant.sol
  src/interfaces/ISablierMerkleLL.sol
  src/interfaces/ISablierMerkleLT.sol
  src/interfaces/ISablierMerkleVCA.sol
  src/libraries/Errors.sol
  src/libraries/SignatureHash.sol
  tests/Base.t.sol
  tests/integration/Integration.t.sol
  tests/integration/concrete/campaign/instant/claim-via-sign/claimViaSig.t.sol
  tests/integration/concrete/campaign/ll/claim-via-sign/claimViaSig.t.sol
  tests/integration/concrete/campaign/lt/claim-via-sign/claimViaSig.t.sol
  tests/integration/concrete/campaign/shared/claim-via-sig/claimViaSig.t.sol
  tests/integration/concrete/campaign/shared/claim-via-sig/claimViaSig.tree
  tests/integration/concrete/campaign/vca/claim-via-sign/claimViaSig.t.sol
  tests/unit/SignatureHash.t.sol
  tests/utils/Modifiers.sol
  tests/utils/Utilities.sol
Due: bun solhint {scripts/solidity,src,tests}/**/*.sol --fix --noPrompt, forge fmt

build: set bytecode_hash to ipfs
  foundry.toml
Due: none

chore: revert in calculateForgoneAmount
  src/SablierMerkleVCA.sol
  src/interfaces/ISablierMerkleVCA.sol
  src/libraries/Errors.sol
  tests/integration/concrete/campaign/vca/calculate-forgone-amount/calculateForgoneAmount.t.sol
  tests/integration/concrete/campaign/vca/calculate-forgone-amount/calculateForgoneAmount.tree
  tests/integration/fuzz/MerkleVCA.t.sol
Due: bun solhint {scripts/solidity,src,tests}/**/*.sol --fix --noPrompt, forge fmt

docs: polish comment
  src/libraries/Errors.sol
Due: bun solhint {scripts/solidity,src,tests}/**/*.sol --fix --noPrompt, forge fmt

chore: revert in calculateForgoneAmount (#174)
  src/SablierMerkleVCA.sol
  src/interfaces/ISablierMerkleVCA.sol
  src/libraries/Errors.sol
  tests/integration/concrete/campaign/vca/calculate-forgone-amount/calculateForgoneAmount.t.sol
  tests/integration/concrete/campaign/vca/calculate-forgone-amount/calculateForgoneAmount.tree
  tests/integration/fuzz/MerkleVCA.t.sol
Due: bun solhint {scripts/solidity,src,tests}/**/*.sol --fix --noPrompt, forge fmt

docs: update claim natspec to latest lockup
  src/interfaces/ISablierMerkleLL.sol
  src/interfaces/ISablierMerkleLT.sol
Due: bun solhint {scripts/solidity,src,tests}/**/*.sol --fix --noPrompt, forge fmt

feat: getter in factory
  src/SablierFactoryMerkleLT.sol
  src/SablierFactoryMerkleVCA.sol
  src/SablierMerkleLT.sol
  src/SablierMerkleVCA.sol
  src/interfaces/ISablierFactoryMerkleLT.sol
  src/interfaces/ISablierFactoryMerkleVCA.sol
  src/interfaces/ISablierMerkleLT.sol
  src/libraries/Errors.sol
  tests/fork/merkle-campaign/MerkleLT.t.sol
  tests/integration/concrete/campaign/lt/claim-to/claimTo.t.sol
  tests/integration/concrete/campaign/lt/claim-to/claimTo.tree
  tests/integration/concrete/campaign/lt/claim/claim.t.sol
  tests/integration/concrete/campaign/lt/claim/claim.tree
  tests/integration/concrete/campaign/lt/constructor.t.sol
  tests/integration/concrete/campaign/vca/claim-to/claimTo.t.sol
  tests/integration/concrete/factory/lt/compute-merkle-lt/computeMerkleLT.t.sol
  tests/integration/concrete/factory/lt/compute-merkle-lt/computeMerkleLT.tree
  tests/integration/concrete/factory/lt/create-merkle-lt/createMerkleLT.t.sol
  tests/integration/concrete/factory/lt/create-merkle-lt/createMerkleLT.tree
  tests/integration/concrete/factory/vca/compute-merkle-vca/computeMerkleVCA.t.sol
  tests/integration/concrete/factory/vca/compute-merkle-vca/computeMerkleVCA.tree
  tests/integration/concrete/factory/vca/create-merkle-vca/createMerkleVCA.t.sol
  tests/integration/fuzz/MerkleLT.t.sol
Due: bun solhint {scripts/solidity,src,tests}/**/*.sol --fix --noPrompt, forge fmt

perf: move unlockAmount in else block
  src/SablierMerkleVCA.sol
Due: bun solhint {scripts/solidity,src,tests}/**/*.sol --fix --noPrompt, forge fmt

perf: move unlockAmount in else block (#175)
  src/SablierMerkleVCA.sol
Due: bun solhint {scripts/solidity,src,tests}/**/*.sol --fix --noPrompt, forge fmt

test: polish
  bun.lock
  tests/Base.t.sol
  tests/integration/Integration.t.sol
  tests/integration/concrete/campaign/shared/claim-to/claimTo.t.sol
  tests/integration/concrete/campaign/shared/claim-to/claimTo.tree
  tests/integration/concrete/campaign/shared/claim-via-sig/claimViaSig.t.sol
  tests/integration/concrete/campaign/shared/claim-via-sig/claimViaSig.tree
  tests/integration/concrete/campaign/shared/claim/claim.t.sol
  tests/integration/concrete/campaign/shared/claim/claim.tree
Due: bun solhint {scripts/solidity,src,tests}/**/*.sol --fix --noPrompt, forge fmt

Path conditions:
  prettier --cache --cache-location ./node_modules/.cache/prettier/.prettier-cache --write: any of: *.{json,md,yml}
  bun solhint {scripts/solidity,src,tests}/**/*.sol --fix --noPrompt: any of: *.sol
  forge fmt: any of: *.sol
