Repository sablier-labs/airdrops: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --cache --cache-location ./node_modules/.cache/prettier/.prettier-cache --write, bun solhint {scripts/solidity,src,tests}/**/*.sol --fix --noPrompt, forge fmt

.lintstagedrc.yml:

"*.{json,md,yml}": "prettier --cache --cache-location ./node_modules/.cache/prettier/.prettier-cache --write"
"*.sol":
  - "bun solhint {scripts/solidity,src,tests}/**/*.sol --fix --noPrompt"
  - "forge fmt"

build: bump lockup dep
  bun.lock
Due: none

test: exclude blacklisted recipients from claiming airdrop
  tests/fork/merkle-campaign/MerkleBase.t.sol
Due: bun solhint {scripts/solidity,src,tests}/**/*.sol --fix --noPrompt, forge fmt

build: bump evm-utils
  bun.lock
  foundry.toml
  package.json
Due: prettier --cache --cache-location ./node_modules/.cache/prettier/.prettier-cache --write

script: add lockup and token arguments to CreateMerkleLT and CreateMerkleLL scripts
  scripts/solidity/CreateMerkleLL.s.sol
  scripts/solidity/CreateMerkleLT.s.sol
Due: bun solhint {scripts/solidity,src,tests}/**/*.sol --fix --noPrompt, forge fmt

chore: add denergy rpc
  bun.lock
  foundry.toml
  package.json
Due: prettier --cache --cache-location ./node_modules/.cache/prettier/.prettier-cache --write

chore: update bun.lock
  bun.lock
Due: none

docs: update changelog for v2.0.0
  CHANGELOG.md
Due: prettier --cache --cache-location ./node_modules/.cache/prettier/.prettier-cache --write

docs: replace BREAKING with Breaking in Changelog
  CHANGELOG.md
Due: prettier --cache --cache-location ./node_modules/.cache/prettier/.prettier-cache --write

docs: note about archive
  README.md
Due: prettier --cache --cache-location ./node_modules/.cache/prettier/.prettier-cache --write

chore: bump bun.lock
  bun.lock
Due: none

docs: drop bug bounty wording, route disclosures to email
  README.md
  SECURITY.md
Due: prettier --cache --cache-location ./node_modules/.cache/prettier/.prettier-cache --write

ci: disable scheduled cron triggers
  .github/workflows/ci-deep.yml
  .github/workflows/ci-fork.yml
  .github/workflows/ci-multibuild.yml
  .github/workflows/ci-slither.yml
Due: prettier --cache --cache-location ./node_modules/.cache/prettier/.prettier-cache --write

ci: remove notify-on-failure Slack jobs
  .github/workflows/ci-deep.yml
  .github/workflows/ci-fork.yml
Due: prettier --cache --cache-location ./node_modules/.cache/prettier/.prettier-cache --write

chore(deps): bump devkit to fix just which()
  bun.lock
Due: none

style: fix forge fmt issues
  package.json
  src/SablierFactoryMerkleInstant.sol
  src/SablierFactoryMerkleLL.sol
  src/SablierFactoryMerkleLT.sol
  src/SablierFactoryMerkleVCA.sol
  src/SablierMerkleLT.sol
  src/SablierMerkleVCA.sol
  src/abstracts/SablierMerkleBase.sol
  src/interfaces/ISablierFactoryMerkleLT.sol
  tests/Base.t.sol
  tests/fork/merkle-campaign/MerkleBase.t.sol
  tests/fork/merkle-campaign/MerkleLL.t.sol
  tests/fork/merkle-campaign/MerkleLT.t.sol
  tests/integration/concrete/campaign/ll/MerkleLL.t.sol
  tests/integration/concrete/campaign/lt/MerkleLT.t.sol
  tests/integration/concrete/campaign/shared/claim/claim.t.sol
  tests/integration/concrete/campaign/vca/claim-to/claimTo.t.sol
  tests/integration/fuzz/Fuzz.t.sol
  tests/integration/fuzz/MerkleInstant.t.sol
  tests/integration/fuzz/MerkleLL.t.sol
  tests/integration/fuzz/MerkleLT.t.sol
  tests/utils/MerkleBuilder.sol
Due: prettier --cache --cache-location ./node_modules/.cache/prettier/.prettier-cache --write, bun solhint {scripts/solidity,src,tests}/**/*.sol --fix --noPrompt, forge fmt

fix(prettier): switch config to .mjs to fix ESM interop
  .prettierrc.mjs
Due: none

docs: split README and add AGENTS.md context
  AGENTS.md
  CLAUDE.md
  README.md
Due: prettier --cache --cache-location ./node_modules/.cache/prettier/.prettier-cache --write

chore: remove Discord and Codecov references
  .github/workflows/ci.yml
  CONTRIBUTING.md
  README.md
  codecov.yml
Due: prettier --cache --cache-location ./node_modules/.cache/prettier/.prettier-cache --write

chore: remove CLAUDE.md symlink now that Claude Code reads AGENTS.md
  CLAUDE.md
Due: prettier --cache --cache-location ./node_modules/.cache/prettier/.prettier-cache --write

build: switch from @sablier/devkit to @prb/devkit
  .prettierrc.mjs
  AGENTS.md
  bun.lock
  justfile
  package.json
Due: prettier --cache --cache-location ./node_modules/.cache/prettier/.prettier-cache --write

style: apply forge fmt to SablierMerkleBase
  src/abstracts/SablierMerkleBase.sol
Due: bun solhint {scripts/solidity,src,tests}/**/*.sol --fix --noPrompt, forge fmt

ci: run Foundry v1.8.5
  .github/workflows/ci-deep.yml
  .github/workflows/ci-fork.yml
  .github/workflows/ci-slither.yml
  .github/workflows/ci.yml
Due: prettier --cache --cache-location ./node_modules/.cache/prettier/.prettier-cache --write

ci: pin Ubuntu runners to 24.04
  .github/workflows/ci-multibuild.yml
Due: prettier --cache --cache-location ./node_modules/.cache/prettier/.prettier-cache --write
