Repository sablier-labs/lockup: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, bun solhint {precompiles,script,src,tests}/**/*.sol --fix --noPrompt, forge fmt

docs: update BTT section
  README.md
Due: prettier --write

docs: mention BTT, deployments, and security in README
  README.md
Due: prettier --write

docs: update deployments URL
  README.md
Due: prettier --write

script: update init scripts
  script/CreateMerkleInstant.s.sol
  script/CreateMerkleLL.s.sol
  script/CreateMerkleLT.s.sol
Due: bun solhint {precompiles,script,src,tests}/**/*.sol --fix --noPrompt, forge fmt

script: Init script
  script/Init.s.sol
Due: bun solhint {precompiles,script,src,tests}/**/*.sol --fix --noPrompt, forge fmt

refactor: remove benchmarks (#393)
  benchmark/Flow.Gas.t.sol
  benchmark/results/SablierFlow.md
  foundry.toml
  package.json
  tests/Base.t.sol
  tests/utils/Utils.sol
Due: prettier --write, bun solhint {precompiles,script,src,tests}/**/*.sol --fix --noPrompt, forge fmt

refactor: restructure repo (#8)
  README.md
  foundry.toml
  package.json
  src/Batch.sol
  src/mocks/AdminableMock.sol
  src/mocks/BatchMock.sol
  src/mocks/NoDelegateCallMock.sol
  src/mocks/Receive.sol
  src/mocks/erc20/ERC20Bytes32.sol
  src/mocks/erc20/ERC20MissingReturn.sol
  src/mocks/erc20/ERC20Mock.sol
  src/tests/BaseScript.sol
  src/tests/BaseTest.sol
  tests/.npmignore
  tests/Unit.t.sol
  tests/concrete/base-script/BaseScript.t.sol
  tests/concrete/batch/batch.t.sol
  tests/concrete/batch/batch.tree
  tests/concrete/no-delegate-call/noDelegateCall.t.sol
  tests/concrete/no-delegate-call/noDelegateCall.tree
  tests/concrete/transfer-admin/transferAdmin.t.sol
  tests/concrete/transfer-admin/transferAdmin.tree
  tests/fuzz/transfer-admin/transferAdmin.t.sol
  tests/utils/Constants.sol
  tests/utils/Utils.sol
Due: prettier --write, bun solhint {precompiles,script,src,tests}/**/*.sol --fix --noPrompt, forge fmt

fix: use exponentiation operator
  src/tests/BaseTest.sol
Due: bun solhint {precompiles,script,src,tests}/**/*.sol --fix --noPrompt, forge fmt

refactor: add optimism retro-funding json file (#395)
  funding.json
Due: prettier --write

refactor: integrate evm-utils and bump lockup version (#74)
  package.json
  remappings.txt
  script/Base.s.sol
  script/CreateMerkleInstant.s.sol
  script/CreateMerkleLL.s.sol
  script/CreateMerkleLT.s.sol
  script/CreateMerkleVCA.s.sol
  script/DeployDeterministicMerkleFactories.s.sol
  script/DeployMerkleFactories.s.sol
  src/SablierMerkleLL.sol
  src/SablierMerkleLT.sol
  src/abstracts/SablierMerkleBase.sol
  src/abstracts/SablierMerkleFactoryBase.sol
  src/interfaces/ISablierMerkleBase.sol
  src/interfaces/ISablierMerkleFactoryBase.sol
  src/libraries/Errors.sol
  tests/Base.t.sol
  tests/integration/Integration.t.sol
  tests/integration/concrete/campaign/shared/clawback/clawback.t.sol
  tests/integration/concrete/campaign/shared/collect-fees/collectFees.t.sol
  tests/integration/concrete/factory/shared/collect-fees/collectFees.t.sol
  tests/integration/concrete/factory/shared/reset-custom-fee/resetCustomFee.t.sol
  tests/integration/concrete/factory/shared/set-custom-fee/setCustomFee.t.sol
  tests/integration/concrete/factory/shared/set-minimum-fee/setMinimumFee.t.sol
  tests/mocks/ReceiveEth.sol
  tests/mocks/erc20/ERC20Mock.sol
  tests/utils/BaseScript.t.sol
  tests/utils/Constants.sol
  tests/utils/DeployOptimized.sol
  tests/utils/Modifiers.sol
  tests/utils/Utils.sol
Due: prettier --write, bun solhint {precompiles,script,src,tests}/**/*.sol --fix --noPrompt, forge fmt

Update README.md
  README.md
Due: prettier --write

docs: update license
  LICENSE.md
Due: prettier --write

build: bump evm-utils
  bun.lockb
  package.json
  script/DeployDeterministicProtocol.s.sol
  script/DeployProtocol.s.sol
  script/MaxCount.s.sol
  tests/Base.t.sol
  tests/integration/concrete/lockup-base/create-with-timestamps/createWithTimestamps.t.sol
  tests/integration/concrete/lockup-dynamic/create-with-durations-ld/createWithDurationsLD.t.sol
  tests/integration/concrete/lockup-dynamic/create-with-timestamps-ld/createWithTimestampsLD.t.sol
  tests/integration/concrete/lockup-linear/create-with-durations-ll/createWithDurationsLL.t.sol
  tests/integration/concrete/lockup-linear/create-with-timestamps-ll/createWithTimestampsLL.t.sol
  tests/integration/concrete/lockup-tranched/create-with-durations-lt/createWithDurationsLT.t.sol
  tests/integration/concrete/lockup-tranched/create-with-timestamps-lt/createWithTimestampsLT.t.sol
  tests/integration/concrete/nft-descriptor/safe-token-symbol/safeTokenSymbol.t.sol
  tests/integration/fuzz/lockup-dynamic/createWithDurationsLD.t.sol
  tests/integration/fuzz/lockup-dynamic/withdraw.t.sol
  tests/integration/fuzz/lockup-linear/createWithDurationsLL.t.sol
  tests/integration/fuzz/lockup-tranched/createWithDurationsLT.t.sol
  tests/integration/fuzz/lockup-tranched/withdraw.t.sol
  tests/invariant/handlers/BaseHandler.sol
  tests/utils/BaseScript.t.sol
  tests/utils/Defaults.sol
  tests/utils/DeployOptimized.t.sol
  tests/utils/EstimateMaxCount.sol
  tests/utils/Fuzzers.sol
  tests/utils/Utils.sol
Due: prettier --write, bun solhint {precompiles,script,src,tests}/**/*.sol --fix --noPrompt, forge fmt

chore: move evm-utils under dependencies
  bun.lockb
  package.json
Due: prettier --write

refactor: bump evm-utils (#397)
  SECURITY.md
  bun.lockb
  package.json
  remappings.txt
  script/DeployDeterministicFlow.s.sol
  script/DeployFlow.s.sol
  tests/Base.t.sol
  tests/integration/concrete/create/create.t.sol
  tests/integration/fuzz/Fuzz.t.sol
  tests/utils/BaseScript.t.sol
  tests/utils/Constants.sol
  tests/utils/Utils.sol
Due: prettier --write, bun solhint {precompiles,script,src,tests}/**/*.sol --fix --noPrompt, forge fmt

fix remappings path
  remappings.txt
Due: none

test(defaults): declare 6D cliff amount based on the 18D one
  .solhint.json
  tests/utils/Defaults.sol
Due: prettier --write, bun solhint {precompiles,script,src,tests}/**/*.sol --fix --noPrompt, forge fmt

refactor: remove unneeded params from scripts
  script/DeployDeterministicLockup.s.sol
  script/DeployDeterministicProtocol.s.sol
  script/DeployLockup.s.sol
  script/DeployProtocol.s.sol
Due: bun solhint {precompiles,script,src,tests}/**/*.sol --fix --noPrompt, forge fmt

build: bump evm utils (#1186)
  .solhint.json
  package.json
  remappings.txt
  script/DeployDeterministicLockup.s.sol
  script/DeployDeterministicProtocol.s.sol
  script/DeployLockup.s.sol
  script/DeployProtocol.s.sol
  script/MaxCount.s.sol
  tests/Base.t.sol
  tests/integration/concrete/lockup-base/create-with-timestamps/createWithTimestamps.t.sol
  tests/integration/concrete/lockup-dynamic/create-with-durations-ld/createWithDurationsLD.t.sol
  tests/integration/concrete/lockup-dynamic/create-with-timestamps-ld/createWithTimestampsLD.t.sol
  tests/integration/concrete/lockup-linear/create-with-durations-ll/createWithDurationsLL.t.sol
  tests/integration/concrete/lockup-linear/create-with-timestamps-ll/createWithTimestampsLL.t.sol
  tests/integration/concrete/lockup-tranched/create-with-durations-lt/createWithDurationsLT.t.sol
  tests/integration/concrete/lockup-tranched/create-with-timestamps-lt/createWithTimestampsLT.t.sol
  tests/integration/concrete/nft-descriptor/safe-token-symbol/safeTokenSymbol.t.sol
  tests/integration/fuzz/lockup-dynamic/createWithDurationsLD.t.sol
  tests/integration/fuzz/lockup-dynamic/withdraw.t.sol
  tests/integration/fuzz/lockup-linear/createWithDurationsLL.t.sol
  tests/integration/fuzz/lockup-tranched/createWithDurationsLT.t.sol
  tests/integration/fuzz/lockup-tranched/withdraw.t.sol
  tests/invariant/handlers/BaseHandler.sol
  tests/utils/BaseScript.t.sol
  tests/utils/Defaults.sol
  tests/utils/DeployOptimized.t.sol
  tests/utils/EstimateMaxCount.sol
  tests/utils/Fuzzers.sol
  tests/utils/Utils.sol
Due: prettier --write, bun solhint {precompiles,script,src,tests}/**/*.sol --fix --noPrompt, forge fmt

build: bump evm utils (#1186)
  .solhint.json
  bun.lockb
  package.json
  remappings.txt
  script/DeployDeterministicLockup.s.sol
  script/DeployDeterministicProtocol.s.sol
  script/DeployLockup.s.sol
  script/DeployProtocol.s.sol
  script/MaxCount.s.sol
  tests/Base.t.sol
  tests/integration/concrete/lockup-base/create-with-timestamps/createWithTimestamps.t.sol
  tests/integration/concrete/lockup-dynamic/create-with-durations-ld/createWithDurationsLD.t.sol
  tests/integration/concrete/lockup-dynamic/create-with-timestamps-ld/createWithTimestampsLD.t.sol
  tests/integration/concrete/lockup-linear/create-with-durations-ll/createWithDurationsLL.t.sol
  tests/integration/concrete/lockup-linear/create-with-timestamps-ll/createWithTimestampsLL.t.sol
  tests/integration/concrete/lockup-tranched/create-with-durations-lt/createWithDurationsLT.t.sol
  tests/integration/concrete/lockup-tranched/create-with-timestamps-lt/createWithTimestampsLT.t.sol
  tests/integration/concrete/nft-descriptor/safe-token-symbol/safeTokenSymbol.t.sol
  tests/integration/fuzz/lockup-dynamic/createWithDurationsLD.t.sol
  tests/integration/fuzz/lockup-dynamic/withdraw.t.sol
  tests/integration/fuzz/lockup-linear/createWithDurationsLL.t.sol
  tests/integration/fuzz/lockup-tranched/createWithDurationsLT.t.sol
  tests/integration/fuzz/lockup-tranched/withdraw.t.sol
  tests/invariant/handlers/BaseHandler.sol
  tests/utils/BaseScript.t.sol
  tests/utils/Defaults.sol
  tests/utils/DeployOptimized.t.sol
  tests/utils/EstimateMaxCount.sol
  tests/utils/Fuzzers.sol
  tests/utils/Utils.sol
Due: prettier --write, bun solhint {precompiles,script,src,tests}/**/*.sol --fix --noPrompt, forge fmt

feat: transfer tokens directly if claimed after vesting end time (#77)
  .solhint.json
  package.json
  src/SablierMerkleLL.sol
  src/SablierMerkleLT.sol
  src/interfaces/ISablierMerkleBase.sol
  src/interfaces/ISablierMerkleLockup.sol
  tests/Base.t.sol
  tests/fork/merkle-campaign/MerkleLL.t.sol
  tests/fork/merkle-campaign/MerkleLT.t.sol
  tests/integration/Integration.t.sol
  tests/integration/concrete/campaign/ll/claim/claim.t.sol
  tests/integration/concrete/campaign/ll/claim/claim.tree
  tests/integration/concrete/campaign/ll/constructor.t.sol
  tests/integration/concrete/campaign/lt/claim/claim.t.sol
  tests/integration/concrete/campaign/lt/claim/claim.tree
  tests/integration/concrete/campaign/lt/constructor.t.sol
  tests/utils/Constants.sol
  tests/utils/Modifiers.sol
Due: prettier --write, bun solhint {precompiles,script,src,tests}/**/*.sol --fix --noPrompt, forge fmt

ci: run fork tests on latest block
  tests/fork/Fork.t.sol
Due: bun solhint {precompiles,script,src,tests}/**/*.sol --fix --noPrompt, forge fmt

Path conditions:
  prettier --write: any of: *.{json,md,yml}
  bun solhint {precompiles,script,src,tests}/**/*.sol --fix --noPrompt: any of: *.sol
  forge fmt: any of: *.sol
