Repository sablier-labs/airdrops: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, bun solhint {precompiles,script,src,tests}/**/*.sol --fix --noPrompt, forge fmt

.lintstagedrc.yml:

"*.{json,md,svg,yml}": "prettier --write"
"*.sol":
  - "bun solhint {precompiles,script,src,tests}/**/*.sol --fix --noPrompt"
  - "forge fmt"

feat: revert if native token found
  src/SablierMerkleFactoryInstant.sol
  src/SablierMerkleFactoryLL.sol
  src/SablierMerkleFactoryLT.sol
  src/SablierMerkleFactoryVCA.sol
  src/abstracts/SablierMerkleFactoryBase.sol
  src/interfaces/ISablierMerkleFactoryBase.sol
  src/libraries/Errors.sol
Due: bun solhint {precompiles,script,src,tests}/**/*.sol --fix --noPrompt, forge fmt

test: setNativeToken
  src/abstracts/SablierMerkleFactoryBase.sol
  src/interfaces/ISablierMerkleFactoryBase.sol
  tests/integration/concrete/campaign/shared/minimum-fee-in-wei/minimumFeeInWei.t.sol
  tests/integration/concrete/campaign/shared/minimum-fee-in-wei/minimumFeeInWei.tree
  tests/integration/concrete/factory/instant/MerkleFactoryInstant.t.sol
  tests/integration/concrete/factory/instant/create-merkle-instant/createMerkleInstant.t.sol
  tests/integration/concrete/factory/instant/create-merkle-instant/createMerkleInstant.tree
  tests/integration/concrete/factory/ll/MerkleFactoryLL.t.sol
  tests/integration/concrete/factory/ll/create-merkle-ll/createMerkleLL.t.sol
  tests/integration/concrete/factory/ll/create-merkle-ll/createMerkleLL.tree
  tests/integration/concrete/factory/lt/MerkleFactoryLT.t.sol
  tests/integration/concrete/factory/lt/create-merkle-lt/createMerkleLT.t.sol
  tests/integration/concrete/factory/lt/create-merkle-lt/createMerkleLT.tree
  tests/integration/concrete/factory/shared/set-native-token/setNativeToken.t.sol
  tests/integration/concrete/factory/shared/set-native-token/setNativeToken.tree
  tests/integration/concrete/factory/vca/MerkleFactoryVCA.t.sol
  tests/integration/concrete/factory/vca/create-merkle-vca/createMerkleVCA.t.sol
  tests/integration/concrete/factory/vca/create-merkle-vca/createMerkleVCA.tree
  tests/utils/Modifiers.sol
Due: bun solhint {precompiles,script,src,tests}/**/*.sol --fix --noPrompt, forge fmt

include andrei's and prb's feedback
  SECURITY.md
  src/SablierMerkleFactoryInstant.sol
  src/SablierMerkleFactoryLL.sol
  src/SablierMerkleFactoryLT.sol
  src/SablierMerkleFactoryVCA.sol
  src/SablierMerkleLT.sol
  src/abstracts/SablierMerkleBase.sol
  src/abstracts/SablierMerkleFactoryBase.sol
  src/interfaces/ISablierMerkleBase.sol
  src/interfaces/ISablierMerkleFactoryBase.sol
  src/libraries/Errors.sol
  tests/integration/concrete/factory/instant/create-merkle-instant/createMerkleInstant.t.sol
  tests/integration/concrete/factory/ll/create-merkle-ll/createMerkleLL.t.sol
  tests/integration/concrete/factory/lt/create-merkle-lt/createMerkleLT.t.sol
  tests/integration/concrete/factory/shared/set-native-token/setNativeToken.t.sol
  tests/integration/concrete/factory/vca/create-merkle-vca/createMerkleVCA.t.sol
Due: prettier --write, bun solhint {precompiles,script,src,tests}/**/*.sol --fix --noPrompt, forge fmt

test: add fuzzMerkleData function
  tests/Base.t.sol
  tests/fork/merkle-campaign/MerkleBase.t.sol
  tests/fork/merkle-campaign/MerkleInstant.t.sol
  tests/fork/merkle-campaign/MerkleLL.t.sol
  tests/fork/merkle-campaign/MerkleLT.t.sol
  tests/fork/merkle-campaign/MerkleVCA.t.sol
  tests/integration/fuzz/Fuzz.t.sol
  tests/utils/Fuzzers.sol
  tests/utils/MerkleBuilder.sol
  tests/utils/MerkleBuilder.t.sol
Due: bun solhint {precompiles,script,src,tests}/**/*.sol --fix --noPrompt, forge fmt

docs: add note in nativeTokens natspecs
  src/interfaces/ISablierMerkleFactoryBase.sol
Due: bun solhint {precompiles,script,src,tests}/**/*.sol --fix --noPrompt, forge fmt

build: bump deps
  bun.lockb
  package.json
  src/abstracts/SablierMerkleBase.sol
Due: prettier --write, bun solhint {precompiles,script,src,tests}/**/*.sol --fix --noPrompt, forge fmt

chore: error name
  src/abstracts/SablierMerkleFactoryBase.sol
  src/libraries/Errors.sol
  tests/integration/concrete/factory/shared/set-native-token/setNativeToken.t.sol
Due: bun solhint {precompiles,script,src,tests}/**/*.sol --fix --noPrompt, forge fmt

test: polish dev comments
  tests/utils/Fuzzers.sol
  tests/utils/MerkleBuilder.sol
Due: bun solhint {precompiles,script,src,tests}/**/*.sol --fix --noPrompt, forge fmt

build: stop using public endpoints and use API_KEY_INFURA
  foundry.toml
Due: none

docs: polish comments
  src/SablierMerkleFactoryInstant.sol
  src/SablierMerkleFactoryLL.sol
  src/SablierMerkleFactoryLT.sol
  src/SablierMerkleFactoryVCA.sol
Due: bun solhint {precompiles,script,src,tests}/**/*.sol --fix --noPrompt, forge fmt

docs: polish comments
  src/interfaces/ISablierMerkleFactoryBase.sol
Due: bun solhint {precompiles,script,src,tests}/**/*.sol --fix --noPrompt, forge fmt

docs: polish comments
  src/abstracts/SablierMerkleBase.sol
Due: bun solhint {precompiles,script,src,tests}/**/*.sol --fix --noPrompt, forge fmt

ci: add API_KEY_INFURA secret
  .github/workflows/ci.yml
Due: prettier --write

fix: conflicts
  tests/integration/concrete/factory/instant/create-merkle-instant/createMerkleInstant.t.sol
  tests/integration/concrete/factory/lt/create-merkle-lt/createMerkleLT.t.sol
Due: bun solhint {precompiles,script,src,tests}/**/*.sol --fix --noPrompt, forge fmt

refactor: use Noop instead of ChainlinkOracleWithoutImpl
  bun.lockb
  package.json
  src/abstracts/SablierMerkleFactoryBase.sol
  tests/integration/concrete/factory/shared/set-oracle/setOracle.t.sol
  tests/utils/ChainlinkOracleMock.sol
Due: prettier --write, bun solhint {precompiles,script,src,tests}/**/*.sol --fix --noPrompt, forge fmt

docs: more explanatory comments
  src/abstracts/SablierMerkleBase.sol
  src/abstracts/SablierMerkleFactoryBase.sol
  src/interfaces/ISablierMerkleFactoryBase.sol
  src/libraries/Errors.sol
  tests/integration/concrete/factory/instant/create-merkle-instant/createMerkleInstant.t.sol
  tests/integration/concrete/factory/ll/create-merkle-ll/createMerkleLL.t.sol
  tests/integration/concrete/factory/lt/create-merkle-lt/createMerkleLT.t.sol
  tests/integration/concrete/factory/vca/create-merkle-vca/createMerkleVCA.t.sol
Due: bun solhint {precompiles,script,src,tests}/**/*.sol --fix --noPrompt, forge fmt

docs: polish natspec for "setNativeToken"
  src/SablierMerkleLT.sol
  src/abstracts/SablierMerkleFactoryBase.sol
  src/interfaces/ISablierMerkleFactoryBase.sol
  src/libraries/Errors.sol
  tests/integration/concrete/factory/shared/set-native-token/setNativeToken.t.sol
Due: bun solhint {precompiles,script,src,tests}/**/*.sol --fix --noPrompt, forge fmt

refactor: rename custom errors
  src/abstracts/SablierMerkleFactoryBase.sol
  src/interfaces/ISablierMerkleBase.sol
  src/libraries/Errors.sol
  tests/integration/concrete/campaign/shared/minimum-fee-in-wei/minimumFeeInWei.t.sol
  tests/integration/concrete/factory/shared/set-native-token/setNativeToken.t.sol
  tests/utils/Modifiers.sol
Due: bun solhint {precompiles,script,src,tests}/**/*.sol --fix --noPrompt, forge fmt

chore: add API_KEY_INFURA to env example
  .env.example
Due: none

chore: new section for internal non-constant
  src/abstracts/SablierMerkleFactoryBase.sol
Due: bun solhint {precompiles,script,src,tests}/**/*.sol --fix --noPrompt, forge fmt

test: rename Chainlink mocks
  tests/Base.t.sol
  tests/integration/concrete/campaign/shared/minimum-fee-in-wei/minimumFeeInWei.t.sol
  tests/integration/concrete/factory/shared/set-oracle/setOracle.t.sol
  tests/utils/ChainlinkMocks.sol
Due: bun solhint {precompiles,script,src,tests}/**/*.sol --fix --noPrompt, forge fmt

test: update btt for minimumFeeInWei
  tests/integration/concrete/campaign/shared/minimum-fee-in-wei/minimumFeeInWei.t.sol
  tests/integration/concrete/campaign/shared/minimum-fee-in-wei/minimumFeeInWei.tree
  tests/utils/Modifiers.sol
Due: bun solhint {precompiles,script,src,tests}/**/*.sol --fix --noPrompt, forge fmt

docs: update contributing guide
  .env.example
  .vscode/settings.json
  CONTRIBUTING.md
  package.json
Due: prettier --write

revert commends over _calculateStartTimeAndTranches
  src/SablierMerkleLT.sol
Due: bun solhint {precompiles,script,src,tests}/**/*.sol --fix --noPrompt, forge fmt

refactor: use type 'uint8' for 'oracleDecimals'
  src/abstracts/SablierMerkleBase.sol
Due: bun solhint {precompiles,script,src,tests}/**/*.sol --fix --noPrompt, forge fmt

refactor: remove 'unchecked' block and use 'uint8'
  src/abstracts/SablierMerkleBase.sol
Due: bun solhint {precompiles,script,src,tests}/**/*.sol --fix --noPrompt, forge fmt

bump lockup
  bun.lockb
  package.json
Due: prettier --write

fix: audit recommendations (#93)
  .env.example
  SECURITY.md
  bun.lockb
  package.json
  src/SablierMerkleFactoryInstant.sol
  src/SablierMerkleFactoryLL.sol
  src/SablierMerkleFactoryLT.sol
  src/SablierMerkleFactoryVCA.sol
  src/SablierMerkleLT.sol
  src/SablierMerkleVCA.sol
  src/abstracts/SablierMerkleBase.sol
  src/abstracts/SablierMerkleFactoryBase.sol
  src/interfaces/ISablierMerkleBase.sol
  src/interfaces/ISablierMerkleFactoryBase.sol
  src/libraries/Errors.sol
  src/types/DataTypes.sol
  tests/Base.t.sol
  tests/integration/concrete/campaign/shared/minimum-fee-in-wei/minimumFeeInWei.t.sol
  tests/integration/concrete/campaign/shared/minimum-fee-in-wei/minimumFeeInWei.tree
  tests/integration/concrete/factory/instant/MerkleFactoryInstant.t.sol
  tests/integration/concrete/factory/instant/create-merkle-instant/createMerkleInstant.t.sol
  tests/integration/concrete/factory/instant/create-merkle-instant/createMerkleInstant.tree
  tests/integration/concrete/factory/ll/MerkleFactoryLL.t.sol
  tests/integration/concrete/factory/ll/create-merkle-ll/createMerkleLL.t.sol
  tests/integration/concrete/factory/ll/create-merkle-ll/createMerkleLL.tree
  tests/integration/concrete/factory/lt/MerkleFactoryLT.t.sol
  tests/integration/concrete/factory/lt/create-merkle-lt/createMerkleLT.t.sol
  tests/integration/concrete/factory/lt/create-merkle-lt/createMerkleLT.tree
  tests/integration/concrete/factory/shared/set-native-token/setNativeToken.t.sol
  tests/integration/concrete/factory/shared/set-native-token/setNativeToken.tree
  tests/integration/concrete/factory/shared/set-oracle/setOracle.t.sol
  tests/integration/concrete/factory/vca/MerkleFactoryVCA.t.sol
  tests/integration/concrete/factory/vca/create-merkle-vca/createMerkleVCA.t.sol
  tests/integration/concrete/factory/vca/create-merkle-vca/createMerkleVCA.tree
  tests/utils/ChainlinkMocks.sol
  tests/utils/ChainlinkOracleMock.sol
  tests/utils/Modifiers.sol
Due: prettier --write, bun solhint {precompiles,script,src,tests}/**/*.sol --fix --noPrompt, forge fmt

docs: add guide for hardhat chore: add ultra endpoint
  HARDHAT_GUIDE.md
  hardhat.config.ts
Due: prettier --write

feat: add getters for claim and forgone
  script/CreateMerkleVCA.s.sol
  src/SablierMerkleVCA.sol
  src/interfaces/ISablierMerkleBase.sol
  src/interfaces/ISablierMerkleFactoryVCA.sol
  src/interfaces/ISablierMerkleVCA.sol
  src/libraries/Errors.sol
  src/types/DataTypes.sol
  tests/Base.t.sol
  tests/fork/merkle-campaign/MerkleLL.t.sol
  tests/fork/merkle-campaign/MerkleLT.t.sol
  tests/fork/merkle-campaign/MerkleVCA.t.sol
  tests/integration/concrete/campaign/ll/claim/claim.tree
  tests/integration/concrete/campaign/lt/claim/claim.tree
  tests/integration/concrete/campaign/vca/claim/claim.t.sol
  tests/integration/concrete/campaign/vca/claim/claim.tree
  tests/integration/concrete/campaign/vca/constructor.t.sol
  tests/integration/concrete/factory/vca/create-merkle-vca/createMerkleVCA.t.sol
  tests/integration/fuzz/MerkleLL.t.sol
  tests/integration/fuzz/MerkleVCA.t.sol
  tests/utils/Constants.sol
Due: bun solhint {precompiles,script,src,tests}/**/*.sol --fix --noPrompt, forge fmt

refactor: emit previous minimum fee
  src/abstracts/SablierMerkleFactoryBase.sol
  src/interfaces/ISablierMerkleFactoryBase.sol
  tests/integration/concrete/factory/shared/set-custom-fee/setCustomFee.t.sol
  tests/integration/concrete/factory/shared/set-minimum-fee/setMinimumFee.t.sol
Due: bun solhint {precompiles,script,src,tests}/**/*.sol --fix --noPrompt, forge fmt

refactor: move underscore in constructor params
  src/abstracts/SablierMerkleBase.sol
Due: bun solhint {precompiles,script,src,tests}/**/*.sol --fix --noPrompt, forge fmt

docs: ascii artwork
  src/SablierMerkleFactoryInstant.sol
  src/SablierMerkleFactoryLL.sol
  src/SablierMerkleFactoryLT.sol
  src/SablierMerkleFactoryVCA.sol
  src/SablierMerkleLL.sol
  src/abstracts/SablierMerkleBase.sol
  src/abstracts/SablierMerkleLockup.sol
  src/interfaces/ISablierMerkleFactoryVCA.sol
  src/interfaces/ISablierMerkleLockup.sol
  src/libraries/Errors.sol
Due: bun solhint {precompiles,script,src,tests}/**/*.sol --fix --noPrompt, forge fmt

docs: close #99
  SECURITY.md
Due: prettier --write

refactor: custom fee USD
  src/SablierMerkleFactoryInstant.sol
  src/SablierMerkleFactoryLL.sol
  src/SablierMerkleFactoryLT.sol
  src/SablierMerkleFactoryVCA.sol
  src/abstracts/SablierMerkleFactoryBase.sol
  src/interfaces/ISablierMerkleFactoryBase.sol
  src/interfaces/ISablierMerkleFactoryInstant.sol
  src/interfaces/ISablierMerkleFactoryLL.sol
  src/interfaces/ISablierMerkleFactoryLT.sol
  src/interfaces/ISablierMerkleFactoryVCA.sol
  src/types/DataTypes.sol
  tests/fork/merkle-campaign/MerkleInstant.t.sol
  tests/fork/merkle-campaign/MerkleLL.t.sol
  tests/fork/merkle-campaign/MerkleLT.t.sol
  tests/fork/merkle-campaign/MerkleVCA.t.sol
  tests/integration/concrete/campaign/shared/lower-min-fee-usd/lowerMinFeeUSD.tree
  tests/integration/concrete/factory/instant/MerkleFactoryInstant.t.sol
  tests/integration/concrete/factory/instant/create-merkle-instant/createMerkleInstant.t.sol
  tests/integration/concrete/factory/ll/MerkleFactoryLL.t.sol
  tests/integration/concrete/factory/ll/create-merkle-ll/createMerkleLL.t.sol
  tests/integration/concrete/factory/lt/MerkleFactoryLT.t.sol
  tests/integration/concrete/factory/lt/create-merkle-lt/createMerkleLT.t.sol
  tests/integration/concrete/factory/shared/disable-custom-fee-usd/disableCustomFeeUSD.t.sol
  tests/integration/concrete/factory/shared/disable-custom-fee-usd/disableCustomFeeUSD.tree
  tests/integration/concrete/factory/shared/get-fee/getFee.t.sol
  tests/integration/concrete/factory/shared/reset-custom-fee/resetCustomFee.t.sol
  tests/integration/concrete/factory/shared/set-custom-fee-usd/setCustomFeeUSD.t.sol
  tests/integration/concrete/factory/shared/set-custom-fee-usd/setCustomFeeUSD.tree
  tests/integration/concrete/factory/shared/set-custom-fee/setCustomFee.t.sol
  tests/integration/concrete/factory/shared/set-min-fee-usd/setMinFeeUSD.t.sol
  tests/integration/concrete/factory/shared/set-min-fee-usd/setMinFeeUSD.tree
  tests/integration/concrete/factory/vca/MerkleFactoryVCA.t.sol
  tests/integration/concrete/factory/vca/create-merkle-vca/createMerkleVCA.t.sol
  tests/integration/fuzz/Fuzz.t.sol
  tests/integration/fuzz/MerkleInstant.t.sol
  tests/integration/fuzz/MerkleLL.t.sol
  tests/integration/fuzz/MerkleLT.t.sol
  tests/integration/fuzz/MerkleVCA.t.sol
Due: bun solhint {precompiles,script,src,tests}/**/*.sol --fix --noPrompt, forge fmt

refactor: change 'getFee' to 'minFeeUSDFor'
  src/SablierMerkleFactoryInstant.sol
  src/SablierMerkleFactoryLL.sol
  src/SablierMerkleFactoryLT.sol
  src/SablierMerkleFactoryVCA.sol
  src/abstracts/SablierMerkleBase.sol
  src/abstracts/SablierMerkleFactoryBase.sol
  src/interfaces/ISablierMerkleFactoryBase.sol
  src/types/DataTypes.sol
  tests/integration/concrete/factory/instant/MerkleFactoryInstant.t.sol
  tests/integration/concrete/factory/ll/MerkleFactoryLL.t.sol
  tests/integration/concrete/factory/lt/MerkleFactoryLT.t.sol
  tests/integration/concrete/factory/shared/disable-custom-fee-usd/disableCustomFeeUSD.t.sol
  tests/integration/concrete/factory/shared/get-fee/getFee.tree
  tests/integration/concrete/factory/shared/min-fee-usd-for/minFeeUSDFor.t.sol
  tests/integration/concrete/factory/shared/min-fee-usd-for/minFeeUSDFor.tree
  tests/integration/concrete/factory/shared/set-custom-fee-usd/setCustomFeeUSD.t.sol
  tests/integration/concrete/factory/vca/MerkleFactoryVCA.t.sol
  tests/integration/fuzz/Fuzz.t.sol
Due: bun solhint {precompiles,script,src,tests}/**/*.sol --fix --noPrompt, forge fmt

refactor: rename "LOCKUP" to "SABLIER_LOCKUP"
  src/SablierMerkleLL.sol
  src/SablierMerkleLT.sol
  src/abstracts/SablierMerkleLockup.sol
  src/interfaces/ISablierMerkleLockup.sol
  tests/integration/concrete/campaign/instant/constructor.t.sol
  tests/integration/concrete/campaign/ll/constructor.t.sol
  tests/integration/concrete/campaign/lt/constructor.t.sol
Due: bun solhint {precompiles,script,src,tests}/**/*.sol --fix --noPrompt, forge fmt
