Repository sablier-labs/airdrops: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --cache --cache-location ./node_modules/.cache/prettier/.prettier-cache --write, bun solhint {scripts/solidity,src,tests}/**/*.sol --fix --noPrompt, forge fmt

chore: rename custom error
  src/SablierMerkleVCA.sol
  src/libraries/Errors.sol
  tests/integration/concrete/campaign/vca/calculate-forgone-amount/calculateForgoneAmount.t.sol
  tests/integration/fuzz/MerkleVCA.t.sol
Due: bun solhint {scripts/solidity,src,tests}/**/*.sol --fix --noPrompt, forge fmt

revert: mark Utilities as library
  tests/Base.t.sol
  tests/integration/Integration.t.sol
  tests/integration/concrete/campaign/shared/claim-via-sig/claimViaSig.t.sol
  tests/integration/concrete/campaign/shared/domain-separator/domainSeparator.t.sol
  tests/utils/Utilities.sol
Due: bun solhint {scripts/solidity,src,tests}/**/*.sol --fix --noPrompt, forge fmt

test: add VALID_FROM constant
  tests/integration/Integration.t.sol
  tests/integration/concrete/campaign/shared/claim-via-sig/claimViaSig.t.sol
  tests/utils/Constants.sol
Due: bun solhint {scripts/solidity,src,tests}/**/*.sol --fix --noPrompt, forge fmt

feat: dynamic domain separator (#176)
  src/abstracts/SablierMerkleBase.sol
  src/interfaces/ISablierMerkleBase.sol
  tests/integration/concrete/campaign/instant/MerkleInstant.t.sol
  tests/integration/concrete/campaign/instant/constructor.t.sol
  tests/integration/concrete/campaign/ll/MerkleLL.t.sol
  tests/integration/concrete/campaign/ll/constructor.t.sol
  tests/integration/concrete/campaign/lt/MerkleLT.t.sol
  tests/integration/concrete/campaign/lt/constructor.t.sol
  tests/integration/concrete/campaign/shared/claim-via-sig/claimViaSig.t.sol
  tests/integration/concrete/campaign/shared/domain-separator/domainSeparator.t.sol
  tests/integration/concrete/campaign/shared/domain-separator/domainSeparator.tree
  tests/integration/concrete/campaign/vca/MerkleVCA.t.sol
  tests/integration/concrete/campaign/vca/constructor.t.sol
Due: bun solhint {scripts/solidity,src,tests}/**/*.sol --fix --noPrompt, forge fmt

refactor: move checks from constructor to factory
  src/SablierFactoryMerkleInstant.sol
  src/SablierFactoryMerkleLL.sol
  src/SablierFactoryMerkleLT.sol
  src/SablierFactoryMerkleVCA.sol
  src/SablierMerkleLT.sol
  src/SablierMerkleVCA.sol
  src/interfaces/ISablierFactoryMerkleInstant.sol
  src/interfaces/ISablierFactoryMerkleLL.sol
  tests/integration/concrete/factory/instant/compute-merkle-instant/computeMerkleInstant.t.sol
  tests/integration/concrete/factory/instant/compute-merkle-instant/computeMerkleInstant.tree
  tests/integration/concrete/factory/ll/compute-merkle-ll/computeMerkleLL.t.sol
  tests/integration/concrete/factory/ll/compute-merkle-ll/computeMerkleLL.tree
Due: bun solhint {scripts/solidity,src,tests}/**/*.sol --fix --noPrompt, forge fmt

fix: error name
  src/SablierMerkleVCA.sol
  src/libraries/Errors.sol
  tests/integration/concrete/campaign/vca/claim-to/claimTo.t.sol
Due: bun solhint {scripts/solidity,src,tests}/**/*.sol --fix --noPrompt, forge fmt

feat: add validity start time for claim signature (#177)
  bun.lock
  src/SablierMerkleInstant.sol
  src/SablierMerkleLL.sol
  src/SablierMerkleLT.sol
  src/SablierMerkleVCA.sol
  src/abstracts/SablierMerkleBase.sol
  src/interfaces/ISablierMerkleInstant.sol
  src/interfaces/ISablierMerkleLL.sol
  src/interfaces/ISablierMerkleLT.sol
  src/interfaces/ISablierMerkleVCA.sol
  src/libraries/Errors.sol
  src/libraries/SignatureHash.sol
  tests/Base.t.sol
  tests/integration/Integration.t.sol
  tests/integration/concrete/campaign/instant/claim-via-sign/claimViaSig.t.sol
  tests/integration/concrete/campaign/ll/claim-via-sign/claimViaSig.t.sol
  tests/integration/concrete/campaign/lt/claim-via-sign/claimViaSig.t.sol
  tests/integration/concrete/campaign/shared/claim-to/claimTo.t.sol
  tests/integration/concrete/campaign/shared/claim-to/claimTo.tree
  tests/integration/concrete/campaign/shared/claim-via-sig/claimViaSig.t.sol
  tests/integration/concrete/campaign/shared/claim-via-sig/claimViaSig.tree
  tests/integration/concrete/campaign/shared/claim/claim.t.sol
  tests/integration/concrete/campaign/shared/claim/claim.tree
  tests/integration/concrete/campaign/vca/claim-via-sign/claimViaSig.t.sol
  tests/unit/SignatureHash.t.sol
  tests/utils/Constants.sol
  tests/utils/Modifiers.sol
  tests/utils/Utilities.sol
Due: bun solhint {scripts/solidity,src,tests}/**/*.sol --fix --noPrompt, forge fmt

chore: polish comments
  src/SablierFactoryMerkleInstant.sol
  src/SablierFactoryMerkleLL.sol
  src/SablierFactoryMerkleLT.sol
  src/SablierFactoryMerkleVCA.sol
  src/SablierMerkleLT.sol
  src/interfaces/ISablierFactoryMerkleInstant.sol
  src/interfaces/ISablierFactoryMerkleLL.sol
  src/interfaces/ISablierFactoryMerkleLT.sol
  src/interfaces/ISablierFactoryMerkleVCA.sol
Due: bun solhint {scripts/solidity,src,tests}/**/*.sol --fix --noPrompt, forge fmt

bring back variable in LT event
  src/SablierFactoryMerkleLT.sol
  src/SablierFactoryMerkleVCA.sol
  src/interfaces/ISablierFactoryMerkleLT.sol
  tests/fork/merkle-campaign/MerkleLT.t.sol
  tests/integration/concrete/campaign/lt/claim-to/claimTo.tree
  tests/integration/concrete/factory/lt/create-merkle-lt/createMerkleLT.t.sol
  tests/integration/fuzz/MerkleLT.t.sol
Due: bun solhint {scripts/solidity,src,tests}/**/*.sol --fix --noPrompt, forge fmt

refactor: rename _calculateTotalPercentage to _calculateTrancheTotals perf: calculate totalDuration inside _calculateTrancheTotals
  src/SablierFactoryMerkleLT.sol
  src/SablierFactoryMerkleVCA.sol
Due: bun solhint {scripts/solidity,src,tests}/**/*.sol --fix --noPrompt, forge fmt

feat: getter in factory (#178)
  src/SablierFactoryMerkleInstant.sol
  src/SablierFactoryMerkleLL.sol
  src/SablierFactoryMerkleLT.sol
  src/SablierFactoryMerkleVCA.sol
  src/SablierMerkleLT.sol
  src/SablierMerkleVCA.sol
  src/interfaces/ISablierFactoryMerkleInstant.sol
  src/interfaces/ISablierFactoryMerkleLL.sol
  src/interfaces/ISablierFactoryMerkleLT.sol
  src/interfaces/ISablierFactoryMerkleVCA.sol
  src/interfaces/ISablierMerkleLT.sol
  src/libraries/Errors.sol
  tests/fork/merkle-campaign/MerkleLT.t.sol
  tests/integration/concrete/campaign/lt/claim-to/claimTo.t.sol
  tests/integration/concrete/campaign/lt/claim-to/claimTo.tree
  tests/integration/concrete/campaign/lt/claim/claim.t.sol
  tests/integration/concrete/campaign/lt/claim/claim.tree
  tests/integration/concrete/campaign/lt/constructor.t.sol
  tests/integration/concrete/factory/instant/compute-merkle-instant/computeMerkleInstant.t.sol
  tests/integration/concrete/factory/instant/compute-merkle-instant/computeMerkleInstant.tree
  tests/integration/concrete/factory/ll/compute-merkle-ll/computeMerkleLL.t.sol
  tests/integration/concrete/factory/ll/compute-merkle-ll/computeMerkleLL.tree
  tests/integration/concrete/factory/lt/compute-merkle-lt/computeMerkleLT.t.sol
  tests/integration/concrete/factory/lt/compute-merkle-lt/computeMerkleLT.tree
  tests/integration/concrete/factory/lt/create-merkle-lt/createMerkleLT.t.sol
  tests/integration/concrete/factory/lt/create-merkle-lt/createMerkleLT.tree
  tests/integration/concrete/factory/vca/compute-merkle-vca/computeMerkleVCA.t.sol
  tests/integration/concrete/factory/vca/compute-merkle-vca/computeMerkleVCA.tree
  tests/integration/concrete/factory/vca/create-merkle-vca/createMerkleVCA.t.sol
  tests/integration/fuzz/MerkleLT.t.sol
Due: bun solhint {scripts/solidity,src,tests}/**/*.sol --fix --noPrompt, forge fmt

docs: update ens subname in license
  LICENSE-BUSL.md
  package.json
Due: prettier --cache --cache-location ./node_modules/.cache/prettier/.prettier-cache --write

chore: use plural for ens subname
  LICENSE-BUSL.md
Due: prettier --cache --cache-location ./node_modules/.cache/prettier/.prettier-cache --write

docs: update license ens (#179)
  LICENSE-BUSL.md
  package.json
Due: prettier --cache --cache-location ./node_modules/.cache/prettier/.prettier-cache --write

build: bump solhint
  .lintstagedrc.js
  .solhint.json
  bun.lock
  package.json
  src/SablierFactoryMerkleInstant.sol
  src/SablierFactoryMerkleLL.sol
  src/SablierFactoryMerkleLT.sol
  src/SablierFactoryMerkleVCA.sol
  src/types/DataTypes.sol
  tests/.solhint.json
Due: prettier --cache --cache-location ./node_modules/.cache/prettier/.prettier-cache --write, bun solhint {scripts/solidity,src,tests}/**/*.sol --fix --noPrompt, forge fmt

test: fix lockup deployment
  tests/Base.t.sol
  tests/utils/Constants.sol
Due: bun solhint {scripts/solidity,src,tests}/**/*.sol --fix --noPrompt, forge fmt

build: bump solhint (#180)
  .lintstagedrc.js
  .solhint.json
  bun.lock
  package.json
  src/SablierFactoryMerkleInstant.sol
  src/SablierFactoryMerkleLL.sol
  src/SablierFactoryMerkleLT.sol
  src/SablierFactoryMerkleVCA.sol
  src/types/DataTypes.sol
  tests/.solhint.json
  tests/Base.t.sol
  tests/utils/Constants.sol
Due: prettier --cache --cache-location ./node_modules/.cache/prettier/.prettier-cache --write, bun solhint {scripts/solidity,src,tests}/**/*.sol --fix --noPrompt, forge fmt

chore: remove "export" from .env.example
  .env.example
Due: none

build: bump evm-utils package
  .solhint.json
  bun.lock
  package.json
  tests/.solhint.json
Due: prettier --cache --cache-location ./node_modules/.cache/prettier/.prettier-cache --write

docs: remove outdated assumption
  SECURITY.md
Due: prettier --cache --cache-location ./node_modules/.cache/prettier/.prettier-cache --write

build: bump forge-std to v1.10.0
  bun.lock
  package.json
Due: prettier --cache --cache-location ./node_modules/.cache/prettier/.prettier-cache --write

chore: add show_metrics and lint_on_build in foundry config
  foundry.toml
  tests/utils/Fuzzers.sol
Due: bun solhint {scripts/solidity,src,tests}/**/*.sol --fix --noPrompt, forge fmt

build: bump evm-utils script: fix target dirs in prepare-artifacts
  bun.lock
  package.json
  scripts/bash/prepare-artifacts.sh
Due: prettier --cache --cache-location ./node_modules/.cache/prettier/.prettier-cache --write

ci: remove API_KEY_INFURA
  .env.example
  .github/workflows/ci.yml
  CONTRIBUTING.md
Due: prettier --cache --cache-location ./node_modules/.cache/prettier/.prettier-cache --write

build: rename prepare script to setup
  CONTRIBUTING.md
  bun.lock
  package.json
Due: prettier --cache --cache-location ./node_modules/.cache/prettier/.prettier-cache --write

chore: update foundry.toml format
  foundry.toml
Due: none

test: polish comments
  tests/integration/concrete/campaign/ll/claim-to/claimTo.t.sol
  tests/integration/concrete/campaign/ll/claim-to/claimTo.tree
  tests/integration/concrete/campaign/ll/claim/claim.t.sol
  tests/integration/concrete/campaign/ll/claim/claim.tree
  tests/integration/concrete/campaign/lt/claim-to/claimTo.t.sol
  tests/integration/concrete/campaign/lt/claim-to/claimTo.tree
  tests/integration/concrete/campaign/lt/claim/claim.t.sol
  tests/integration/concrete/campaign/lt/claim/claim.tree
  tests/integration/fuzz/MerkleVCA.t.sol
  tests/utils/Fuzzers.sol
Due: bun solhint {scripts/solidity,src,tests}/**/*.sol --fix --noPrompt, forge fmt

build: bump evm-utils for deployments
  bun.lock
  package.json
Due: prettier --cache --cache-location ./node_modules/.cache/prettier/.prettier-cache --write

use npm package
  bun.lock
  package.json
Due: prettier --cache --cache-location ./node_modules/.cache/prettier/.prettier-cache --write

build: bump evm-utils for deployments (#184)
  bun.lock
  package.json
Due: prettier --cache --cache-location ./node_modules/.cache/prettier/.prettier-cache --write

build: use routemesh for rpc endpoints
  foundry.toml
  package.json
Due: prettier --cache --cache-location ./node_modules/.cache/prettier/.prettier-cache --write

ci: rename tree-path to test-dir
  .github/workflows/ci.yml
Due: prettier --cache --cache-location ./node_modules/.cache/prettier/.prettier-cache --write

build: use routemesh for rpc endpoints (#185)
  foundry.toml
  package.json
Due: prettier --cache --cache-location ./node_modules/.cache/prettier/.prettier-cache --write

docs: refactor changelog
  .env.example
  CHANGELOG.md
Due: prettier --cache --cache-location ./node_modules/.cache/prettier/.prettier-cache --write

build: update bun lockfile
  bun.lock
Due: none

script(solidity): add factory as run input and update token address test(fork): use deployed addresses
  bun.lock
  scripts/solidity/CreateMerkleInstant.s.sol
  scripts/solidity/CreateMerkleLL.s.sol
  scripts/solidity/CreateMerkleLT.s.sol
  scripts/solidity/CreateMerkleVCA.s.sol
  tests/fork/Fork.t.sol
  tests/utils/BaseScript.t.sol
Due: bun solhint {scripts/solidity,src,tests}/**/*.sol --fix --noPrompt, forge fmt

ci: add routemesh variable chore: update routemesh url
  .github/workflows/ci.yml
  foundry.toml
Due: prettier --cache --cache-location ./node_modules/.cache/prettier/.prettier-cache --write

fix fork test
  tests/fork/merkle-campaign/MerkleBase.t.sol
Due: bun solhint {scripts/solidity,src,tests}/**/*.sol --fix --noPrompt, forge fmt

test(fork): add lockup v3.0 address
  tests/fork/Fork.t.sol
Due: bun solhint {scripts/solidity,src,tests}/**/*.sol --fix --noPrompt, forge fmt

bump version to 2.0.1
  CHANGELOG.md
  package.json
  tests/utils/BaseScript.t.sol
Due: prettier --cache --cache-location ./node_modules/.cache/prettier/.prettier-cache --write, bun solhint {scripts/solidity,src,tests}/**/*.sol --fix --noPrompt, forge fmt

Path conditions:
  prettier --cache --cache-location ./node_modules/.cache/prettier/.prettier-cache --write: any of: *.{json,md,yml}
  bun solhint {scripts/solidity,src,tests}/**/*.sol --fix --noPrompt: any of: *.sol
  forge fmt: any of: *.sol
