Repository sablier-labs/airdrops: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --cache --cache-location ./node_modules/.cache/prettier/.prettier-cache --write, bun solhint {scripts/solidity,src,tests}/**/*.sol --fix --noPrompt, forge fmt

.lintstagedrc.yml:

"*.{json,md,yml}": "prettier --cache --cache-location ./node_modules/.cache/prettier/.prettier-cache --write"
"*.sol":
  - "bun solhint {scripts/solidity,src,tests}/**/*.sol --fix --noPrompt"
  - "forge fmt"

revert: lint script
  package.json
Due: prettier --cache --cache-location ./node_modules/.cache/prettier/.prettier-cache --write

build: bump openzeppelin build: bump forge-std build: bump lockup build: bump evm-utils
  bun.lock
  package.json
  tests/Base.t.sol
  tests/fork/merkle-campaign/MerkleBase.t.sol
  tests/integration/concrete/campaign/shared/clawback/clawback.t.sol
  tests/integration/fuzz/Fuzz.t.sol
  tests/utils/Modifiers.sol
Due: prettier --cache --cache-location ./node_modules/.cache/prettier/.prettier-cache --write, bun solhint {scripts/solidity,src,tests}/**/*.sol --fix --noPrompt, forge fmt

chore: use StdConstants in BaseScript_Test
  tests/utils/BaseScript.t.sol
Due: bun solhint {scripts/solidity,src,tests}/**/*.sol --fix --noPrompt, forge fmt

ci: run tests even if lint fails
  .github/workflows/ci-deep.yml
  .github/workflows/ci-fork.yml
  .github/workflows/ci.yml
Due: prettier --cache --cache-location ./node_modules/.cache/prettier/.prettier-cache --write

build: bump evm utils
  bun.lock
  package.json
  tests/integration/fuzz/Fuzz.t.sol
Due: prettier --cache --cache-location ./node_modules/.cache/prettier/.prettier-cache --write, bun solhint {scripts/solidity,src,tests}/**/*.sol --fix --noPrompt, forge fmt

build: bump dependencies (#153)
  bun.lock
  package.json
  tests/Base.t.sol
  tests/fork/merkle-campaign/MerkleBase.t.sol
  tests/integration/concrete/campaign/shared/clawback/clawback.t.sol
  tests/integration/fuzz/Fuzz.t.sol
  tests/utils/BaseScript.t.sol
  tests/utils/Modifiers.sol
Due: prettier --cache --cache-location ./node_modules/.cache/prettier/.prettier-cache --write, bun solhint {scripts/solidity,src,tests}/**/*.sol --fix --noPrompt, forge fmt

test: remove deal statements
  tests/fork/merkle-campaign/MerkleBase.t.sol
  tests/integration/concrete/campaign/shared/claim-to/claimTo.t.sol
  tests/integration/fuzz/Fuzz.t.sol
Due: bun solhint {scripts/solidity,src,tests}/**/*.sol --fix --noPrompt, forge fmt

test: trim down common tests from claimTo fix: error names docs: fix comments build: bump solhint, evm-utils and lockup
  bun.lock
  package.json
  src/SablierMerkleInstant.sol
  src/SablierMerkleLL.sol
  src/SablierMerkleLT.sol
  src/SablierMerkleVCA.sol
  src/interfaces/ISablierMerkleInstant.sol
  src/interfaces/ISablierMerkleVCA.sol
  src/libraries/Errors.sol
  tests/integration/concrete/campaign/shared/claim-to/claimTo.t.sol
  tests/integration/concrete/campaign/shared/claim-to/claimTo.tree
Due: prettier --cache --cache-location ./node_modules/.cache/prettier/.prettier-cache --write, bun solhint {scripts/solidity,src,tests}/**/*.sol --fix --noPrompt, forge fmt

build: remove taiko endpoints
  foundry.toml
Due: none

build: bump evm-utils, lockup
  bun.lock
  package.json
Due: prettier --cache --cache-location ./node_modules/.cache/prettier/.prettier-cache --write

feat: automatically transfers claim fee to factory contract test: adds excludedAddresses to fuzzMerkleData test: adds missing abstract keyword test: prevents Factory from being caller or recipient
  src/SablierMerkleInstant.sol
  src/SablierMerkleLL.sol
  src/SablierMerkleLT.sol
  src/SablierMerkleVCA.sol
  src/abstracts/SablierFactoryMerkleBase.sol
  src/abstracts/SablierMerkleBase.sol
  src/interfaces/ISablierFactoryMerkleBase.sol
  src/interfaces/ISablierMerkleBase.sol
  src/libraries/Errors.sol
  tests/fork/merkle-campaign/MerkleBase.t.sol
  tests/integration/Integration.t.sol
  tests/integration/concrete/campaign/instant/MerkleInstant.t.sol
  tests/integration/concrete/campaign/instant/claim-to/claimTo.t.sol
  tests/integration/concrete/campaign/instant/claim/claim.t.sol
  tests/integration/concrete/campaign/ll/MerkleLL.t.sol
  tests/integration/concrete/campaign/ll/claim-to/claimTo.t.sol
  tests/integration/concrete/campaign/ll/claim/claim.t.sol
  tests/integration/concrete/campaign/lt/MerkleLT.t.sol
  tests/integration/concrete/campaign/lt/claim-to/claimTo.t.sol
  tests/integration/concrete/campaign/lt/claim/claim.t.sol
  tests/integration/concrete/campaign/shared/collect-fees/collectFees.t.sol
  tests/integration/concrete/campaign/shared/collect-fees/collectFees.tree
  tests/integration/concrete/campaign/vca/MerkleVCA.t.sol
  tests/integration/concrete/campaign/vca/claim-to/claimTo.t.sol
  tests/integration/concrete/campaign/vca/claim/claim.t.sol
  tests/integration/concrete/factory/shared/collect-fees/collectFees.t.sol
  tests/integration/concrete/factory/shared/collect-fees/collectFees.tree
  tests/integration/fuzz/Fuzz.t.sol
  tests/utils/Fuzzers.sol
  tests/utils/Modifiers.sol
Due: bun solhint {scripts/solidity,src,tests}/**/*.sol --fix --noPrompt, forge fmt

chore: various configs improvements
  .github/workflows/ci-deep.yml
  .github/workflows/ci-fork.yml
  .github/workflows/ci-slither.yml
  .github/workflows/ci.yml
  .gitignore
  .husky/pre-commit
  .lintstagedrc.js
  .lintstagedrc.yml
  .prettierignore
  .prettierrc.yml
  .solhint.json
  package.json
Due: prettier --cache --cache-location ./node_modules/.cache/prettier/.prettier-cache --write

ci: temporarily use evm-lint.yml workflow
  .github/workflows/ci-deep.yml
  .github/workflows/ci.yml
Due: prettier --cache --cache-location ./node_modules/.cache/prettier/.prettier-cache --write

chore: fix hardhat config
  bun.lockb
  hardhat.config.ts
  package.json
Due: prettier --cache --cache-location ./node_modules/.cache/prettier/.prettier-cache --write

test: polish comment
  tests/integration/Integration.t.sol
Due: bun solhint {scripts/solidity,src,tests}/**/*.sol --fix --noPrompt, forge fmt

build: add lint script
  .github/workflows/ci-fork.yml
  .github/workflows/ci-slither.yml
  package.json
Due: prettier --cache --cache-location ./node_modules/.cache/prettier/.prettier-cache --write

docs: update natspecs for claim functions
  src/interfaces/ISablierMerkleInstant.sol
  src/interfaces/ISablierMerkleLL.sol
  src/interfaces/ISablierMerkleLT.sol
  src/interfaces/ISablierMerkleVCA.sol
Due: bun solhint {scripts/solidity,src,tests}/**/*.sol --fix --noPrompt, forge fmt

docs: correct CEI comment
  src/SablierMerkleLT.sol
  src/SablierMerkleVCA.sol
Due: bun solhint {scripts/solidity,src,tests}/**/*.sol --fix --noPrompt, forge fmt

chore: pre-declare variables
  src/SablierMerkleLT.sol
Due: bun solhint {scripts/solidity,src,tests}/**/*.sol --fix --noPrompt, forge fmt

test: unused modifiers
  tests/utils/Modifiers.sol
Due: bun solhint {scripts/solidity,src,tests}/**/*.sol --fix --noPrompt, forge fmt

docs: nitpick comment
  src/abstracts/SablierMerkleBase.sol
Due: bun solhint {scripts/solidity,src,tests}/**/*.sol --fix --noPrompt, forge fmt

test: adds explainatory comments about excluding addresses from merkle data
  tests/fork/merkle-campaign/MerkleBase.t.sol
  tests/integration/fuzz/Fuzz.t.sol
Due: bun solhint {scripts/solidity,src,tests}/**/*.sol --fix --noPrompt, forge fmt

feat: transfers claim fee to factory contract (#156)
  bun.lock
  package.json
  src/SablierMerkleInstant.sol
  src/SablierMerkleLL.sol
  src/SablierMerkleLT.sol
  src/SablierMerkleVCA.sol
  src/abstracts/SablierFactoryMerkleBase.sol
  src/abstracts/SablierMerkleBase.sol
  src/interfaces/ISablierFactoryMerkleBase.sol
  src/interfaces/ISablierMerkleBase.sol
  src/libraries/Errors.sol
  tests/fork/merkle-campaign/MerkleBase.t.sol
  tests/integration/Integration.t.sol
  tests/integration/concrete/campaign/instant/MerkleInstant.t.sol
  tests/integration/concrete/campaign/instant/claim-to/claimTo.t.sol
  tests/integration/concrete/campaign/instant/claim/claim.t.sol
  tests/integration/concrete/campaign/ll/MerkleLL.t.sol
  tests/integration/concrete/campaign/ll/claim-to/claimTo.t.sol
  tests/integration/concrete/campaign/ll/claim/claim.t.sol
  tests/integration/concrete/campaign/lt/MerkleLT.t.sol
  tests/integration/concrete/campaign/lt/claim-to/claimTo.t.sol
  tests/integration/concrete/campaign/lt/claim/claim.t.sol
  tests/integration/concrete/campaign/shared/collect-fees/collectFees.t.sol
  tests/integration/concrete/campaign/shared/collect-fees/collectFees.tree
  tests/integration/concrete/campaign/vca/MerkleVCA.t.sol
  tests/integration/concrete/campaign/vca/claim-to/claimTo.t.sol
  tests/integration/concrete/campaign/vca/claim/claim.t.sol
  tests/integration/concrete/factory/shared/collect-fees/collectFees.t.sol
  tests/integration/concrete/factory/shared/collect-fees/collectFees.tree
  tests/integration/fuzz/Fuzz.t.sol
  tests/utils/Fuzzers.sol
  tests/utils/Modifiers.sol
Due: prettier --cache --cache-location ./node_modules/.cache/prettier/.prettier-cache --write, bun solhint {scripts/solidity,src,tests}/**/*.sol --fix --noPrompt, forge fmt

feat: adds claim-via-signature function refactor: adds a shared function that reverts if `to` address is zero
  src/SablierMerkleInstant.sol
  src/SablierMerkleLL.sol
  src/SablierMerkleLT.sol
  src/SablierMerkleVCA.sol
  src/abstracts/SablierMerkleBase.sol
  src/interfaces/ISablierMerkleInstant.sol
  src/interfaces/ISablierMerkleLL.sol
  src/interfaces/ISablierMerkleLT.sol
  src/interfaces/ISablierMerkleVCA.sol
  src/libraries/Errors.sol
  tests/integration/concrete/campaign/shared/claim-to/claimTo.t.sol
Due: bun solhint {scripts/solidity,src,tests}/**/*.sol --fix --noPrompt, forge fmt

refactor: moves domain type hash inside constructor
  src/abstracts/SablierMerkleBase.sol
Due: bun solhint {scripts/solidity,src,tests}/**/*.sol --fix --noPrompt, forge fmt

docs: fix domain name
  src/interfaces/ISablierMerkleInstant.sol
  src/interfaces/ISablierMerkleLL.sol
  src/interfaces/ISablierMerkleLT.sol
  src/interfaces/ISablierMerkleVCA.sol
Due: bun solhint {scripts/solidity,src,tests}/**/*.sol --fix --noPrompt, forge fmt

chore: adds AI recommendations
  bun.lock
  package.json
  tests/Base.t.sol
Due: prettier --cache --cache-location ./node_modules/.cache/prettier/.prettier-cache --write, bun solhint {scripts/solidity,src,tests}/**/*.sol --fix --noPrompt, forge fmt

chore: update evm-utils version
  bun.lock
  package.json
Due: prettier --cache --cache-location ./node_modules/.cache/prettier/.prettier-cache --write

refactor: claim events
  src/SablierMerkleInstant.sol
  src/SablierMerkleLL.sol
  src/SablierMerkleLT.sol
  src/SablierMerkleVCA.sol
  src/interfaces/ISablierMerkleInstant.sol
  src/interfaces/ISablierMerkleLL.sol
  src/interfaces/ISablierMerkleLT.sol
  src/interfaces/ISablierMerkleLockup.sol
  src/interfaces/ISablierMerkleVCA.sol
  tests/fork/merkle-campaign/MerkleLL.t.sol
  tests/fork/merkle-campaign/MerkleLT.t.sol
  tests/fork/merkle-campaign/MerkleVCA.t.sol
  tests/integration/concrete/campaign/instant/claim-to/claimTo.t.sol
  tests/integration/concrete/campaign/instant/claim-via-sign/claimViaSig.t.sol
  tests/integration/concrete/campaign/instant/claim/claim.t.sol
  tests/integration/concrete/campaign/ll/claim-to/claimTo.t.sol
  tests/integration/concrete/campaign/ll/claim-via-sign/claimViaSig.t.sol
  tests/integration/concrete/campaign/ll/claim/claim.t.sol
  tests/integration/concrete/campaign/lt/claim-to/claimTo.t.sol
  tests/integration/concrete/campaign/lt/claim-via-sign/claimViaSig.t.sol
  tests/integration/concrete/campaign/lt/claim/claim.t.sol
  tests/integration/concrete/campaign/vca/claim-to/claimTo.t.sol
  tests/integration/concrete/campaign/vca/claim-via-sign/claimViaSig.t.sol
  tests/integration/concrete/campaign/vca/claim/claim.t.sol
  tests/integration/fuzz/MerkleInstant.t.sol
  tests/integration/fuzz/MerkleLL.t.sol
  tests/integration/fuzz/MerkleLT.t.sol
  tests/integration/fuzz/MerkleVCA.t.sol
Due: bun solhint {scripts/solidity,src,tests}/**/*.sol --fix --noPrompt, forge fmt

chore: fix repository format
  package.json
Due: prettier --cache --cache-location ./node_modules/.cache/prettier/.prettier-cache --write

feat: adds IS_SABLIER_MERKLE constant
  src/abstracts/SablierMerkleBase.sol
  src/interfaces/ISablierMerkleBase.sol
  tests/integration/concrete/campaign/instant/constructor.t.sol
  tests/integration/concrete/campaign/ll/constructor.t.sol
  tests/integration/concrete/campaign/lt/constructor.t.sol
  tests/integration/concrete/campaign/vca/constructor.t.sol
Due: bun solhint {scripts/solidity,src,tests}/**/*.sol --fix --noPrompt, forge fmt

feat: adds IS_SABLIER_MERKLE constant (#165)
  src/abstracts/SablierMerkleBase.sol
  src/interfaces/ISablierMerkleBase.sol
  tests/integration/concrete/campaign/instant/constructor.t.sol
  tests/integration/concrete/campaign/ll/constructor.t.sol
  tests/integration/concrete/campaign/lt/constructor.t.sol
  tests/integration/concrete/campaign/vca/constructor.t.sol
Due: bun solhint {scripts/solidity,src,tests}/**/*.sol --fix --noPrompt, forge fmt

build: just
  .env.example
  .github/workflows/ci-deep.yml
  .github/workflows/ci-fork.yml
  .github/workflows/ci-slither.yml
  .github/workflows/ci.yml
  .husky/pre-commit
  .prettierrc.js
  .prettierrc.yml
  bun.lock
  justfile
  package.json
Due: prettier --cache --cache-location ./node_modules/.cache/prettier/.prettier-cache --write

test: default recipient functions
  tests/Base.t.sol
  tests/integration/Integration.t.sol
  tests/integration/concrete/campaign/instant/claim-to/claimTo.t.sol
  tests/integration/concrete/campaign/instant/claim-via-sign/claimViaSig.t.sol
  tests/integration/concrete/campaign/instant/claim/claim.t.sol
  tests/integration/concrete/campaign/ll/claim-to/claimTo.t.sol
  tests/integration/concrete/campaign/ll/claim-via-sign/claimViaSig.t.sol
  tests/integration/concrete/campaign/ll/claim/claim.t.sol
  tests/integration/concrete/campaign/lt/claim-to/claimTo.t.sol
  tests/integration/concrete/campaign/lt/claim-via-sign/claimViaSig.t.sol
  tests/integration/concrete/campaign/lt/claim/claim.t.sol
  tests/integration/concrete/campaign/shared/claim-to/claimTo.t.sol
  tests/integration/concrete/campaign/shared/claim-via-sig/claimViaSig.t.sol
  tests/integration/concrete/campaign/shared/claim/claim.t.sol
  tests/integration/concrete/campaign/shared/has-claimed/hasClaimed.t.sol
  tests/integration/concrete/campaign/vca/claim-to/claimTo.t.sol
  tests/integration/concrete/campaign/vca/claim-via-sign/claimViaSig.t.sol
  tests/integration/concrete/campaign/vca/claim/claim.t.sol
Due: bun solhint {scripts/solidity,src,tests}/**/*.sol --fix --noPrompt, forge fmt

refactor: add notZeroAddress modifier
  src/SablierMerkleInstant.sol
  src/SablierMerkleLL.sol
  src/SablierMerkleLT.sol
  src/SablierMerkleVCA.sol
  src/abstracts/SablierMerkleBase.sol
  src/interfaces/ISablierMerkleInstant.sol
Due: bun solhint {scripts/solidity,src,tests}/**/*.sol --fix --noPrompt, forge fmt
