Repository sablier-labs/lockup: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, bun solhint {precompiles,script,src,tests}/**/*.sol --fix --noPrompt, forge fmt

.lintstagedrc.yml:

"*.{json,md,yml}": "prettier --write"
"*.sol":
  - "bun solhint {precompiles,script,src,tests}/**/*.sol --fix --noPrompt"
  - "forge fmt"

test: polish invariants
  tests/invariant/Invariant.t.sol
Due: bun solhint {precompiles,script,src,tests}/**/*.sol --fix --noPrompt, forge fmt

refactor: rename to "LockupMath"
  shell/prepare-artifacts.sh
  src/SablierLockup.sol
  src/libraries/LockupMath.sol
  tests/utils/Calculations.sol
  tests/utils/DeployOptimized.t.sol
Due: bun solhint {precompiles,script,src,tests}/**/*.sol --fix --noPrompt, forge fmt

refactor: rename "aggregateBalance" to "aggregateAmount" (#1228)
  package.json
  shell/prepare-artifacts.sh
  src/SablierLockup.sol
  src/abstracts/SablierLockupBase.sol
  src/interfaces/ISablierLockupBase.sol
  src/libraries/LockupMath.sol
  tests/fork/Lockup.t.sol
  tests/integration/concrete/lockup-base/cancel/cancel.t.sol
  tests/integration/concrete/lockup-base/cancel/cancel.tree
  tests/integration/concrete/lockup-base/recover/recover.t.sol
  tests/integration/concrete/lockup-base/withdraw/withdraw.t.sol
  tests/integration/concrete/lockup-base/withdraw/withdraw.tree
  tests/integration/concrete/lockup-dynamic/create-with-timestamps-ld/createWithTimestampsLD.t.sol
  tests/integration/concrete/lockup-dynamic/create-with-timestamps-ld/createWithTimestampsLD.tree
  tests/integration/concrete/lockup-linear/create-with-timestamps-ll/createWithTimestampsLL.t.sol
  tests/integration/concrete/lockup-linear/create-with-timestamps-ll/createWithTimestampsLL.tree
  tests/integration/concrete/lockup-tranched/create-with-timestamps-lt/createWithTimestampsLT.t.sol
  tests/integration/concrete/lockup-tranched/create-with-timestamps-lt/createWithTimestampsLT.tree
  tests/integration/fuzz/lockup-base/cancel.t.sol
  tests/integration/fuzz/lockup-base/withdraw.t.sol
  tests/integration/fuzz/lockup-dynamic/createWithTimestampsLD.t.sol
  tests/integration/fuzz/lockup-dynamic/withdraw.t.sol
  tests/integration/fuzz/lockup-linear/createWithTimestampsLL.t.sol
  tests/integration/fuzz/lockup-tranched/createWithTimestampsLT.t.sol
  tests/integration/fuzz/lockup-tranched/withdraw.t.sol
  tests/invariant/Invariant.t.sol
  tests/invariant/handlers/LockupAdminHandler.sol
  tests/utils/Calculations.sol
  tests/utils/DeployOptimized.t.sol
Due: prettier --write, bun solhint {precompiles,script,src,tests}/**/*.sol --fix --noPrompt, forge fmt

refactor: rename to "aggregateAmount" (#418)
  TECHNICAL-DOC.md
  src/SablierFlow.sol
  src/abstracts/SablierFlowBase.sol
  src/interfaces/ISablierFlowBase.sol
  tests/fork/Flow.t.sol
  tests/integration/concrete/deposit/deposit.t.sol
  tests/integration/concrete/recover/recover.t.sol
  tests/integration/concrete/refund-max/refundMax.t.sol
  tests/integration/concrete/refund/refund.t.sol
  tests/integration/concrete/withdraw-max/withdrawMax.t.sol
  tests/integration/concrete/withdraw/withdraw.t.sol
  tests/integration/fuzz/deposit.t.sol
  tests/integration/fuzz/refund.t.sol
  tests/integration/fuzz/refundMax.t.sol
  tests/integration/fuzz/withdraw.t.sol
  tests/integration/fuzz/withdrawMax.t.sol
  tests/invariant/Flow.t.sol
  tests/invariant/handlers/FlowAdminHandler.sol
  tests/invariant/handlers/FlowCreateHandler.sol
  tests/invariant/handlers/FlowHandler.sol
  tests/invariant/stores/FlowStore.sol
Due: prettier --write, bun solhint {precompiles,script,src,tests}/**/*.sol --fix --noPrompt, forge fmt

chore: use plural form for scripts
  .github/workflows/generate-svg.yml
  .lintstagedrc.yml
  README.md
  codecov.yml
  foundry.toml
  package.json
  scripts/DeployBatchLockup.s.sol
  scripts/DeployDeterministicBatchLockup.s.sol
  scripts/DeployDeterministicLockup.s.sol
  scripts/DeployDeterministicNFTDescriptor.s.sol
  scripts/DeployDeterministicProtocol.s.sol
  scripts/DeployLockup.s.sol
  scripts/DeployNFTDescriptor.s.sol
  scripts/DeployProtocol.s.sol
  scripts/GenerateSVG.s.sol
  scripts/Init.s.sol
  scripts/MaxCount.s.sol
  shell/generate-svg.sh
  shell/update-counts.sh
Due: prettier --write, bun solhint {precompiles,script,src,tests}/**/*.sol --fix --noPrompt, forge fmt

chore: use plural form for scripts (#1232)
  .lintstagedrc.yml
  README.md
  codecov.yml
  foundry.toml
  package.json
  scripts/DeployBatchLockup.s.sol
  scripts/DeployDeterministicBatchLockup.s.sol
  scripts/DeployDeterministicLockup.s.sol
  scripts/DeployDeterministicNFTDescriptor.s.sol
  scripts/DeployDeterministicProtocol.s.sol
  scripts/DeployLockup.s.sol
  scripts/DeployNFTDescriptor.s.sol
  scripts/DeployProtocol.s.sol
  scripts/GenerateSVG.s.sol
  scripts/Init.s.sol
  scripts/MaxCount.s.sol
  shell/generate-svg.sh
  shell/update-counts.sh
Due: prettier --write, bun solhint {precompiles,script,src,tests}/**/*.sol --fix --noPrompt, forge fmt

chore: use plural form for scripts (#1232)
  .github/workflows/generate-svg.yml
  .lintstagedrc.yml
  README.md
  codecov.yml
  foundry.toml
  package.json
  scripts/DeployBatchLockup.s.sol
  scripts/DeployDeterministicBatchLockup.s.sol
  scripts/DeployDeterministicLockup.s.sol
  scripts/DeployDeterministicNFTDescriptor.s.sol
  scripts/DeployDeterministicProtocol.s.sol
  scripts/DeployLockup.s.sol
  scripts/DeployNFTDescriptor.s.sol
  scripts/DeployProtocol.s.sol
  scripts/GenerateSVG.s.sol
  scripts/Init.s.sol
  scripts/MaxCount.s.sol
  shell/generate-svg.sh
  shell/update-counts.sh
Due: prettier --write, bun solhint {precompiles,script,src,tests}/**/*.sol --fix --noPrompt, forge fmt

chore: use plural form for scripts (#425)
  README.md
  codecov.yml
  foundry.toml
  package.json
  scripts/DeployDeterministicFlow.s.sol
  scripts/DeployDeterministicProtocol.s.sol
  scripts/DeployFlow.s.sol
  scripts/DeployProtocol.s.sol
  scripts/Init.s.sol
  scripts/NFTDescriptorAddresses.sol
Due: prettier --write, bun solhint {precompiles,script,src,tests}/**/*.sol --fix --noPrompt, forge fmt

refactor: move shell scripts under scripts/bash
  .github/workflows/generate-svg.yml
  .lintstagedrc.yml
  README.md
  codecov.yml
  foundry.toml
  package.json
  scripts/bash/generate-svg-panoply.sh
  scripts/bash/generate-svg.sh
  scripts/bash/prepare-artifacts.sh
  scripts/bash/update-counts.sh
  scripts/solidity/DeployBatchLockup.s.sol
  scripts/solidity/DeployDeterministicBatchLockup.s.sol
  scripts/solidity/DeployDeterministicLockup.s.sol
  scripts/solidity/DeployDeterministicNFTDescriptor.s.sol
  scripts/solidity/DeployDeterministicProtocol.s.sol
  scripts/solidity/DeployLockup.s.sol
  scripts/solidity/DeployNFTDescriptor.s.sol
  scripts/solidity/DeployProtocol.s.sol
  scripts/solidity/GenerateSVG.s.sol
  scripts/solidity/Init.s.sol
  scripts/solidity/MaxCount.s.sol
  shell/generate-svg-panoply.sh
Due: prettier --write, bun solhint {precompiles,script,src,tests}/**/*.sol --fix --noPrompt, forge fmt

refactor: move shell scripts under scripts/bash (#1233)
  .github/workflows/generate-svg.yml
  .lintstagedrc.yml
  README.md
  codecov.yml
  foundry.toml
  package.json
  scripts/bash/generate-svg-panoply.sh
  scripts/bash/generate-svg.sh
  scripts/bash/prepare-artifacts.sh
  scripts/bash/update-counts.sh
  scripts/solidity/DeployBatchLockup.s.sol
  scripts/solidity/DeployDeterministicBatchLockup.s.sol
  scripts/solidity/DeployDeterministicLockup.s.sol
  scripts/solidity/DeployDeterministicNFTDescriptor.s.sol
  scripts/solidity/DeployDeterministicProtocol.s.sol
  scripts/solidity/DeployLockup.s.sol
  scripts/solidity/DeployNFTDescriptor.s.sol
  scripts/solidity/DeployProtocol.s.sol
  scripts/solidity/GenerateSVG.s.sol
  scripts/solidity/Init.s.sol
  scripts/solidity/MaxCount.s.sol
  shell/generate-svg-panoply.sh
Due: prettier --write, bun solhint {precompiles,script,src,tests}/**/*.sol --fix --noPrompt, forge fmt

refactor: move shell scripts under scripts/bash (#1233)
  .lintstagedrc.yml
  README.md
  codecov.yml
  foundry.toml
  package.json
  scripts/bash/generate-svg-panoply.sh
  scripts/bash/generate-svg.sh
  scripts/bash/prepare-artifacts.sh
  scripts/bash/update-counts.sh
  scripts/solidity/DeployBatchLockup.s.sol
  scripts/solidity/DeployDeterministicBatchLockup.s.sol
  scripts/solidity/DeployDeterministicLockup.s.sol
  scripts/solidity/DeployDeterministicNFTDescriptor.s.sol
  scripts/solidity/DeployDeterministicProtocol.s.sol
  scripts/solidity/DeployLockup.s.sol
  scripts/solidity/DeployNFTDescriptor.s.sol
  scripts/solidity/DeployProtocol.s.sol
  scripts/solidity/GenerateSVG.s.sol
  scripts/solidity/Init.s.sol
  scripts/solidity/MaxCount.s.sol
  shell/generate-svg-panoply.sh
Due: prettier --write, bun solhint {precompiles,script,src,tests}/**/*.sol --fix --noPrompt, forge fmt

refactor: move shell scripts under scripts/bash (#426)
  README.md
  codecov.yml
  foundry.toml
  package.json
  scripts/bash/prepare-artifacts.sh
  scripts/solidity/DeployDeterministicFlow.s.sol
  scripts/solidity/DeployDeterministicProtocol.s.sol
  scripts/solidity/DeployFlow.s.sol
  scripts/solidity/DeployProtocol.s.sol
  scripts/solidity/NFTDescriptorAddresses.sol
Due: prettier --write, bun solhint {precompiles,script,src,tests}/**/*.sol --fix --noPrompt, forge fmt

docs: nitpicks (#428)
  bun.lockb
  package.json
  src/abstracts/SablierFlowBase.sol
  src/interfaces/ISablierFlow.sol
Due: prettier --write, bun solhint {precompiles,script,src,tests}/**/*.sol --fix --noPrompt, forge fmt

refactor: remove superflous check in _calculateClaimAmount (#140)
  SECURITY.md
  package.json
  src/SablierMerkleInstant.sol
  src/SablierMerkleLL.sol
  src/SablierMerkleLT.sol
  src/SablierMerkleVCA.sol
  src/abstracts/SablierFactoryMerkleBase.sol
  src/abstracts/SablierMerkleBase.sol
  src/interfaces/ISablierMerkleVCA.sol
Due: prettier --write, bun solhint {precompiles,script,src,tests}/**/*.sol --fix --noPrompt, forge fmt

build: cache prettier
  .lintstagedrc.yml
  package.json
Due: prettier --write

docs: nitpick (#429)
  src/abstracts/SablierFlowBase.sol
Due: bun solhint {precompiles,script,src,tests}/**/*.sol --fix --noPrompt, forge fmt

chore: cache prettier checks
  package.json
Due: prettier --write

chore: prettier checks
  package.json
Due: prettier --write

docs: explain why shanghai EVM is used
  foundry.toml
Due: none

chore: add Taplo formatter settings
  .vscode/settings.json
  foundry.toml
Due: prettier --write

chore: fix taplo TOML formatter
  .vscode/extensions.json
  .vscode/settings.json
  foundry.toml
Due: prettier --write

docs: relative links in CONTRIBUTING guide
  CONTRIBUTING.md
Due: prettier --write

docs: relative links in non-public Markdown files
  .vscode/extensions.json
  CONTRIBUTING.md
  DIAGRAMS.md
  SECURITY.md
  TECHNICAL-DOC.md
Due: prettier --write
