Repository sablier-labs/airdrops: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, bun solhint {precompiles,script,src,tests}/**/*.sol --fix --noPrompt, forge fmt

test: fix claim tests when claim amount eq 0
  tests/fork/merkle-campaign/MerkleVCA.t.sol
  tests/integration/fuzz/Fuzz.t.sol
Due: bun solhint {precompiles,script,src,tests}/**/*.sol --fix --noPrompt, forge fmt

test: polish _findAndWarpToClaimAmountGt0
  tests/fork/merkle-campaign/MerkleBase.t.sol
  tests/fork/merkle-campaign/MerkleVCA.t.sol
Due: bun solhint {precompiles,script,src,tests}/**/*.sol --fix --noPrompt, forge fmt

test(chore): use e18
  tests/utils/Constants.sol
Due: bun solhint {precompiles,script,src,tests}/**/*.sol --fix --noPrompt, forge fmt

Check if claim amount is zero + feedback for unlock percentage in VCA (#129)
  src/SablierMerkleVCA.sol
  src/libraries/Errors.sol
  tests/fork/merkle-campaign/MerkleBase.t.sol
  tests/fork/merkle-campaign/MerkleVCA.t.sol
  tests/integration/concrete/campaign/vca/calculate-claim-amount/calculateClaimAmount.t.sol
  tests/integration/concrete/campaign/vca/calculate-forgone-amount/calculateForgoneAmount.t.sol
  tests/integration/concrete/campaign/vca/claim/claim.t.sol
  tests/integration/concrete/factory/vca/create-merkle-vca/createMerkleVCA.t.sol
  tests/integration/concrete/factory/vca/create-merkle-vca/createMerkleVCA.tree
  tests/integration/fuzz/Fuzz.t.sol
  tests/integration/fuzz/MerkleVCA.t.sol
  tests/utils/Constants.sol
Due: bun solhint {precompiles,script,src,tests}/**/*.sol --fix --noPrompt, forge fmt

refactor: merkleLL schedule into immutable vars
  foundry.toml
  script/CreateMerkleLL.s.sol
  src/SablierMerkleLL.sol
  src/SablierMerkleVCA.sol
  src/interfaces/ISablierMerkleLL.sol
  src/types/DataTypes.sol
  tests/Base.t.sol
  tests/fork/merkle-campaign/MerkleLL.t.sol
  tests/integration/concrete/campaign/ll/claim/claim.t.sol
  tests/integration/concrete/campaign/ll/claim/claim.tree
  tests/integration/concrete/campaign/ll/constructor.t.sol
  tests/integration/fuzz/MerkleLL.t.sol
  tests/utils/Assertions.sol
  tests/utils/Modifiers.sol
Due: bun solhint {precompiles,script,src,tests}/**/*.sol --fix --noPrompt, forge fmt

refactor: use UD60x18 for percentages in MerkleLL
  script/CreateMerkleLL.s.sol
  src/SablierMerkleLL.sol
  src/interfaces/ISablierMerkleLL.sol
  src/types/DataTypes.sol
  tests/fork/merkle-campaign/MerkleLL.t.sol
  tests/integration/concrete/campaign/ll/claim/claim.t.sol
  tests/integration/fuzz/MerkleLL.t.sol
  tests/utils/Constants.sol
Due: bun solhint {precompiles,script,src,tests}/**/*.sol --fix --noPrompt, forge fmt

build: remove lite profile
  .env.example
  foundry.toml
  package.json
Due: prettier --write

build: add lite profile
  foundry.toml
  package.json
  tests/integration/concrete/campaign/ll/claim/claim.t.sol
Due: prettier --write, bun solhint {precompiles,script,src,tests}/**/*.sol --fix --noPrompt, forge fmt

ci: pass via-ir-minimum in code coverage
  .github/workflows/ci.yml
Due: prettier --write

docs: polish comment
  src/SablierMerkleLL.sol
Due: bun solhint {precompiles,script,src,tests}/**/*.sol --fix --noPrompt, forge fmt

refactor: add "VESTING_" prefix
  src/SablierMerkleLL.sol
  src/abstracts/SablierMerkleBase.sol
  src/interfaces/ISablierMerkleLL.sol
  src/types/DataTypes.sol
  tests/Base.t.sol
  tests/fork/merkle-campaign/MerkleLL.t.sol
  tests/fork/merkle-campaign/MerkleLT.t.sol
  tests/integration/concrete/campaign/ll/claim/claim.t.sol
  tests/integration/concrete/campaign/ll/constructor.t.sol
  tests/integration/concrete/campaign/lt/claim/claim.t.sol
  tests/integration/concrete/campaign/lt/constructor.t.sol
  tests/integration/concrete/campaign/vca/calculate-claim-amount/calculateClaimAmount.t.sol
  tests/integration/concrete/campaign/vca/calculate-forgone-amount/calculateForgoneAmount.t.sol
  tests/integration/concrete/campaign/vca/claim/claim.t.sol
  tests/integration/concrete/campaign/vca/constructor.t.sol
  tests/integration/concrete/factory/lt/create-merkle-lt/createMerkleLT.t.sol
  tests/integration/concrete/factory/vca/create-merkle-vca/createMerkleVCA.t.sol
  tests/integration/fuzz/MerkleLL.t.sol
  tests/utils/Constants.sol
  tests/utils/Fuzzers.sol
Due: bun solhint {precompiles,script,src,tests}/**/*.sol --fix --noPrompt, forge fmt

chore: use lite profile in env
  .env.example
Due: none

refactor: add "VESTING_" prefix
  tests/integration/concrete/campaign/ll/constructor.t.sol
Due: bun solhint {precompiles,script,src,tests}/**/*.sol --fix --noPrompt, forge fmt

test: bring back constructor tests for MerkleLL
  tests/integration/concrete/campaign/ll/constructor.t.sol
Due: bun solhint {precompiles,script,src,tests}/**/*.sol --fix --noPrompt, forge fmt

docs: update NatSpec
  src/abstracts/SablierMerkleBase.sol
  src/interfaces/ISablierMerkleLL.sol
  tests/integration/concrete/campaign/ll/constructor.t.sol
Due: bun solhint {precompiles,script,src,tests}/**/*.sol --fix --noPrompt, forge fmt

fix fork test by using public rpc
  foundry.toml
Due: none

refactor: schedule into immutable vars (#125)
  .github/workflows/ci.yml
  foundry.toml
  script/CreateMerkleLL.s.sol
  src/SablierMerkleLL.sol
  src/SablierMerkleVCA.sol
  src/abstracts/SablierMerkleBase.sol
  src/interfaces/ISablierMerkleLL.sol
  src/types/DataTypes.sol
  tests/Base.t.sol
  tests/fork/merkle-campaign/MerkleLL.t.sol
  tests/fork/merkle-campaign/MerkleLT.t.sol
  tests/integration/concrete/campaign/ll/claim/claim.t.sol
  tests/integration/concrete/campaign/ll/claim/claim.tree
  tests/integration/concrete/campaign/ll/constructor.t.sol
  tests/integration/concrete/campaign/lt/claim/claim.t.sol
  tests/integration/concrete/campaign/lt/constructor.t.sol
  tests/integration/concrete/campaign/vca/calculate-claim-amount/calculateClaimAmount.t.sol
  tests/integration/concrete/campaign/vca/calculate-forgone-amount/calculateForgoneAmount.t.sol
  tests/integration/concrete/campaign/vca/claim/claim.t.sol
  tests/integration/concrete/campaign/vca/constructor.t.sol
  tests/integration/concrete/factory/lt/create-merkle-lt/createMerkleLT.t.sol
  tests/integration/concrete/factory/vca/create-merkle-vca/createMerkleVCA.t.sol
  tests/integration/fuzz/MerkleLL.t.sol
  tests/utils/Assertions.sol
  tests/utils/Constants.sol
  tests/utils/Fuzzers.sol
  tests/utils/Modifiers.sol
Due: prettier --write, bun solhint {precompiles,script,src,tests}/**/*.sol --fix --noPrompt, forge fmt

refactor: various improvements
  src/SablierMerkleVCA.sol
  src/interfaces/ISablierMerkleVCA.sol
  src/libraries/Errors.sol
  src/types/DataTypes.sol
  tests/Base.t.sol
  tests/integration/concrete/campaign/vca/calculate-claim-amount/calculateClaimAmount.t.sol
  tests/integration/concrete/campaign/vca/calculate-claim-amount/calculateClaimAmount.tree
  tests/integration/concrete/campaign/vca/calculate-forgone-amount/calculateForgoneAmount.t.sol
  tests/integration/concrete/campaign/vca/calculate-forgone-amount/calculateForgoneAmount.tree
  tests/integration/concrete/campaign/vca/claim/claim.t.sol
  tests/utils/Constants.sol
Due: bun solhint {precompiles,script,src,tests}/**/*.sol --fix --noPrompt, forge fmt

use infura for bsch
  foundry.toml
Due: none

feat: unlock percentage in VCA (#128)
  src/SablierMerkleVCA.sol
  src/interfaces/ISablierFactoryMerkleVCA.sol
  src/interfaces/ISablierMerkleVCA.sol
  src/libraries/Errors.sol
  src/types/DataTypes.sol
  tests/Base.t.sol
  tests/fork/merkle-campaign/MerkleBase.t.sol
  tests/fork/merkle-campaign/MerkleVCA.t.sol
  tests/integration/concrete/campaign/vca/calculate-claim-amount/calculateClaimAmount.t.sol
  tests/integration/concrete/campaign/vca/calculate-claim-amount/calculateClaimAmount.tree
  tests/integration/concrete/campaign/vca/calculate-forgone-amount/calculateForgoneAmount.t.sol
  tests/integration/concrete/campaign/vca/calculate-forgone-amount/calculateForgoneAmount.tree
  tests/integration/concrete/campaign/vca/claim/claim.t.sol
  tests/integration/concrete/campaign/vca/claim/claim.tree
  tests/integration/concrete/campaign/vca/constructor.t.sol
  tests/integration/concrete/factory/vca/create-merkle-vca/createMerkleVCA.t.sol
  tests/integration/concrete/factory/vca/create-merkle-vca/createMerkleVCA.tree
  tests/integration/fuzz/Fuzz.t.sol
  tests/integration/fuzz/MerkleVCA.t.sol
  tests/utils/Constants.sol
  tests/utils/Modifiers.sol
Due: bun solhint {precompiles,script,src,tests}/**/*.sol --fix --noPrompt, forge fmt

refactor: END_TIME to VESTING_END_TIME in MerkleVCA refactor: START_TIME to VESTING_START_TIME in MerkleVCA refactor: STREAM_START_TIME to VESTING_START_TIME in MerkleLT
  script/CreateMerkleLT.s.sol
  src/SablierMerkleLT.sol
  src/SablierMerkleVCA.sol
  src/interfaces/ISablierMerkleLT.sol
  src/interfaces/ISablierMerkleVCA.sol
  src/types/DataTypes.sol
  tests/Base.t.sol
  tests/fork/chainlink-oracle/ChainlinkOracle.t.sol
  tests/fork/merkle-campaign/MerkleLT.t.sol
  tests/integration/concrete/campaign/lt/claim/claim.t.sol
  tests/integration/concrete/campaign/lt/claim/claim.tree
  tests/integration/concrete/campaign/lt/constructor.t.sol
  tests/integration/concrete/campaign/vca/constructor.t.sol
  tests/integration/concrete/factory/vca/create-merkle-vca/createMerkleVCA.t.sol
  tests/integration/fuzz/MerkleLT.t.sol
  tests/integration/fuzz/MerkleVCA.t.sol
Due: bun solhint {precompiles,script,src,tests}/**/*.sol --fix --noPrompt, forge fmt

chore: group immutable variables in constructor
  src/SablierMerkleVCA.sol
Due: bun solhint {precompiles,script,src,tests}/**/*.sol --fix --noPrompt, forge fmt

fix: audit recommendations (#93)
  .env.example
  SECURITY.md
  bun.lockb
  package.json
  src/SablierMerkleFactoryInstant.sol
  src/SablierMerkleFactoryLL.sol
  src/SablierMerkleFactoryLT.sol
  src/SablierMerkleFactoryVCA.sol
  src/SablierMerkleLT.sol
  src/SablierMerkleVCA.sol
  src/abstracts/SablierMerkleBase.sol
  src/abstracts/SablierMerkleFactoryBase.sol
  src/interfaces/ISablierMerkleBase.sol
  src/interfaces/ISablierMerkleFactoryBase.sol
  src/libraries/Errors.sol
  src/types/DataTypes.sol
  tests/Base.t.sol
  tests/integration/concrete/campaign/shared/minimum-fee-in-wei/minimumFeeInWei.t.sol
  tests/integration/concrete/campaign/shared/minimum-fee-in-wei/minimumFeeInWei.tree
  tests/integration/concrete/factory/instant/MerkleFactoryInstant.t.sol
  tests/integration/concrete/factory/instant/create-merkle-instant/createMerkleInstant.t.sol
  tests/integration/concrete/factory/instant/create-merkle-instant/createMerkleInstant.tree
  tests/integration/concrete/factory/ll/MerkleFactoryLL.t.sol
  tests/integration/concrete/factory/ll/create-merkle-ll/createMerkleLL.t.sol
  tests/integration/concrete/factory/ll/create-merkle-ll/createMerkleLL.tree
  tests/integration/concrete/factory/lt/MerkleFactoryLT.t.sol
  tests/integration/concrete/factory/lt/create-merkle-lt/createMerkleLT.t.sol
  tests/integration/concrete/factory/lt/create-merkle-lt/createMerkleLT.tree
  tests/integration/concrete/factory/shared/set-native-token/setNativeToken.t.sol
  tests/integration/concrete/factory/shared/set-native-token/setNativeToken.tree
  tests/integration/concrete/factory/shared/set-oracle/setOracle.t.sol
  tests/integration/concrete/factory/vca/MerkleFactoryVCA.t.sol
  tests/integration/concrete/factory/vca/create-merkle-vca/createMerkleVCA.t.sol
  tests/integration/concrete/factory/vca/create-merkle-vca/createMerkleVCA.tree
  tests/utils/ChainlinkMocks.sol
  tests/utils/ChainlinkOracleMock.sol
  tests/utils/Modifiers.sol
Due: prettier --write, bun solhint {precompiles,script,src,tests}/**/*.sol --fix --noPrompt, forge fmt

docs: update contributing guide
  .env.example
  .vscode/settings.json
  CONTRIBUTING.md
  package.json
Due: prettier --write

chore: update comments
  src/SablierMerkleLL.sol
  src/SablierMerkleVCA.sol
  src/interfaces/ISablierMerkleLL.sol
  src/types/DataTypes.sol
Due: bun solhint {precompiles,script,src,tests}/**/*.sol --fix --noPrompt, forge fmt

refactor: MerkleVCA timestamps into state variables (#116)
  script/CreateMerkleVCA.s.sol
  src/SablierMerkleVCA.sol
  src/interfaces/ISablierFactoryMerkleVCA.sol
  src/interfaces/ISablierMerkleVCA.sol
  src/libraries/Errors.sol
  src/types/DataTypes.sol
  tests/Base.t.sol
  tests/fork/merkle-campaign/MerkleVCA.t.sol
  tests/integration/concrete/campaign/vca/calculate-claim-amount/calculateClaimAmount.t.sol
  tests/integration/concrete/campaign/vca/calculate-forgone-amount/calculateForgoneAmount.t.sol
  tests/integration/concrete/campaign/vca/claim/claim.t.sol
  tests/integration/concrete/campaign/vca/constructor.t.sol
  tests/integration/concrete/factory/vca/create-merkle-vca/createMerkleVCA.t.sol
  tests/integration/concrete/factory/vca/create-merkle-vca/createMerkleVCA.tree
  tests/integration/fuzz/MerkleVCA.t.sol
  tests/utils/Constants.sol
Due: bun solhint {precompiles,script,src,tests}/**/*.sol --fix --noPrompt, forge fmt

refactor: prefix timestamps with VESTING in MerkleLT and MerkleVCA (#133)
  script/CreateMerkleLT.s.sol
  src/SablierMerkleLT.sol
  src/SablierMerkleVCA.sol
  src/interfaces/ISablierMerkleLT.sol
  src/interfaces/ISablierMerkleVCA.sol
  src/types/DataTypes.sol
  tests/Base.t.sol
  tests/fork/chainlink-oracle/ChainlinkOracle.t.sol
  tests/fork/merkle-campaign/MerkleLT.t.sol
  tests/integration/concrete/campaign/lt/claim/claim.t.sol
  tests/integration/concrete/campaign/lt/claim/claim.tree
  tests/integration/concrete/campaign/lt/constructor.t.sol
  tests/integration/concrete/campaign/vca/constructor.t.sol
  tests/integration/concrete/factory/vca/create-merkle-vca/createMerkleVCA.t.sol
  tests/integration/fuzz/MerkleLT.t.sol
  tests/integration/fuzz/MerkleVCA.t.sol
Due: bun solhint {precompiles,script,src,tests}/**/*.sol --fix --noPrompt, forge fmt

docs: polish NatSpec
  src/SablierMerkleVCA.sol
  src/interfaces/ISablierMerkleLL.sol
  src/interfaces/ISablierMerkleLT.sol
  src/interfaces/ISablierMerkleVCA.sol
Due: bun solhint {precompiles,script,src,tests}/**/*.sol --fix --noPrompt, forge fmt

correct comment
  src/interfaces/ISablierMerkleVCA.sol
Due: bun solhint {precompiles,script,src,tests}/**/*.sol --fix --noPrompt, forge fmt

docs: natspec retouches (#137)
  src/SablierMerkleVCA.sol
  src/interfaces/ISablierMerkleLL.sol
  src/interfaces/ISablierMerkleLT.sol
  src/interfaces/ISablierMerkleVCA.sol
Due: bun solhint {precompiles,script,src,tests}/**/*.sol --fix --noPrompt, forge fmt

chore: use plural form for scripts
  .lintstagedrc.yml
  README.md
  codecov.yml
  foundry.toml
  package.json
  scripts/Base.sol
  scripts/CreateMerkleInstant.s.sol
  scripts/CreateMerkleLL.s.sol
  scripts/CreateMerkleLT.s.sol
  scripts/CreateMerkleVCA.s.sol
  scripts/DeployDeterministicFactories.s.sol
  scripts/DeployFactories.s.sol
Due: prettier --write, bun solhint {precompiles,script,src,tests}/**/*.sol --fix --noPrompt, forge fmt

refactor: move bash script into scripts dir
  .lintstagedrc.yml
  README.md
  codecov.yml
  foundry.toml
  package.json
  scripts/bash/prepare-artifacts.sh
  scripts/solidity/Base.sol
  scripts/solidity/CreateMerkleInstant.s.sol
  scripts/solidity/CreateMerkleLL.s.sol
  scripts/solidity/CreateMerkleLT.s.sol
  scripts/solidity/CreateMerkleVCA.s.sol
  scripts/solidity/DeployDeterministicFactories.s.sol
  scripts/solidity/DeployFactories.s.sol
  tests/fork/chainlink-oracle/ChainlinkOracle.t.sol
  tests/utils/BaseScript.t.sol
Due: prettier --write, bun solhint {precompiles,script,src,tests}/**/*.sol --fix --noPrompt, forge fmt

fix import path
  scripts/solidity/CreateMerkleInstant.s.sol
  scripts/solidity/CreateMerkleLL.s.sol
  scripts/solidity/CreateMerkleVCA.s.sol
Due: bun solhint {precompiles,script,src,tests}/**/*.sol --fix --noPrompt, forge fmt

fix prepack script
  package.json
Due: prettier --write

chore: use plural form for scripts (#138)
  .lintstagedrc.yml
  README.md
  codecov.yml
  foundry.toml
  package.json
  scripts/bash/prepare-artifacts.sh
  scripts/solidity/Base.sol
  scripts/solidity/CreateMerkleInstant.s.sol
  scripts/solidity/CreateMerkleLL.s.sol
  scripts/solidity/CreateMerkleLT.s.sol
  scripts/solidity/CreateMerkleVCA.s.sol
  scripts/solidity/DeployDeterministicFactories.s.sol
  scripts/solidity/DeployFactories.s.sol
  tests/fork/chainlink-oracle/ChainlinkOracle.t.sol
  tests/utils/BaseScript.t.sol
Due: prettier --write, bun solhint {precompiles,script,src,tests}/**/*.sol --fix --noPrompt, forge fmt

Path conditions:
  prettier --write: any of: *.{json,md,svg,yml}
  bun solhint {precompiles,script,src,tests}/**/*.sol --fix --noPrompt: any of: *.sol
  forge fmt: any of: *.sol
