Repository sablier-labs/airdrops: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, bun solhint {scripts/solidity,src,tests}/**/*.sol --fix --noPrompt, forge fmt

.lintstagedrc.yml:

"*.{json,md,yml}": "prettier --write"
"*.sol":
  - "bun solhint {scripts/solidity,src,tests}/**/*.sol --fix --noPrompt"
  - "forge fmt"

refactor: remove superflous check in _calculateClaimAmount
  SECURITY.md
  src/SablierMerkleVCA.sol
  src/interfaces/ISablierMerkleVCA.sol
Due: prettier --write, bun solhint {scripts/solidity,src,tests}/**/*.sol --fix --noPrompt, forge fmt

chore: use named args in all emitted events
  src/SablierMerkleInstant.sol
  src/SablierMerkleLL.sol
  src/SablierMerkleLT.sol
  src/SablierMerkleVCA.sol
  src/abstracts/SablierFactoryMerkleBase.sol
  src/abstracts/SablierMerkleBase.sol
Due: bun solhint {scripts/solidity,src,tests}/**/*.sol --fix --noPrompt, forge fmt

build: bump evm-utils
  bun.lockb
  package.json
Due: prettier --write

docs: update security assumption
  SECURITY.md
Due: prettier --write

refactor: remove superflous check in _calculateClaimAmount (#140)
  SECURITY.md
  bun.lockb
  package.json
  src/SablierMerkleInstant.sol
  src/SablierMerkleLL.sol
  src/SablierMerkleLT.sol
  src/SablierMerkleVCA.sol
  src/abstracts/SablierFactoryMerkleBase.sol
  src/abstracts/SablierMerkleBase.sol
  src/interfaces/ISablierMerkleVCA.sol
Due: prettier --write, bun solhint {scripts/solidity,src,tests}/**/*.sol --fix --noPrompt, forge fmt

build: cache prettier
  .lintstagedrc.yml
  package.json
Due: prettier --write

chore: prettier checks
  package.json
Due: prettier --write

feat: allow fee recipient in collectFees
  src/abstracts/SablierFactoryMerkleBase.sol
  src/abstracts/SablierMerkleBase.sol
  src/interfaces/ISablierFactoryMerkleBase.sol
  src/interfaces/ISablierMerkleBase.sol
  src/libraries/Errors.sol
  tests/fork/merkle-campaign/MerkleBase.t.sol
  tests/integration/concrete/campaign/instant/constructor.t.sol
  tests/integration/concrete/campaign/ll/constructor.t.sol
  tests/integration/concrete/campaign/shared/collect-fees/collectFees.t.sol
  tests/integration/concrete/campaign/shared/collect-fees/collectFees.tree
  tests/integration/concrete/campaign/vca/constructor.t.sol
  tests/integration/concrete/factory/instant/create-merkle-instant/createMerkleInstant.t.sol
  tests/integration/concrete/factory/ll/create-merkle-ll/createMerkleLL.t.sol
  tests/integration/concrete/factory/lt/create-merkle-lt/createMerkleLT.t.sol
  tests/integration/concrete/factory/shared/collect-fees/collectFees.t.sol
  tests/integration/concrete/factory/shared/collect-fees/collectFees.tree
  tests/integration/concrete/factory/vca/create-merkle-vca/createMerkleVCA.t.sol
  tests/integration/fuzz/Fuzz.t.sol
  tests/utils/Modifiers.sol
Due: bun solhint {scripts/solidity,src,tests}/**/*.sol --fix --noPrompt, forge fmt

refactor: feeRecipient parameter in collectFees function refactor: emit admin in CollectFees event fix: error name
  src/abstracts/SablierFactoryMerkleBase.sol
  src/abstracts/SablierMerkleBase.sol
  src/interfaces/ISablierFactoryMerkleBase.sol
  src/interfaces/ISablierMerkleBase.sol
  src/libraries/Errors.sol
  tests/fork/merkle-campaign/MerkleBase.t.sol
  tests/integration/concrete/factory/shared/collect-fees/collectFees.t.sol
  tests/integration/fuzz/Fuzz.t.sol
Due: bun solhint {scripts/solidity,src,tests}/**/*.sol --fix --noPrompt, forge fmt

docs: update comment
  src/interfaces/ISablierFactoryMerkleBase.sol
Due: bun solhint {scripts/solidity,src,tests}/**/*.sol --fix --noPrompt, forge fmt

docs: explain why shanghai EVM is used
  foundry.toml
Due: none

chore: fix TOML formatter
  .vscode/settings.json
  foundry.toml
Due: prettier --write

docs: recommended vscode extensions
  .vscode/extensions.json
Due: prettier --write

docs: relative links in CONTRIBUTING guide
  CONTRIBUTING.md
  README.md
Due: prettier --write

chore: remove redundant cache location
  package.json
Due: prettier --write

feat: add fee recipient to `collectFees` function (#142)
  src/abstracts/SablierFactoryMerkleBase.sol
  src/abstracts/SablierMerkleBase.sol
  src/interfaces/ISablierFactoryMerkleBase.sol
  src/interfaces/ISablierMerkleBase.sol
  src/libraries/Errors.sol
  tests/fork/merkle-campaign/MerkleBase.t.sol
  tests/integration/concrete/campaign/instant/constructor.t.sol
  tests/integration/concrete/campaign/ll/constructor.t.sol
  tests/integration/concrete/campaign/shared/collect-fees/collectFees.t.sol
  tests/integration/concrete/campaign/shared/collect-fees/collectFees.tree
  tests/integration/concrete/campaign/vca/constructor.t.sol
  tests/integration/concrete/factory/instant/create-merkle-instant/createMerkleInstant.t.sol
  tests/integration/concrete/factory/ll/create-merkle-ll/createMerkleLL.t.sol
  tests/integration/concrete/factory/lt/create-merkle-lt/createMerkleLT.t.sol
  tests/integration/concrete/factory/shared/collect-fees/collectFees.t.sol
  tests/integration/concrete/factory/shared/collect-fees/collectFees.tree
  tests/integration/concrete/factory/vca/create-merkle-vca/createMerkleVCA.t.sol
  tests/integration/fuzz/Fuzz.t.sol
  tests/utils/Modifiers.sol
Due: bun solhint {scripts/solidity,src,tests}/**/*.sol --fix --noPrompt, forge fmt

build: use bun lock textfile
  bun.lock
  bun.lockb
Due: none

chore: update prettier ignore paths
  .prettierignore
Due: none

chore: remove undeeded casting
  src/abstracts/SablierMerkleBase.sol
Due: bun solhint {scripts/solidity,src,tests}/**/*.sol --fix --noPrompt, forge fmt

fix: named arg in feeTransferFail error
  src/libraries/Errors.sol
Due: bun solhint {scripts/solidity,src,tests}/**/*.sol --fix --noPrompt, forge fmt

build: bump lockup
  .gitignore
  README.md
  bun.lock
  package.json
  remappings.txt
Due: prettier --write

build: bump lockup (#147)
  .gitignore
  README.md
  bun.lock
  package.json
  remappings.txt
Due: prettier --write

feat: access based control over fee functions
  bun.lock
  src/abstracts/SablierFactoryMerkleBase.sol
  src/interfaces/ISablierFactoryMerkleBase.sol
  tests/Base.t.sol
  tests/integration/concrete/factory/shared/collect-fees/collectFees.t.sol
  tests/integration/concrete/factory/shared/collect-fees/collectFees.tree
  tests/integration/concrete/factory/shared/disable-custom-fee-usd/disableCustomFeeUSD.t.sol
  tests/integration/concrete/factory/shared/disable-custom-fee-usd/disableCustomFeeUSD.tree
  tests/integration/concrete/factory/shared/set-custom-fee-usd/setCustomFeeUSD.t.sol
  tests/integration/concrete/factory/shared/set-custom-fee-usd/setCustomFeeUSD.tree
  tests/integration/concrete/factory/shared/set-min-fee-usd/setMinFeeUSD.t.sol
  tests/integration/concrete/factory/shared/set-min-fee-usd/setMinFeeUSD.tree
  tests/utils/Modifiers.sol
  tests/utils/Types.sol
Due: bun solhint {scripts/solidity,src,tests}/**/*.sol --fix --noPrompt, forge fmt

ci: update bun lock file
  package.json
Due: prettier --write

test: styling tree
  tests/integration/concrete/factory/shared/set-custom-fee-usd/setCustomFeeUSD.tree
Due: none

docs: update comments
  src/abstracts/SablierFactoryMerkleBase.sol
  src/interfaces/ISablierFactoryMerkleBase.sol
  src/libraries/Errors.sol
Due: bun solhint {scripts/solidity,src,tests}/**/*.sol --fix --noPrompt, forge fmt

chore: build evm-utils
  bun.lock
  package.json
Due: prettier --write

docs: update natspecs
  src/abstracts/SablierFactoryMerkleBase.sol
  src/interfaces/ISablierFactoryMerkleBase.sol
Due: bun solhint {scripts/solidity,src,tests}/**/*.sol --fix --noPrompt, forge fmt

ci: new cache
  .github/workflows/ci-deep.yml
  .github/workflows/ci-fork.yml
  .github/workflows/ci-multibuild.yml
  .github/workflows/ci-slither.yml
  .github/workflows/ci.yml
  .github/workflows/cron-stale.yml
  .github/workflows/stale.yml
Due: prettier --write

build: bump evm-utils
  bun.lock
  package.json
  src/abstracts/SablierFactoryMerkleBase.sol
  tests/integration/concrete/factory/shared/disable-custom-fee-usd/disableCustomFeeUSD.t.sol
  tests/integration/concrete/factory/shared/set-custom-fee-usd/setCustomFeeUSD.t.sol
  tests/integration/concrete/factory/shared/set-min-fee-usd/setMinFeeUSD.t.sol
Due: prettier --write, bun solhint {scripts/solidity,src,tests}/**/*.sol --fix --noPrompt, forge fmt

build: bump evm-utils docs: fix inherited components perf: use internal function to check for roles
  bun.lock
  package.json
  src/abstracts/SablierFactoryMerkleBase.sol
Due: prettier --write, bun solhint {scripts/solidity,src,tests}/**/*.sol --fix --noPrompt, forge fmt

refactor: rename getTranchesWithPercentages to tranchesWithPercentages
  src/SablierMerkleLT.sol
  src/interfaces/ISablierMerkleLT.sol
  tests/integration/concrete/campaign/lt/constructor.t.sol
  tests/integration/fuzz/MerkleLT.t.sol
Due: bun solhint {scripts/solidity,src,tests}/**/*.sol --fix --noPrompt, forge fmt

refactor: rename TOTAL_PERCENTAGE to TRANCHES_TOTAL_PERCENTAGE
  src/SablierMerkleLT.sol
  src/interfaces/ISablierMerkleLT.sol
  tests/integration/concrete/campaign/lt/constructor.t.sol
  tests/integration/fuzz/MerkleLT.t.sol
  tests/utils/Constants.sol
Due: bun solhint {scripts/solidity,src,tests}/**/*.sol --fix --noPrompt, forge fmt

feat: access based control over fee functions (#148)
  bun.lock
  package.json
  src/abstracts/SablierFactoryMerkleBase.sol
  src/interfaces/ISablierFactoryMerkleBase.sol
  src/libraries/Errors.sol
  tests/Base.t.sol
  tests/integration/concrete/factory/shared/collect-fees/collectFees.t.sol
  tests/integration/concrete/factory/shared/collect-fees/collectFees.tree
  tests/integration/concrete/factory/shared/disable-custom-fee-usd/disableCustomFeeUSD.t.sol
  tests/integration/concrete/factory/shared/disable-custom-fee-usd/disableCustomFeeUSD.tree
  tests/integration/concrete/factory/shared/set-custom-fee-usd/setCustomFeeUSD.t.sol
  tests/integration/concrete/factory/shared/set-custom-fee-usd/setCustomFeeUSD.tree
  tests/integration/concrete/factory/shared/set-min-fee-usd/setMinFeeUSD.t.sol
  tests/integration/concrete/factory/shared/set-min-fee-usd/setMinFeeUSD.tree
  tests/utils/Modifiers.sol
  tests/utils/Types.sol
Due: prettier --write, bun solhint {scripts/solidity,src,tests}/**/*.sol --fix --noPrompt, forge fmt

ci: use latest version of bun
  .github/workflows/ci-multibuild.yml
Due: prettier --write

docs: function headers
  src/SablierFactoryMerkleInstant.sol
  src/SablierFactoryMerkleLL.sol
  src/SablierFactoryMerkleLT.sol
  src/SablierFactoryMerkleVCA.sol
  src/SablierMerkleInstant.sol
  src/SablierMerkleLL.sol
  src/SablierMerkleLT.sol
  src/SablierMerkleVCA.sol
  src/abstracts/SablierFactoryMerkleBase.sol
  src/abstracts/SablierMerkleBase.sol
  src/abstracts/SablierMerkleLockup.sol
  src/interfaces/ISablierFactoryMerkleBase.sol
  src/interfaces/ISablierFactoryMerkleInstant.sol
  src/interfaces/ISablierFactoryMerkleLL.sol
  src/interfaces/ISablierFactoryMerkleLT.sol
  src/interfaces/ISablierFactoryMerkleVCA.sol
  src/interfaces/ISablierMerkleBase.sol
  src/interfaces/ISablierMerkleInstant.sol
  src/interfaces/ISablierMerkleLL.sol
  src/interfaces/ISablierMerkleLT.sol
  src/interfaces/ISablierMerkleLockup.sol
  src/interfaces/ISablierMerkleVCA.sol
Due: bun solhint {scripts/solidity,src,tests}/**/*.sol --fix --noPrompt, forge fmt

refactor: claim definitions into merkle contracts
  README.md
  src/SablierMerkleInstant.sol
  src/SablierMerkleLL.sol
  src/SablierMerkleLT.sol
  src/SablierMerkleVCA.sol
  src/abstracts/SablierMerkleBase.sol
  src/interfaces/ISablierMerkleBase.sol
  src/interfaces/ISablierMerkleInstant.sol
  src/interfaces/ISablierMerkleLL.sol
  src/interfaces/ISablierMerkleLT.sol
  src/interfaces/ISablierMerkleVCA.sol
  tests/Base.t.sol
  tests/fork/merkle-campaign/MerkleVCA.t.sol
  tests/integration/Integration.t.sol
  tests/integration/concrete/campaign/ll/claim/claim.t.sol
  tests/integration/concrete/campaign/lt/claim/claim.t.sol
  tests/integration/concrete/campaign/shared/claim/claim.t.sol
  tests/integration/concrete/campaign/vca/claim/claim.t.sol
  tests/integration/concrete/factory/instant/FactoryMerkleInstant.t.sol
  tests/integration/concrete/factory/ll/FactoryMerkleLL.t.sol
  tests/integration/concrete/factory/lt/FactoryMerkleLT.t.sol
  tests/integration/concrete/factory/vca/FactoryMerkleVCA.t.sol
  tests/integration/fuzz/Fuzz.t.sol
  tests/integration/fuzz/MerkleInstant.t.sol
  tests/integration/fuzz/MerkleLL.t.sol
  tests/integration/fuzz/MerkleLT.t.sol
  tests/integration/fuzz/MerkleVCA.t.sol
Due: prettier --write, bun solhint {scripts/solidity,src,tests}/**/*.sol --fix --noPrompt, forge fmt

feat: claimTo function
  src/SablierMerkleInstant.sol
  src/SablierMerkleLL.sol
  src/SablierMerkleLT.sol
  src/SablierMerkleVCA.sol
  src/interfaces/ISablierMerkleInstant.sol
  src/interfaces/ISablierMerkleLL.sol
  src/interfaces/ISablierMerkleLT.sol
  src/interfaces/ISablierMerkleLockup.sol
  src/interfaces/ISablierMerkleVCA.sol
  src/libraries/Errors.sol
  tests/Base.t.sol
  tests/fork/merkle-campaign/MerkleLL.t.sol
  tests/fork/merkle-campaign/MerkleLT.t.sol
  tests/fork/merkle-campaign/MerkleVCA.t.sol
  tests/integration/Integration.t.sol
  tests/integration/concrete/campaign/instant/claim-to/claimTo.t.sol
  tests/integration/concrete/campaign/instant/claim/claim.t.sol
  tests/integration/concrete/campaign/ll/claim-to/claimTo.t.sol
  tests/integration/concrete/campaign/ll/claim-to/claimTo.tree
  tests/integration/concrete/campaign/lt/claim-to/claimTo.t.sol
  tests/integration/concrete/campaign/lt/claim-to/claimTo.tree
  tests/integration/concrete/campaign/shared/claim-to/claimTo.t.sol
  tests/integration/concrete/campaign/shared/claim-to/claimTo.tree
  tests/integration/concrete/campaign/shared/claim/claim.tree
  tests/integration/concrete/campaign/vca/claim-to/claimTo.t.sol
  tests/integration/concrete/campaign/vca/claim-to/claimTo.tree
  tests/integration/fuzz/Fuzz.t.sol
  tests/integration/fuzz/MerkleInstant.t.sol
  tests/integration/fuzz/MerkleLL.t.sol
  tests/integration/fuzz/MerkleLT.t.sol
  tests/integration/fuzz/MerkleVCA.t.sol
  tests/utils/Modifiers.sol
  tests/utils/Types.sol
Due: bun solhint {scripts/solidity,src,tests}/**/*.sol --fix --noPrompt, forge fmt

chore: rename bun script commands
  package.json
Due: prettier --write

docs: add warning about empty ipfsCID
  src/interfaces/ISablierMerkleBase.sol
  src/types/DataTypes.sol
Due: bun solhint {scripts/solidity,src,tests}/**/*.sol --fix --noPrompt, forge fmt
