Repository sablier-labs/airdrops: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, bun solhint {precompiles,script,src,tests}/**/*.sol --fix --noPrompt, forge fmt

test: add test in claim when total pct is higher than 100
  tests/integration/concrete/ll/claim/claim.t.sol
  tests/integration/concrete/ll/claim/claim.tree
  tests/utils/Modifiers.sol
Due: bun solhint {precompiles,script,src,tests}/**/*.sol --fix --noPrompt, forge fmt

chore: order imports
  script/CreateMerkleLL.s.sol
Due: bun solhint {precompiles,script,src,tests}/**/*.sol --fix --noPrompt, forge fmt

test: fix typo
  tests/integration/concrete/ll/constructor.t.sol
Due: bun solhint {precompiles,script,src,tests}/**/*.sol --fix --noPrompt, forge fmt

refactor: remove the assert in _calculateStartTimeAndTranches
  src/SablierMerkleLT.sol
  src/interfaces/ISablierMerkleBase.sol
  src/interfaces/ISablierMerkleFactory.sol
  src/interfaces/ISablierMerkleLL.sol
  src/types/DataTypes.sol
Due: bun solhint {precompiles,script,src,tests}/**/*.sol --fix --noPrompt, forge fmt

docs: polish wording in NatSpec
  src/interfaces/ISablierMerkleBase.sol
  src/interfaces/ISablierMerkleFactory.sol
  tests/integration/concrete/ll/claim/claim.t.sol
  tests/integration/concrete/lt/claim/claim.t.sol
Due: bun solhint {precompiles,script,src,tests}/**/*.sol --fix --noPrompt, forge fmt

docs: further polish wording
  src/interfaces/ISablierMerkleFactory.sol
Due: bun solhint {precompiles,script,src,tests}/**/*.sol --fix --noPrompt, forge fmt

feat: implement abort functionality
  bun.lockb
  package.json
  src/SablierMerkleLL.sol
  src/SablierMerkleLT.sol
  src/interfaces/ISablierMerkleBase.sol
  src/interfaces/ISablierMerkleLL.sol
  src/interfaces/ISablierMerkleLT.sol
  src/libraries/Errors.sol
Due: prettier --write, bun solhint {precompiles,script,src,tests}/**/*.sol --fix --noPrompt, forge fmt

test: add abort tests
  tests/integration/concrete/ll/abort/abort.t.sol
  tests/integration/concrete/ll/abort/abort.tree
  tests/integration/concrete/ll/claim/claim.t.sol
  tests/integration/concrete/ll/claim/claim.tree
  tests/integration/concrete/lt/claim/claim.t.sol
  tests/utils/Defaults.sol
Due: bun solhint {precompiles,script,src,tests}/**/*.sol --fix --noPrompt, forge fmt

refactor: abort functionality
  src/SablierMerkleLL.sol
  src/SablierMerkleLT.sol
  src/interfaces/ISablierMerkleLL.sol
  src/interfaces/ISablierMerkleLT.sol
  src/libraries/Errors.sol
  tests/Base.t.sol
  tests/integration/Integration.t.sol
  tests/integration/concrete/ll/claim/claim.t.sol
  tests/integration/concrete/ll/claim/claim.tree
  tests/integration/concrete/lt/abort/abort.t.sol
  tests/integration/concrete/lt/abort/abort.tree
  tests/integration/concrete/lt/claim/claim.tree
  tests/utils/Defaults.sol
Due: bun solhint {precompiles,script,src,tests}/**/*.sol --fix --noPrompt, forge fmt

docs: furthur polishes
  src/SablierMerkleLL.sol
  src/interfaces/ISablierMerkleBase.sol
  src/interfaces/ISablierMerkleFactory.sol
Due: bun solhint {precompiles,script,src,tests}/**/*.sol --fix --noPrompt, forge fmt

refactor: move fee calculation from Factory to MerkleBase
  src/SablierMerkleFactory.sol
  src/SablierMerkleInstant.sol
  src/SablierMerkleLL.sol
  src/SablierMerkleLT.sol
  src/abstracts/SablierMerkleBase.sol
  src/interfaces/ISablierMerkleFactory.sol
  tests/Base.t.sol
  tests/fork/merkle-campaign/MerkleInstant.t.sol
  tests/fork/merkle-campaign/MerkleLL.t.sol
  tests/fork/merkle-campaign/MerkleLT.t.sol
  tests/integration/Integration.t.sol
  tests/integration/concrete/factory/create-merkle-instant/createMerkleInstant.t.sol
  tests/integration/concrete/factory/create-merkle-ll/createMerkleLL.t.sol
  tests/integration/concrete/factory/create-merkle-lt/createMerkleLT.t.sol
  tests/integration/concrete/instant/constructor.t.sol
  tests/integration/concrete/ll/constructor.t.sol
  tests/integration/concrete/lt/constructor.t.sol
Due: bun solhint {precompiles,script,src,tests}/**/*.sol --fix --noPrompt, forge fmt

test: concrete tests for computeFee
  tests/integration/concrete/factory/compute-fee/computeFee.t.sol
  tests/integration/concrete/factory/compute-fee/computeFee.tree
Due: bun solhint {precompiles,script,src,tests}/**/*.sol --fix --noPrompt, forge fmt

refactor: remove cliff calculations from unchecked
  src/SablierMerkleLL.sol
Due: bun solhint {precompiles,script,src,tests}/**/*.sol --fix --noPrompt, forge fmt

refactor: function names
  src/SablierMerkleFactory.sol
  src/SablierMerkleInstant.sol
  src/SablierMerkleLL.sol
  src/SablierMerkleLT.sol
  src/abstracts/SablierMerkleBase.sol
  src/interfaces/ISablierMerkleFactory.sol
  tests/Base.t.sol
  tests/integration/concrete/factory/get-fee/getFee.t.sol
  tests/integration/concrete/factory/get-fee/getFee.tree
  tests/integration/concrete/factory/reset-custom-fee/resetCustomFee.t.sol
  tests/integration/concrete/factory/set-custom-fee/setCustomFee.t.sol
  tests/integration/concrete/instant/constructor.t.sol
  tests/integration/concrete/ll/constructor.t.sol
  tests/integration/concrete/lt/constructor.t.sol
Due: bun solhint {precompiles,script,src,tests}/**/*.sol --fix --noPrompt, forge fmt

feat: emit fee in CreateMerkle events refactor: use uint256 for totalPercentage in isPercentagesSum100 docs: update natspecs of isPercentagesSum100
  src/SablierMerkleFactory.sol
  src/interfaces/ISablierMerkleFactory.sol
  tests/fork/merkle-campaign/MerkleInstant.t.sol
  tests/fork/merkle-campaign/MerkleLL.t.sol
  tests/fork/merkle-campaign/MerkleLT.t.sol
  tests/integration/concrete/factory/create-merkle-instant/createMerkleInstant.t.sol
  tests/integration/concrete/factory/create-merkle-ll/createMerkleLL.t.sol
  tests/integration/concrete/factory/create-merkle-lt/createMerkleLT.t.sol
  tests/integration/concrete/factory/is-percentages-sum-100/isPercentagesSum100.t.sol
  tests/integration/concrete/factory/is-percentages-sum-100/isPercentagesSum100.tree
  tests/utils/Modifiers.sol
Due: bun solhint {precompiles,script,src,tests}/**/*.sol --fix --noPrompt, forge fmt

chore: use named in _deployMerkleLT
  src/SablierMerkleFactory.sol
  src/abstracts/SablierMerkleBase.sol
  tests/Base.t.sol
  tests/integration/Integration.t.sol
Due: bun solhint {precompiles,script,src,tests}/**/*.sol --fix --noPrompt, forge fmt

docs: polish getter natspec
  src/interfaces/ISablierMerkleFactory.sol
Due: bun solhint {precompiles,script,src,tests}/**/*.sol --fix --noPrompt, forge fmt

test: rename givenCampaignNotExists to givenCampaignNotExist
  tests/integration/concrete/factory/create-merkle-instant/createMerkleInstant.t.sol
  tests/integration/concrete/factory/create-merkle-ll/createMerkleLL.t.sol
  tests/integration/concrete/factory/create-merkle-lt/createMerkleLT.t.sol
  tests/utils/Modifiers.sol
Due: bun solhint {precompiles,script,src,tests}/**/*.sol --fix --noPrompt, forge fmt

test: fix variable naming
  tests/integration/concrete/factory/create-merkle-instant/createMerkleInstant.t.sol
  tests/integration/concrete/factory/create-merkle-ll/createMerkleLL.t.sol
  tests/integration/concrete/factory/create-merkle-lt/createMerkleLT.t.sol
Due: bun solhint {precompiles,script,src,tests}/**/*.sol --fix --noPrompt, forge fmt

docs: changelog for v1.3.0
  CHANGELOG.md
Due: prettier --write

style: move note before version
  CHANGELOG.md
Due: prettier --write

docs: polish changelog
  CHANGELOG.md
Due: prettier --write

docs: remove redundant changelog
  CHANGELOG.md
Due: prettier --write

build: update lockup dependency
  bun.lockb
  package.json
Due: prettier --write

feat: add admin map in base script
  script/Base.s.sol
  script/DeployDeterministicMerkleFactory.s.sol
Due: bun solhint {precompiles,script,src,tests}/**/*.sol --fix --noPrompt, forge fmt

build: add more endpoints
  foundry.toml
Due: none

feat: abstract chain support
  deploy/deploy.ts
  hardhat.config.ts
Due: none

Add zkSync deployment support
  package.json
Due: prettier --write

build: use NPM publish
  bun.lockb
  package.json
Due: prettier --write

feat: auto load admin in non-deterministic script
  script/DeployMerkleFactory.s.sol
Due: bun solhint {precompiles,script,src,tests}/**/*.sol --fix --noPrompt, forge fmt

refactor: remove precompiles
  .lintstagedrc.yml
  codecov.yml
  package.json
  precompiles/Precompiles.sol
  shell/update-precompiles.sh
  tests/utils/Precompiles.t.sol
Due: prettier --write, bun solhint {precompiles,script,src,tests}/**/*.sol --fix --noPrompt, forge fmt

chore: add more dirs in .gitignore file
  .gitignore
Due: none

refactor: update newly deployed addresses
  script/CreateMerkleInstant.s.sol
  script/CreateMerkleLL.s.sol
  script/CreateMerkleLT.s.sol
  tests/fork/Fork.t.sol
Due: bun solhint {precompiles,script,src,tests}/**/*.sol --fix --noPrompt, forge fmt

refactor: separate out parameters struct for Merkle Instant and Merkle Lockups refactor: refactor shape and camapign name as bytes32 in Merkle campaign constructor arguments
  script/CreateMerkleInstant.s.sol
  script/CreateMerkleLL.s.sol
  script/CreateMerkleLT.s.sol
  src/SablierMerkleFactory.sol
  src/SablierMerkleInstant.sol
  src/SablierMerkleLL.sol
  src/SablierMerkleLT.sol
  src/abstracts/SablierMerkleBase.sol
  src/abstracts/SablierMerkleLockup.sol
  src/interfaces/ISablierMerkleBase.sol
  src/interfaces/ISablierMerkleFactory.sol
  src/interfaces/ISablierMerkleLL.sol
  src/interfaces/ISablierMerkleLT.sol
  src/interfaces/ISablierMerkleLockup.sol
  src/types/DataTypes.sol
  tests/Base.t.sol
  tests/fork/merkle-campaign/MerkleInstant.t.sol
  tests/fork/merkle-campaign/MerkleLL.t.sol
  tests/fork/merkle-campaign/MerkleLT.t.sol
  tests/integration/Integration.t.sol
  tests/integration/concrete/factory/create-merkle-instant/createMerkleInstant.t.sol
  tests/integration/concrete/factory/create-merkle-instant/createMerkleInstant.tree
  tests/integration/concrete/factory/create-merkle-ll/createMerkleLL.t.sol
  tests/integration/concrete/factory/create-merkle-ll/createMerkleLL.tree
  tests/integration/concrete/factory/create-merkle-lt/createMerkleLT.t.sol
  tests/integration/concrete/factory/create-merkle-lt/createMerkleLT.tree
  tests/integration/concrete/instant/constructor.t.sol
  tests/integration/concrete/ll/claim/claim.t.sol
  tests/integration/concrete/ll/constructor.t.sol
  tests/integration/concrete/lt/claim/claim.t.sol
  tests/integration/concrete/lt/constructor.t.sol
  tests/utils/Defaults.sol
  tests/utils/Modifiers.sol
Due: bun solhint {precompiles,script,src,tests}/**/*.sol --fix --noPrompt, forge fmt

Path conditions:
  prettier --write: any of: *.{json,md,svg,yml}
  bun solhint {precompiles,script,src,tests}/**/*.sol --fix --noPrompt: any of: *.sol
  forge fmt: any of: *.sol
