Repository sablier-labs/lockup: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, bun solhint {precompiles,script,src,tests}/**/*.sol --fix --noPrompt, forge fmt

fix: address audit findings 6, 8 (#39)
  src/SablierMerkleFactory.sol
  src/SablierMerkleInstant.sol
  src/SablierMerkleLL.sol
  src/SablierMerkleLT.sol
  src/abstracts/SablierMerkleBase.sol
  src/interfaces/ISablierMerkleFactory.sol
  tests/Base.t.sol
  tests/fork/merkle-campaign/MerkleInstant.t.sol
  tests/fork/merkle-campaign/MerkleLL.t.sol
  tests/fork/merkle-campaign/MerkleLT.t.sol
  tests/integration/Integration.t.sol
  tests/integration/concrete/factory/create-merkle-instant/createMerkleInstant.t.sol
  tests/integration/concrete/factory/create-merkle-ll/createMerkleLL.t.sol
  tests/integration/concrete/factory/create-merkle-lt/createMerkleLT.t.sol
  tests/integration/concrete/factory/get-fee/getFee.t.sol
  tests/integration/concrete/factory/get-fee/getFee.tree
  tests/integration/concrete/factory/is-percentages-sum-100/isPercentagesSum100.t.sol
  tests/integration/concrete/factory/is-percentages-sum-100/isPercentagesSum100.tree
  tests/integration/concrete/factory/reset-custom-fee/resetCustomFee.t.sol
  tests/integration/concrete/factory/set-custom-fee/setCustomFee.t.sol
  tests/integration/concrete/instant/constructor.t.sol
  tests/integration/concrete/ll/constructor.t.sol
  tests/integration/concrete/lt/constructor.t.sol
  tests/utils/Modifiers.sol
Due: bun solhint {precompiles,script,src,tests}/**/*.sol --fix --noPrompt, forge fmt

chore: update precompiles
  precompiles/Precompiles.sol
Due: bun solhint {precompiles,script,src,tests}/**/*.sol --fix --noPrompt, forge fmt

docs: readme
  README.md
Due: prettier --write

Update README.md
  README.md
Due: prettier --write

build: update lockup commit
  bun.lockb
  package.json
Due: prettier --write

test: refactor withdraw tests to cover all edge cases (#368)
  benchmark/Flow.Gas.t.sol
  tests/integration/Integration.t.sol
  tests/integration/concrete/Concrete.t.sol
  tests/integration/concrete/collect-protocol-revenue/collectProtocolRevenue.t.sol
  tests/integration/concrete/depletion-time-of/depletionTimeOf.t.sol
  tests/integration/concrete/getters/getters.t.sol
  tests/integration/concrete/ongoing-debt-of/ongoingDebtScaledOf.t.sol
  tests/integration/concrete/payable/payable.t.sol
  tests/integration/concrete/withdraw/withdraw.t.sol
  tests/integration/concrete/withdraw/withdraw.tree
  tests/integration/concrete/withdrawable-amount-of/withdrawableAmountOf.t.sol
  tests/integration/fuzz/ongoingDebtScaledOf.t.sol
  tests/utils/Constants.sol
  tests/utils/Modifiers.sol
Due: bun solhint {precompiles,script,src,tests}/**/*.sol --fix --noPrompt, forge fmt

fix: use 18 decimals format for the pct in LT script
  script/CreateMerkleLT.s.sol
Due: bun solhint {precompiles,script,src,tests}/**/*.sol --fix --noPrompt, forge fmt

chore: update arbitrum RPC url
  .gitignore
  foundry.toml
Due: none

docs: changelog for v1.3.0 (#46)
  CHANGELOG.md
Due: prettier --write

script: delete DeploymentLogger (#373)
  .gitignore
  script/Base.s.sol
  script/DeployDeterministicFlow.s.sol
  script/DeployFlow.s.sol
  script/DeploymentLogger.s.sol
Due: bun solhint {precompiles,script,src,tests}/**/*.sol --fix --noPrompt, forge fmt

docs: changelog for v1.1.0 (#374)
  CHANGELOG.md
Due: prettier --write

build: update lockup dependency (#48)
  bun.lockb
  package.json
Due: prettier --write

build: add more endpoints (#49)
  foundry.toml
  script/Base.s.sol
  script/DeployDeterministicMerkleFactory.s.sol
  script/DeployMerkleFactory.s.sol
Due: bun solhint {precompiles,script,src,tests}/**/*.sol --fix --noPrompt, forge fmt

docs: update date in CHANGELOG
  CHANGELOG.md
Due: prettier --write

refactor: remove precompiles (#379)
  .gitignore
  SECURITY.md
  codecov.yml
  package.json
  precompiles/Precompiles.sol
  shell/update-precompiles.sh
  tests/utils/Precompiles.t.sol
Due: prettier --write, bun solhint {precompiles,script,src,tests}/**/*.sol --fix --noPrompt, forge fmt

refactor: remove precompiles (#51)
  .gitignore
  .lintstagedrc.yml
  codecov.yml
  package.json
  precompiles/Precompiles.sol
  shell/update-precompiles.sh
  tests/utils/Precompiles.t.sol
Due: prettier --write, bun solhint {precompiles,script,src,tests}/**/*.sol --fix --noPrompt, forge fmt

docs: update CHANGELOG date
  CHANGELOG.md
Due: prettier --write

chore: remove variable from Base script
  script/Base.s.sol
Due: bun solhint {precompiles,script,src,tests}/**/*.sol --fix --noPrompt, forge fmt

refactor: update newly deployed addresses (#53)
  script/CreateMerkleInstant.s.sol
  script/CreateMerkleLL.s.sol
  script/CreateMerkleLT.s.sol
  tests/fork/Fork.t.sol
Due: bun solhint {precompiles,script,src,tests}/**/*.sol --fix --noPrompt, forge fmt

test: use mainnet address in fork tests (#381)
  script/DeployDeterministicFlow.s.sol
  tests/fork/Fork.t.sol
Due: bun solhint {precompiles,script,src,tests}/**/*.sol --fix --noPrompt, forge fmt

test: use mainnet addresses in fork tests (#55)
  package.json
  script/CreateMerkleInstant.s.sol
  script/CreateMerkleLL.s.sol
  script/CreateMerkleLT.s.sol
  script/DeployDeterministicMerkleFactory.s.sol
  script/DeployMerkleFactory.s.sol
  tests/Base.t.sol
  tests/fork/Fork.t.sol
  tests/fork/merkle-campaign/MerkleInstant.t.sol
  tests/fork/merkle-campaign/MerkleLL.t.sol
  tests/fork/merkle-campaign/MerkleLT.t.sol
Due: prettier --write, bun solhint {precompiles,script,src,tests}/**/*.sol --fix --noPrompt, forge fmt

tests: use relative path in utils contracts (#383)
  CHANGELOG.md
  package.json
  tests/utils/Assertions.sol
Due: prettier --write, bun solhint {precompiles,script,src,tests}/**/*.sol --fix --noPrompt, forge fmt

ci: add fork test workflow (#390)
  .github/workflows/ci-deep.yml
  .github/workflows/ci-fork.yml
Due: prettier --write

ci: run fork tests on 2 days a week (#64)
  .github/workflows/ci-fork.yml
Due: prettier --write

refactor: remove broker fee functionality (#384)
  benchmark/Flow.Gas.t.sol
  benchmark/results/SablierFlow.md
  src/SablierFlow.sol
  src/interfaces/ISablierFlow.sol
  src/interfaces/ISablierFlowBase.sol
  src/libraries/Errors.sol
  src/libraries/Helpers.sol
  src/types/DataTypes.sol
  tests/Base.t.sol
  tests/integration/concrete/Concrete.t.sol
  tests/integration/concrete/deposit-via-broker/depositViaBroker.t.sol
  tests/integration/concrete/deposit-via-broker/depositViaBroker.tree
  tests/integration/concrete/payable/payable.t.sol
  tests/integration/concrete/payable/payable.tree
  tests/utils/Constants.sol
  tests/utils/Modifiers.sol
  tests/utils/Types.sol
Due: prettier --write, bun solhint {precompiles,script,src,tests}/**/*.sol --fix --noPrompt, forge fmt

chore: remove defaults in prettier config
  .prettierrc.yml
Due: prettier --write

test: remove date from constants
  tests/utils/Constants.sol
Due: bun solhint {precompiles,script,src,tests}/**/*.sol --fix --noPrompt, forge fmt

refactor: remove protocol fee (#385)
  TECHNICAL-DOC.md
  src/SablierFlow.sol
  src/abstracts/SablierFlowBase.sol
  src/interfaces/ISablierFlow.sol
  src/interfaces/ISablierFlowBase.sol
  src/libraries/Errors.sol
  src/libraries/Helpers.sol
  tests/Base.t.sol
  tests/fork/Flow.t.sol
  tests/fork/Fork.t.sol
  tests/integration/concrete/batch/batch.t.sol
  tests/integration/concrete/collect-protocol-revenue/collectProtocolRevenue.t.sol
  tests/integration/concrete/collect-protocol-revenue/collectProtocolRevenue.tree
  tests/integration/concrete/constructor.t.sol
  tests/integration/concrete/set-protocol-fee/setProtocolFee.t.sol
  tests/integration/concrete/set-protocol-fee/setProtocolFee.tree
  tests/integration/concrete/withdraw-max/withdrawMax.t.sol
  tests/integration/concrete/withdraw/withdraw.t.sol
  tests/integration/concrete/withdraw/withdraw.tree
  tests/integration/fuzz/withdraw.t.sol
  tests/integration/fuzz/withdrawMax.t.sol
  tests/integration/fuzz/withdrawMultiple.t.sol
  tests/invariant/Flow.t.sol
  tests/invariant/handlers/FlowAdminHandler.sol
  tests/utils/Constants.sol
  tests/utils/Modifiers.sol
  tests/utils/Vars.sol
Due: prettier --write, bun solhint {precompiles,script,src,tests}/**/*.sol --fix --noPrompt, forge fmt

test: use IERC20 type for tokens array
  tests/Base.sol
Due: bun solhint {precompiles,script,src,tests}/**/*.sol --fix --noPrompt, forge fmt

build: bump evm-utils
  package.json
Due: prettier --write

feat: include token transfer wrapper (#391)
  src/SablierFlow.sol
  src/interfaces/ISablierFlow.sol
  tests/integration/fuzz/TransferFrom.t.sol
Due: bun solhint {precompiles,script,src,tests}/**/*.sol --fix --noPrompt, forge fmt

Path conditions:
  prettier --write: any of: *.{json,md,yml}
  bun solhint {precompiles,script,src,tests}/**/*.sol --fix --noPrompt: any of: *.sol
  forge fmt: any of: *.sol
